<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>workstation</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.3/dat.gui.min.js"></script>
  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/dataarts/dat.gui/build/dat.gui.min.js"></script> -->
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/mrdoob/stats.js/build/stats.min.js"></script>  
  <script type="text/javascript" src="https://unpkg.com/three@latest/build/three.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/ami.js@next/build/ami.min.js"></script> 
  <script type="text/javascript" src="https://unpkg.com/three@latest/examples/js/loaders/STLLoader.js"></script>   
  <script type="text/javascript" src="https://cdn.jsdelivr.net/gh/FNNDSC/ami@master/src/loaders/loaders.freesurfer.js"></script> 
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!--     <link: [ {rel: 'icon', type: 'image/x-icon', href: '/favicon.ico'}, {rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons'} ]> -->
  </head>
  <body>
    <noscript>
      <strong>We're sorry but workstation doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.js" charset="utf-8"></script>

    
  </body>
</html>
