<template>
	<v-container>
		<v-layout>
			<v-flex row>
				<!-- <div id="my-gui-container"></div> -->
				<div style="height:512px;width:512px" id="canvas" ref="canvas"></div>	
				<div id="my-gui-container"></div>
				
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
	// import * as THREE from 'three';
	// import * as AMI from 'ami.js';

	export default {
		name: "CanvasDisplay",
		data() {
			return {
				canvas: null,
				context: null,
				isDrawing: false,
				startX: 0,
				startY: 0,
				points: [],
			}
		},
		mounted(){
			const filenames = [
				'000000.dcm',
				'000001.dcm',
				'000002.dcm',
				'000003.dcm',
				'000004.dcm',
				'000005.dcm',
				'000006.dcm',
				'000007.dcm',
				'000008.dcm',
				'000009.dcm',
				'000010.dcm',
				'000011.dcm',
				'000012.dcm',
				'000013.dcm',
				'000014.dcm',
				'000015.dcm',
				'000016.dcm',
				'000017.dcm',
				'000018.dcm',
				'000019.dcm',
				'000020.dcm',
				'000021.dcm',
				'000022.dcm',
				'000023.dcm',
				'000024.dcm',
				'000025.dcm',
				'000026.dcm',
				'000027.dcm',
				'000028.dcm',
				'000029.dcm',
				'000030.dcm',
				'000031.dcm',
				'000032.dcm',
				'000033.dcm',
				'000034.dcm',
				'000035.dcm',
				'000036.dcm',
				'000037.dcm',
				'000038.dcm',
				'000039.dcm',
				'000040.dcm',
				'000041.dcm',
				'000042.dcm',
				'000043.dcm',
				'000044.dcm',
				'000045.dcm',
				'000046.dcm',
				'000047.dcm',
				'000048.dcm',
				'000049.dcm',
				'000050.dcm',
				'000051.dcm',
				'000052.dcm',
				'000053.dcm',
				'000054.dcm',
				'000055.dcm',
				'000056.dcm',
				'000057.dcm',
				'000058.dcm',
				'000059.dcm',
				'000060.dcm',
				'000061.dcm',
				'000062.dcm',
				'000063.dcm',
				'000064.dcm',
				'000065.dcm',
				'000066.dcm',
				'000067.dcm',
				'000068.dcm',
				'000069.dcm',
				'000070.dcm',
				'000071.dcm',
				'000072.dcm',
				'000073.dcm',
				'000074.dcm',
				'000075.dcm',
				'000076.dcm',
				'000077.dcm',
				'000078.dcm',
				'000079.dcm',
				'000080.dcm',
				'000081.dcm',
				'000082.dcm',
				'000083.dcm',
				'000084.dcm',
				'000085.dcm',
				'000086.dcm',
				'000087.dcm',
				'000088.dcm',
				'000089.dcm',
				'000090.dcm',
				'000091.dcm',
				'000092.dcm',
				'000093.dcm',
				'000094.dcm',
				'000095.dcm',
				'000096.dcm',
				'000097.dcm',
				'000098.dcm',
				'000099.dcm',
				'000100.dcm',
				'000101.dcm',
				'000102.dcm',
				'000103.dcm',
				'000104.dcm',
				'000105.dcm',
				'000106.dcm',
				'000107.dcm',
				'000108.dcm',
				'000109.dcm',
				'000110.dcm',
				'000111.dcm',
				'000112.dcm',
				'000113.dcm',
				'000114.dcm',
				'000115.dcm',
				'000116.dcm',
				'000117.dcm',
				'000118.dcm',
				'000119.dcm',
				'000120.dcm',
				'000121.dcm',
				'000122.dcm',
				'000123.dcm',
				'000124.dcm',
				'000125.dcm',
				'000126.dcm',
				'000127.dcm',
				'000128.dcm',
				'000129.dcm',
				'000130.dcm',
				'000131.dcm',
				'000132.dcm',
				'000133.dcm',
			];

			const files = filenames.map(filename => {
				return `http://localhost:8080/static/${filename}`;
			});		

			const colors = {
				red: 0xff0000,
				blue: 0x0000ff,
				darkGrey: 0x353535,
			};

			// const container = document.getElementById('canvas');
			// console.log(container);
			let container = this.$refs.canvas;			
			const renderer = new THREE.WebGLRenderer({
			  antialias: true,
			});
			renderer.setSize(container.offsetWidth, container.offsetHeight);
			renderer.setClearColor(colors.darkGrey, 1);
			renderer.setPixelRatio(window.devicePixelRatio);
			container.appendChild(renderer.domElement);

			const scene = new THREE.Scene();

			const camera = new THREE.PerspectiveCamera(
			  45,
			  container.offsetWidth / container.offsetHeight,
			  0.1,
			  1000
			);
			camera.position.x = 150;
			camera.position.y = 150;
			camera.position.z = 100;

			const controls = new AMI.TrackballControl(camera, container);

			const onWindowResize = () => {
			  camera.aspect = container.offsetWidth / container.offsetHeight;
			  camera.updateProjectionMatrix();

			  renderer.setSize(container.offsetWidth, container.offsetHeight);
			};

			window.addEventListener('resize', onWindowResize, false);

			// Load DICOM images and create AMI Helpers
			const loader = new AMI.VolumeLoader(container);
			loader
			  .load(files)
			  .then(() => {
			    const series = loader.data[0].mergeSeries(loader.data);
			    const stack = series[0].stack[0];
			    loader.free();

			    const stackHelper = new AMI.StackHelper(stack);
			    stackHelper.bbox.color = colors.red;
			    stackHelper.border.color = colors.blue;

			    scene.add(stackHelper);

			    // build the gui
			    gui(stackHelper);

			    // center camera and interactor to center of bouding box
			    const centerLPS = stackHelper.stack.worldCenter();
			    camera.lookAt(centerLPS.x, centerLPS.y, centerLPS.z);
			    camera.updateProjectionMatrix();
			    controls.target.set(centerLPS.x, centerLPS.y, centerLPS.z);
			  })
			  .catch(error => {
			    window.console.log('oops... something went wrong...');
			    window.console.log(error);
			  });

			const animate = () => {
			  controls.update();
			  renderer.render(scene, camera);

			  requestAnimationFrame(() => {
			    animate();
			  });
			};
			animate();

			// setup gui
			const gui = stackHelper => {
			  const stack = stackHelper.stack;
			  const gui = new dat.GUI({
			    autoPlace: false,
			  });
			  const customContainer = document.getElementById('my-gui-container');
			  customContainer.appendChild(gui.domElement);

			  // stack
			  const stackFolder = gui.addFolder('Stack');
			  // index range depends on stackHelper orientation.
			  const index = stackFolder
			    .add(stackHelper, 'index', 0, stack.dimensionsIJK.z - 1)
			    .step(1)
			    .listen();
			  const orientation = stackFolder
			    .add(stackHelper, 'orientation', 0, 2)
			    .step(1)
			    .listen();
			  orientation.onChange(value => {
			    index.__max = stackHelper.orientationMaxIndex;
			    stackHelper.index = Math.floor(index.__max / 2);
			  });
			  stackFolder.open();

			  // slice
			  const sliceFolder = gui.addFolder('Slice');
			  sliceFolder
			    .add(stackHelper.slice, 'windowWidth', 1, stack.minMax[1] - stack.minMax[0])
			    .step(1)
			    .listen();
			  sliceFolder
			    .add(stackHelper.slice, 'windowCenter', stack.minMax[0], stack.minMax[1])
			    .step(1)
			    .listen();
			  sliceFolder.add(stackHelper.slice, 'intensityAuto').listen();
			  sliceFolder.add(stackHelper.slice, 'invert');
			  sliceFolder.open();

			  // bbox
			  const bboxFolder = gui.addFolder('Bounding Box');
			  bboxFolder.add(stackHelper.bbox, 'visible');
			  bboxFolder.addColor(stackHelper.bbox, 'color');
			  bboxFolder.open();

			  // border
			  const borderFolder = gui.addFolder('Border');
			  borderFolder.add(stackHelper.border, 'visible');
			  borderFolder.addColor(stackHelper.border, 'color');
			  borderFolder.open();
			};


			// var vm=this
			// vm.canvas=vm.$refs.canvas
			// vm.context=vm.canvas.getContext("2d");
			// vm.canvas.addEventListener('mousedown',vm.mousedown);
			// vm.canvas.addEventListener('mousemove',vm.mousemove)
			// document.addEventListener('mouseup',vm.mouseup)

			// url = window.URL || window.webkitURL;
			// alert(url);

			// loadImage();

			// var img=new Image();
			// img.onload=function(){
			// 	vm.context.drawImage(img,0,0);
			// }			
			// img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";
			
			// alert(img.src);

			// var img1 = new Image();
		 //    img1.onload = function () {
		 //        //draw background image
		 //        ctx.drawImage(img1, 0, 0);
		 //        //draw a box over the top
		 //        // ctx.fillStyle = "rgba(200, 0, 0, 0.5)";
		 //        // ctx.fillRect(0, 0, 500, 500);

		 //    };

		 //    img1.src = '../data/1.jpg';			

			// var img1 = new Image();
			// vm.context.drawImage(img1, 0, 0);
			// img1.src = '../data/1.jpg';
			// let img = await loadImage("./my/image/path.jpg");
			// vm.context.drawImage(img, 0, 0);			
		},
		methods:{
			mousedown(e){
				var vm=this
				var rect = vm.canvas.getBoundingClientRect();
				var x=e.clientX - rect.left;
				var y=e.clientY - rect.top;

				vm.isDrawing=true;
				vm.startX=x;
				vm.startY=y;
				vm.points.push({
					x:x,
					y:y
				});
			},
			mousemove(e){
				var vm=this
				var rect=vm.canvas.getBoundingClientRect();
				var x=e.clientX - rect.left;
				var y=e.clientY - rect.top;

				if (vm.isDrawing){
					vm.context.beginPath();
					vm.context.moveTo(vm.startX, vm.startY);
					vm.context.lineTo(x,y);
					vm.context.lineWidth=1;
					vm.context.lineCap = 'round';
					vm.context.strokeStyle="rgba(255,0,0,1)";
					vm.context.stroke();

					vm.startX=x;
					vm.startY=y;

					vm.points.push({
						x: x,
						y: y
					});
				}
			},
			mouseup(e){
				var vm=this
				vm.isDrawing=false;
				if (vm.points.length>0){
					localStorage['points'] = JSON.stringify(vm.points);
				}
			},
			loadImage(vm){
				var img=new Image();
				img.onload=function(){
					vm.context.drawImage(img,0,0);
				}			
				img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";	
			},
			resetCanvas(){
				var vm=this
				vm.canvas.width=vm.canvas.width;
				vm.points.length=0;	

				var img=new Image();
				img.onload=function(){
					vm.context.drawImage(img,0,0,900,700);
				}			
				img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";		

				// const toolType = 'stack'
				// const toolData = cornerstoneTools.getToolState(vm.canvas, toolType)
				// console.log(toolData)					
			},
			saveImage(){
				var vm=this
				var dataURL = vm.canvas.toDataURL();
				var img=vm.$refs.img;
				img.src=dataURL;
			},
			zoomIn(){
				var vm=this
				var img=new Image();
				img.onload=function(){
					vm.context.drawImage(img,0,0,1800,1400);
				}			
				img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";	
			},
			zoomOut(){
				var vm=this
				var img=new Image();
				img.onload=function(){
					vm.context.drawImage(img,0,0,900,700);
				}			
				img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";	
			},
			// loadImage(url) {
			//   return new Promise(r => { let i = new Image(); i.onload = (() => r(i)); i.src = url; });
			// },
			replay(){
				var vm=this
				vm.canvas.width=vm.canvas.width;

				var img=new Image();
				img.onload=function(){
					vm.context.drawImage(img,0,0,900,700);
				}			
				img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";		

				if (vm.points.length===0){
					if (localStorage["points"] !== undefined) {
						vm.points=JSON.parse(localStorage["points"]);
					}
				}

				var point=1;
				setInterval(function(){
					drawNextPoint(point);
					point +=1;
				},10);

				function drawNextPoint(index){
					if (index >= vm.points.length) {
						return;
					}

					var startX=vm.points[index-1].x;
					var startY=vm.points[index-1].y;

					var x=vm.points[index].x;
					var y=vm.points[index].y;

					// if ((x-startX)^2 + (y-startY)^2>10) {
						vm.context.beginPath();
						vm.context.moveTo(startX,startY);
						vm.context.lineTo(x,y);
						vm.context.lineWidth=1;
						vm.context.lineCap='round';
						vm.context.strokeStyle='rgba(255,0,0,1)';
						vm.context.stroke();						
					// } 


				}
			}
		}
	}

</script>

<style scoped>
	canvas {
		border: 1px solid red;
		cursor: crosshair;
	}
	body {
		padding: 2px;
	}
</style>