<template>
	<v-container>
		<v-layout row>
			<canvas ref="canvas" id='drawing-pad' width='900' height='700'>
				This is an interactive drawing pad.
			</canvas>
			<div>
				<v-flex row>
					<v-btn @click='resetCanvas'>Reset Canvas </v-btn>
					<!-- <v-btn @click='saveImage'>Save Image</v-btn> -->
					<v-btn @click='replay'>Replay</v-btn>
					<v-btn @click='zoomIn'>Zoom In</v-btn>
					<v-btn @click='zoomOut'>Zoom Out</v-btn>
				</v-flex> 
			</div>
			<hr>
<!-- 			<img ref="img" src="" id='canvas-image'>
			<small>Right click to save image.</small> -->
		</v-layout>
	</v-container>
</template>

<script>
	export default {
		name: "CanvasDisplay",
		data() {
			return {
				canvas: null,
				context: null,
				isDrawing: false,
				startX: 0,
				startY: 0,
				points: [],
			}
		},
		mounted(){
			var vm=this
			vm.canvas=vm.$refs.canvas
			vm.context=vm.canvas.getContext("2d");
			vm.canvas.addEventListener('mousedown',vm.mousedown);
			vm.canvas.addEventListener('mousemove',vm.mousemove)
			document.addEventListener('mouseup',vm.mouseup)

			// url = window.URL || window.webkitURL;
			// alert(url);

			loadImage();

			// var img=new Image();
			// img.onload=function(){
			// 	vm.context.drawImage(img,0,0);
			// }			
			// img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";
			
			// alert(img.src);

			// var img1 = new Image();
		 //    img1.onload = function () {
		 //        //draw background image
		 //        ctx.drawImage(img1, 0, 0);
		 //        //draw a box over the top
		 //        // ctx.fillStyle = "rgba(200, 0, 0, 0.5)";
		 //        // ctx.fillRect(0, 0, 500, 500);

		 //    };

		 //    img1.src = '../data/1.jpg';			

			// var img1 = new Image();
			// vm.context.drawImage(img1, 0, 0);
			// img1.src = '../data/1.jpg';
			// let img = await loadImage("./my/image/path.jpg");
			// vm.context.drawImage(img, 0, 0);			
		},
		methods:{
			mousedown(e){
				var vm=this
				var rect = vm.canvas.getBoundingClientRect();
				var x=e.clientX - rect.left;
				var y=e.clientY - rect.top;

				vm.isDrawing=true;
				vm.startX=x;
				vm.startY=y;
				vm.points.push({
					x:x,
					y:y
				});
			},
			mousemove(e){
				var vm=this
				var rect=vm.canvas.getBoundingClientRect();
				var x=e.clientX - rect.left;
				var y=e.clientY - rect.top;

				if (vm.isDrawing){
					vm.context.beginPath();
					vm.context.moveTo(vm.startX, vm.startY);
					vm.context.lineTo(x,y);
					vm.context.lineWidth=1;
					vm.context.lineCap = 'round';
					vm.context.strokeStyle="rgba(255,0,0,1)";
					vm.context.stroke();

					vm.startX=x;
					vm.startY=y;

					vm.points.push({
						x: x,
						y: y
					});
				}
			},
			mouseup(e){
				var vm=this
				vm.isDrawing=false;
				if (vm.points.length>0){
					localStorage['points'] = JSON.stringify(vm.points);
				}
			},
			loadImage(vm){
				var img=new Image();
				img.onload=function(){
					vm.context.drawImage(img,0,0);
				}			
				img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";	
			},
			resetCanvas(){
				var vm=this
				vm.canvas.width=vm.canvas.width;
				vm.points.length=0;	

				var img=new Image();
				img.onload=function(){
					vm.context.drawImage(img,0,0,900,700);
				}			
				img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";		

				// const toolType = 'stack'
				// const toolData = cornerstoneTools.getToolState(vm.canvas, toolType)
				// console.log(toolData)					
			},
			saveImage(){
				var vm=this
				var dataURL = vm.canvas.toDataURL();
				var img=vm.$refs.img;
				img.src=dataURL;
			},
			zoomIn(){
				var vm=this
				var img=new Image();
				img.onload=function(){
					vm.context.drawImage(img,0,0,1800,1400);
				}			
				img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";	
			},
			zoomOut(){
				var vm=this
				var img=new Image();
				img.onload=function(){
					vm.context.drawImage(img,0,0,900,700);
				}			
				img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";	
			},
			// loadImage(url) {
			//   return new Promise(r => { let i = new Image(); i.onload = (() => r(i)); i.src = url; });
			// },
			replay(){
				var vm=this
				vm.canvas.width=vm.canvas.width;

				var img=new Image();
				img.onload=function(){
					vm.context.drawImage(img,0,0,900,700);
				}			
				img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";		

				if (vm.points.length===0){
					if (localStorage["points"] !== undefined) {
						vm.points=JSON.parse(localStorage["points"]);
					}
				}

				var point=1;
				setInterval(function(){
					drawNextPoint(point);
					point +=1;
				},10);

				function drawNextPoint(index){
					if (index >= vm.points.length) {
						return;
					}

					var startX=vm.points[index-1].x;
					var startY=vm.points[index-1].y;

					var x=vm.points[index].x;
					var y=vm.points[index].y;

					// if ((x-startX)^2 + (y-startY)^2>10) {
						vm.context.beginPath();
						vm.context.moveTo(startX,startY);
						vm.context.lineTo(x,y);
						vm.context.lineWidth=1;
						vm.context.lineCap='round';
						vm.context.strokeStyle='rgba(255,0,0,1)';
						vm.context.stroke();						
					// } 


				}
			}
		}
	}

</script>

<style scoped>
	canvas {
		border: 1px solid red;
		cursor: crosshair;
	}
	body {
		padding: 2px;
	}
</style>