<template>
	<div class="image-canvas-wrapper"
		 oncontextmenu="return false"
		 unselectable='on'
		 onselectstart='return false;'
		 onmousedown='return false;'

		 >
		 <span id="loadProgress">Diocm Loading: </span>
		<!-- <v-toolbar flat height=60> -->
			<!-- <v-spacer></v-spacer> -->
<!-- 			<v-btn outline fab small color="white" @click="skiptrack('prev')">
				<v-icon>skip_previous</v-icon>
			</v-btn>
			<v-btn outline fab small color="white" @click="skiptrack('next')">
				<v-icon>skip_next</v-icon>
			</v-btn> -->
<!-- 			<v-btn icon small @click='setWwwc'>
				<v-icon>swap_horiz</v-icon>
			</v-btn>
			<v-btn icon small>
				<v-icon>keyboard_arrow_left</v-icon>
			</v-btn>
			<v-btn icon small>
				<v-icon>keyboard_arrow_right</v-icon>
			</v-btn>	
			<v-btn icon small @click='setZoom'>
				<v-icon>zoom_in</v-icon>
			</v-btn>
			<v-btn icon small @click='setStack'>
				<v-icon>line_weight</v-icon>
			</v-btn>
			<v-btn icon small @click='setProbe'>
				<v-icon>create</v-icon>
			</v-btn>
			<v-btn icon small @click='setPan'>
				<v-icon>pan_tool</v-icon>
			</v-btn>
			<v-btn icon small @click='toggleScaleOverlay'>
				<v-icon>settings_overscan</v-icon>
			</v-btn>
			<v-btn icon small @click='setBrush'>
				<v-icon>border_color</v-icon>
			</v-btn>		 -->												
			<!-- <v-spacer></v-spacer>			 -->
		<!-- </v-toolbar>		 -->
<!-- 	    <div class="row">
	        <form id="form" class="form-horizontal">
	            <div class="form-group">
	                <div class="col-sm-3">
	                    <input type="file" id="selectFile" >
	                </div>
	            </div>
	        </form>
	    </div>	 -->	 
<!-- 	    <form enctype="multipart/form-data" novalidate v-if="isInitial || isSaving">
	    	<h1>Upload images</h1>
	    	<div class="dropbox">
	    		<input type="file" multiple 
	    			:name="uploadFieldName"
	    			:disabled="isSaving"
	    			@change="filesChange($event.target.name,$event.target.files); fileCount=$event.target.files.length"
	    			accept="image/*"
	    			class="input-file">
	    			<p v-if="isInitial">
	    				Drag your file(s) here to begin <br>
	    				or click to browse
	    			</p>
	    			<p v-if="isSaving">
	    				uploading {{fileCount}} files...
	    			</p>
	    	</div>
	    </form> -->
	    <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
	    	<img :src="imageUrl" height="150" v-if="imageUrl" />
	    	<v-text-field label="Select Image" @click='pickFile' v-model='imageName' prepend-icon='attach_file'></v-text-field>
	    	<input
	    		type="file"
	    		style="display:none"
	    		ref="image"
	    		accept="*"
	    		@change="onFilePicked"
	    		multiple
	    	>
			<v-btn icon small @click='test6'>
				<v-icon>remove</v-icon>
			</v-btn>	    	
			<v-btn icon small @click='test4'>
				<v-icon>check_circle</v-icon>
			</v-btn>	    	
			<v-btn icon small @click='test3'>
				<v-icon>swap_horiz</v-icon>
			</v-btn>	    	
			<v-btn icon small @click='test2'>
				<v-icon>filter_1</v-icon>
			</v-btn>
			<v-btn icon small @click='test5'>
				<v-icon>filter_2</v-icon>
			</v-btn>	
			<v-btn icon small @click='test7'>
				<v-icon>filter_3</v-icon>
			</v-btn>						
			<v-btn icon small @click='show2'>
				<v-icon>keyboard_arrow_right</v-icon>
			</v-btn>			
	    </v-flex>

		<div style="height:512px;width:512px" id="canvas2" ref="canvas2" class="image-canvas" oncontextmenu="return false"></div>
		<div style="height:512px;width:512px" id="canvas3" ref="canvas3" class="image-canvas" oncontextmenu="return false"></div>
	</div>
</template>

<script>

	import * as cornerstone from "cornerstone-core";

	// console.log(cornerstone);

	import * as cornerstoneWADOImageLoader from "../../static/dist/cornerstoneWADOImageLoader.js";

	import Hammer from "hammerjs";
	import * as cornerstoneMath from "cornerstone-math";
	import * as cornerstoneTools from "cornerstone-tools";
	// import * as cornerstoneTools from 'cornerstone-tools/dist/cornerstoneTools.js';

	import axios from "axios";


	cornerstoneTools.external.Hammer=Hammer;
	cornerstoneTools.external.cornerstone=cornerstone;
	cornerstoneTools.external.cornerstoneMath=cornerstoneMath;
	cornerstoneWADOImageLoader.external.cornerstoneMath=cornerstoneMath;

	cornerstoneWADOImageLoader.external.cornerstone=cornerstone;
	cornerstone.registerImageLoader("http",cornerstoneWADOImageLoader.loadImage);
	cornerstone.registerImageLoader("https",cornerstoneWADOImageLoader.loadImage);

	// console.log(cornerstoneTools);

	// const csTools=cornerstoneTools.init();

        // const width = 512;
        // const height = 512;
        // const channel = 1;	

	var config={
		webWorkerPath : "/dist/cornerstoneWADOImageLoaderWebWorker.js",
		taskConfiguration: {
			decodeTask:{
				codecsPath: "/dist/cornerstoneWADOImageLoaderCodecs.js"
			}
		}
	};
	cornerstoneWADOImageLoader.webWorkerManager.initialize(config);

	Number.prototype.pad = function(size) {
	    var s = String(this);
	    while (s.length < (size || 2)) {s = "0" + s;}
	    return s;
	}	

    function handleFileSelect(evt) {
        evt.stopPropagation();
        evt.preventDefault();

        // Get the FileList object that contains the list of files that were dropped
        const files = evt.dataTransfer.files;

        // this UI is only built for a single file so just dump the first one
        file = files[0];
        const imageId = cornerstoneWADOImageLoader.wadouri.fileManager.add(file);
        console.log(imageId);
        // loadAndViewImage(imageId);
    }	

    // const dropZone = document.getElementById('canvas2');
    // dropZone.addEventListener('dragover', handleDragOver, false);
    // dropZone.addEventListener('drop', handleFileSelect, false); 

    const STATUS_INITIAL=0, STATUS_SAVING=1, STATUS_SUCCESS=2, STATUS_FAILED=3;


	export default {
		name: "CornerstoneCanvas",
		data(){
			return {
		      baseUrl: "http://localhost:8080",
		      exampleStudyImageIds: [
		        '/static/000000.dcm',
		        '/static/000001.dcm',
		        '/static/000002.dcm',
		        '/static/000003.dcm',
		        '/static/000004.dcm',
		        '/static/000005.dcm',
		        '/static/000006.dcm',
		        '/static/000007.dcm',
		        '/static/000008.dcm',
		        '/static/000009.dcm',
		        '/static/000010.dcm',
		        '/static/000011.dcm',
		        '/static/000012.dcm',
		        '/static/000013.dcm',
		        '/static/000014.dcm',
		        '/static/000015.dcm',
		        '/static/000016.dcm',
		        '/static/000017.dcm',
		        '/static/000018.dcm',
		        '/static/000019.dcm',
		        '/static/000020.dcm',
		        '/static/000021.dcm'
		      ],
		      isInitLoad: true,
		      isShow: true,
		      setScaleOverlay: true,		
		      uploadedFiles: [],
		      uploadError: null,
		      currentStatus: null,
		      uploadFieldName: 'photos',
		      imageName: '',
		      imageUrl: '',
		      imageFile: '',
		      imageId: null,
		      imageData: null,
		      imageIds: null,
		      currentImageIdIndex: 0,
		      files: null,
			};
	},
	computed:{
		isInitial(){
			return this.currentStatus === STATUS_INITIAL;
		},
		isSaving(){
			return this.currentStatus === STATUS_SAVING;
		},
		isSuccess(){
			return this.currentStatus === STATUS_SUCCESS;
		},
		isFailed(){

		}
	},
	methods:{
		pickFile(){
			this.$refs.image.click()
		},
		onFilePicked(e){
			const files=e.target.files

		 //      let allImageIds = [];
		 //      files.forEach(function(imageId) {
		 //        let imageUrl = "wadouri:" + _this.baseUrl + imageId;
		 //        allImageIds.push(imageUrl);
		 //      });	

		    this.files=files;			

			this.imageIds = (new Array(Number(files.length)))
				.fill()
				.map(
					(_, i) => cornerstoneWADOImageLoader.wadouri.fileManager.add(files[i])
				);

				this.imageName=files[0].name;

		      // let canvasStack = {
		      //   currentImageIdIndex: 0,
		      //   imageIds
		      // };	

			// if (files[0] != undefined) {
			// 	// if (files.length==1) {
			// 		for (var i=0;i<files.length;i++){
			// 			let tmp_imageId = cornerstoneWADOImageLoader.wadouri.fileManager.add(files[i]);
			// 			this.imageName=files[0].name
			// 			// this.show2();
			// 			if (this.imageName.lastIndexOf('.') <= 0) {
			// 				return
			// 			}
			// 		}
			// 	// } else {
			// 		// files.forEach(function(file){
			// 		// 	this.imageIds=cornerstoneWADOImageLoader.wadouri.fileManager.add(file);						
			// 		// });
			// 		// for (var i=0;i<files.length;i++){
			// 		// 	this.imageIds=cornerstoneWADOImageLoader.wadouri.fileManager.add(files[i]);	
			// 		// }
			// 	// }
			// }
		},
		reset(){
			this.currentStatus=STATUS_INITIAL;
			this.uploadedFiles=[];
			this.uploadError=null;
		},
		save(formData){

		},
		filesChange(fieldName, fileList){

		},

		setBrush(){
			const mouseButtonMask = 1;
			cornerstoneTools.setToolActive('Brush', { mouseButtonMask });

			const element = document.getElementById("canvas2");
			const brushTool = cornerstoneTools.getToolForElement(element, 'Brush');

			// brushTool.hideAllSegmentationsOnElement();
			// brushTool.showSegmentationOnElement(2);
			// brushTool.alpha=0.1;
			// brushTool.getDataAsVolume();

			// const brushModule = cornerstoneTools.store.modules.brush;
			// cornerstoneTools.store.modules.brush.state.drawColorId = 2;
			// console.log(cornerstoneTools.store.modules.brush.enabledElement);

			let canvas = this.$refs.canvas2;

			// console.log(cornerstoneTools.store.modules.brush.state.imageBitmapCache);
			// cornerstoneTools.getToolState(element, "Brush");
			// console.log(tmp);
			// console.log(brushModule);
			// cornerstoneTools.addToolState(canvas, 'Brush');

			// const toolType = 'Brush'
			// const toolData = cornerstoneTools.getToolState(canvas, toolType)
			// console.log(toolData)		

			let width=260;
			let height=320;
			let channel=1;
            let pixelData = new Uint8ClampedArray(width * height * channel);
            for (let i = 128; i < 256; i++) {
                for (let j = 256; j < 384; j++) {
                    pixelData[i*width + j] = 1;
                }
            }
            const toolState = cornerstoneTools.getToolState(canvas, 'Brush');
            if (toolState) {
                toolState.data[0].pixelData = [...pixelData];
            } else {
                cornerstoneTools.addToolState(canvas, 'Brush', { pixelData });
            }
            cornerstone.updateImage(canvas);			
            // console.log('done');

		},
		setZoom(){
			const mouseButtonMask = 1;
			// cornerstoneTools.setToolActive('StackScrollMouseWheel', { mouseButtonMask });
			cornerstoneTools.setToolActive('ZoomMouseWheel', { mouseButtonMask });
		},
		setStack(){
			const mouseButtonMask = 1;
			cornerstoneTools.setToolActive('StackScrollMouseWheel', { mouseButtonMask });
			// cornerstoneTools.setToolActive('ZoomMouseWheel', { mouseButtonMask });
		},	
		setProbe(){
			const mouseButtonMask = 1;
			cornerstoneTools.setToolActive('DragProbe', { mouseButtonMask });
			// cornerstoneTools.setToolActive('ZoomMouseWheel', { mouseButtonMask });
		},			
		setPan(){
			const mouseButtonMask = 1;
			cornerstoneTools.setToolActive('Pan', { mouseButtonMask });
			// cornerstoneTools.setToolActive('ZoomMouseWheel', { mouseButtonMask });
		},	
		setWwwc(){
			const mouseButtonMask = 1;
			cornerstoneTools.setToolActive('Wwwc', { mouseButtonMask });
			// cornerstoneTools.setToolActive('ZoomMouseWheel', { mouseButtonMask });
		},			
		toggleScaleOverlay(){
			const mouseButtonMask = 1;
			if (this.setScaleOverlay) {
				cornerstoneTools.setToolPassive('ScaleOverlay', { mouseButtonMask });
				this.setScaleOverlay = false;
			} else {
				cornerstoneTools.setToolActive('ScaleOverlay', { mouseButtonMask });
				this.setScaleOverlay = true;
			}
		},	
		test7(){
	        const canvases=document.getElementsByClassName("cornerstone-canvas");

	        var mimetype = 'image/png';

	        var Pic = canvases[0].toDataURL(mimetype, 1);
	        Pic = Pic.replace(/^data:image\/(png|jpg);base64,/, "")

		    axios({
		    	method: 'POST',
		    	url: 'http://192.168.0.2:5000/uploadImage7',
		    	data: {
		    		imageData: Pic,
		    	},
		    	contentType: 'application/json; charset=utf-8',
		    	dataType: 'json',
		    }).then(response=>{
		    		let data=response.data;
		    		console.log(data.points[0].x*512);
			        const width = 512;
			        const height = 512;
			        const channel = 1;			    	
	            	let element = this.$refs.canvas2;
				    let pixelData = new Uint8ClampedArray(width * height * channel);

				    const toolState = cornerstoneTools.getToolState(element, 'brush');
				    // console.log(toolState);
				    if (toolState) {
				    	pixelData=toolState.data[0].pixelData;
				    }


				    for (let i=0;i<data.points.length;i++){
				    	pixelData[data.points[i].x*width + data.points[i].y] = 2;
				    }
				    // let toolState = cornerstoneTools.getToolState(element, 'brush');
				    if (toolState) {
				    	// console.log(toolState.data.length);
				    	// console.log(toolState.data);
				        // toolState.data[0].pixelData = [...pixelData];
				        // toolState.data[1].pixelData = toolState.data[0].pixelData;
				        // cornerstoneTools.addToolState(element, 'brush', { pixelData });
				        toolState.data[0].pixelData = [...pixelData];
				        // toolState.data[1].invalidated = true;
				        // toolState.data[0].pixelData = [];
				        // toolState.data[1].pixelData = [...pixelData];
				        // cornerstoneTools.addToolState(element, 'brush', { pixelData });
				    } else {
				    	// console.log(toolState);
				        cornerstoneTools.addToolState(element, 'brush', { pixelData });
				        // toolState = cornerstoneTools.getToolState(element, 'brush');
				    }
				    cornerstoneTools.brush.activate(element, 1);
				    // cornerstoneTools.brush.enable(element);
				    // cornerstoneTools.brush.activate(element, 2);
				    // cornerstoneTools.brush.activate(element, 3);

				    // cornerstoneTools.brush.activate(element, toolState.data.length-1);
				    cornerstone.updateImage(element);		  	
		    });			
		},			
		test5(){
	        const canvases=document.getElementsByClassName("cornerstone-canvas");

	        var mimetype = 'image/png';

	        var Pic = canvases[0].toDataURL(mimetype, 1);
	        Pic = Pic.replace(/^data:image\/(png|jpg);base64,/, "")

		    axios({
		    	method: 'POST',
		    	url: 'http://192.168.0.2:5000/uploadImage5',
		    	data: {
		    		imageData: Pic,
		    	},
		    	contentType: 'application/json; charset=utf-8',
		    	dataType: 'json',
		    }).then(response=>{
		    		let data=response.data;
		    		console.log(data.points[0].x*512);
			        const width = 512;
			        const height = 512;
			        const channel = 1;			    	
	            	let element = this.$refs.canvas2;
				    let pixelData = new Uint8ClampedArray(width * height * channel);

				    const toolState = cornerstoneTools.getToolState(element, 'brush');
				    // console.log(toolState);
				    if (toolState) {
				    	pixelData=toolState.data[0].pixelData;
				    }


				    for (let i=0;i<data.points.length;i++){
				    	pixelData[data.points[i].x*width + data.points[i].y] = 3;
				    }
				    // const toolState = cornerstoneTools.getToolState(element, 'brush');
				    if (toolState) {
				        toolState.data[0].pixelData = [...pixelData];
				        // toolState.data[0].pixelData = [];
				        // toolState.data[1].pixelData = [...pixelData];
				        // cornerstoneTools.addToolState(element, 'brush', { pixelData });
				    } else {
				        cornerstoneTools.addToolState(element, 'brush', { pixelData });
				    }
				    cornerstoneTools.brush.activate(element, 1);
				    cornerstone.updateImage(element);		  	
		    });			
		},			
		test4(){
			let element = this.$refs.canvas2;
			const toolState = cornerstoneTools.getToolState(element, 'brush');
		    if (toolState) {
		        cornerstoneTools.removeToolState(element, 'brush');
		    }
		    cornerstoneTools.brush.disable(element, 1);
		    cornerstone.updateImage(element);				
		},	
		arrayBufferToBase64( buffer ) {
		    var binary = '';
		    // var bytes = new Uint8Array( buffer );
		    var bytes=buffer;
		    var len = bytes.byteLength;
		    // var len = buffer.byteLength;
		    for (var i = 0; i < len; i++) {
		        binary += String.fromCharCode( bytes[ i ] );
		    }
		    // console.log(binary);
		    return window.btoa( binary );
		},	
		test6(){
	        const width = 512;
	        const height = 512;
	        const channel = 1;			    	
        	let element = this.$refs.canvas2;
		    let pixelData = new Uint8ClampedArray(width * height * channel);



		    // for (let i=0;i<data.points.length;i++){
		    // 	pixelData[data.points[i].x*width + data.points[i].y] = 1;
		    // }

		    // for (let i = 100; i < 200; i++) {
		    //     for (let j = 100; j < 200; j++) {
		    //         pixelData[i*width + j] = 1;
		    //     }
		    // }
		    // pixelData[10*width+10]=1;
		    const toolState = cornerstoneTools.getToolState(element, 'brush');
		    // console.log(toolState);
		    if (toolState) {
		        toolState.data[0].pixelData = [...pixelData];
		    } else {
		        cornerstoneTools.addToolState(element, 'brush', { pixelData });
		    }
		    cornerstoneTools.brush.activate(element, 1);
		    cornerstone.updateImage(element);	
		},
		test2(){
	        const canvases=document.getElementsByClassName("cornerstone-canvas");

	        var mimetype = 'image/png';
	        // console.log(canvases);
	        // console.log(canvases[0].toDataURL(mimetype, 1));

	        var Pic = canvases[0].toDataURL(mimetype, 1);
	        Pic = Pic.replace(/^data:image\/(png|jpg);base64,/, "");
	        // var Pic = this.imageData;

	        // console.log(Pic);

		    axios({
		    	method: 'POST',
		    	url: 'http://192.168.0.2:5000/uploadImage4',
		    	data: {
		    		imageData: Pic,
		    		// imageData: this.imageData,
		    		windowLevel: 10,
		    		windowWidth: 50,
		    	},
		    	contentType: 'application/json; charset=utf-8',
		    	dataType: 'json',
		    }).then(response=>{
		    		// console.log(response);
		    		let data=response.data;
		    		console.log(data.points[0].x*512);
		    	// channel=1;
			        const width = 512;
			        const height = 512;
			        const channel = 1;			    	
	            	let element = this.$refs.canvas2;
				    let pixelData = new Uint8ClampedArray(width * height * channel);

				    const toolState = cornerstoneTools.getToolState(element, 'brush');
				    // console.log(toolState);
				    if (toolState) {
				    	pixelData=toolState.data[0].pixelData;
				    }

				    for (let i=0;i<data.points.length;i++){
				    	pixelData[data.points[i].x*width + data.points[i].y] = 1;
				    }

				    // for (let i = 100; i < 200; i++) {
				    //     for (let j = 100; j < 200; j++) {
				    //         pixelData[i*width + j] = 1;
				    //     }
				    // }
				    // pixelData[10*width+10]=1;

				    // const toolState = cornerstoneTools.getToolState(element, 'brush');

				    // console.log(toolState);
				    if (toolState) {
				    	// let pixelData2=toolState.data[0].pixelData;
				    	// pixelData[pixelData2!=0]=pixelData2[pixelData2!=0];
				        toolState.data[0].pixelData = [...pixelData];
				    } else {
				        cornerstoneTools.addToolState(element, 'brush', { pixelData });
				    }
				    cornerstoneTools.brush.activate(element, 1);
				    cornerstone.updateImage(element);		
				    // cornerstoneTools.brush.disable(element, 1);    	
		    });			
		},	
		test3(){
					  // const canvas = document.getElementById("canvas2");
					  let element = this.$refs.canvas2;
				      // cornerstoneTools.wwwc.activate(element, 1); // left click
				      // cornerstoneTools.pan.activate(element, 2); // middle click
				      // cornerstoneTools.zoom.activate(element, 4); // right click
				      // cornerstoneTools.brush.activate(element, 1);

				      // Touch / Gesture
				      // cornerstoneTools.wwwcTouchDrag.activate(element); // - Drag
				      // cornerstoneTools.zoomTouchPinch.activate(element); // - Pinch
				      // cornerstoneTools.panMultiTouch.activate(element); // - Multi (x2)
			       //    cornerstoneTools.touchInput.enable(element);
			          // cornerstoneTools.panTouchDrag.activate(element);
			          // cornerstoneTools.zoomTouchPinch.activate(element);	

			          cornerstoneTools.brush.disable(element, 1);
		},
		b64EncodeUnicode(str) {
		    // first we use encodeURIComponent to get percent-encoded UTF-8,
		    // then we convert the percent encodings into raw bytes which
		    // can be fed into btoa.
		    return btoa(encodeURIComponent(str).replace(/%([0-9A-F]{2})/g,
		        function toSolidBytes(match, p1) {
		            return String.fromCharCode('0x' + p1);
		    }));
		},		
		scrollcallback(e){
			// console.log(e.deltaY);
			if (e.deltaY>0) {
				if (this.currentImageIdIndex<this.imageIds.length)
					this.currentImageIdIndex++;
			} else {
				if (this.currentImageIdIndex>0)
					this.currentImageIdIndex--;
			}
			this.imageName=this.files[this.currentImageIdIndex].name;
			// cornerstoneTools.stackImageIndexSynchronizer();
		},	
		show2(){
			// console.log(this.imageId);
			const _this = this;
			if (this.isShow === true) {
				this.isShow = false;
				let canvas = this.$refs.canvas2;
				let canvas3 = this.$refs.canvas3;
				cornerstone.enable(canvas);
				cornerstone.enable(canvas3);

				const imageUrl = _this.baseUrl + _this.exampleStudyImageIds[0];
				// let imageId = this.imageId;
				let imageId = this.imageIds[0];
				// console.log(imageId);

				const canvas2 = document.getElementById("canvas2");

				// var seriesModule = cornerstone.metaData.get('imagePlaneModule', imageId);
				// console.log(cornerstone.metaData);

				// canvas2.addEventListener("wheel", this.scrollcallback);

				// cornerstone.loadImage(imageId);

	            // cornerstone.loadAndCacheImage(imageId).then(
	            cornerstone.loadImage(imageId).then(
	              function(image) {
	              	// console.log(image);
	              	// console.log(cornerstone.metaData);


	              	// console.log(image.getPixelData());
	              	let image_data=image.getPixelData();

	              	// for (var i=1000;i<2000;i++){
	              	// 	image_data[i]=1024;
	              	// }

	              	// image.setPixelData(image_data);

	                // console.log(image.data.byteArray);
	                // _this.imageData=_this.arrayBufferToBase64(image.data.byteArray);

					// var uint8array = new TextEncoder("utf-8").encode("¢");
					// var image_string = new TextDecoder("utf-8").decode(image.data.byteArray);	  
					// console.log(btoa(image_string));      

	                // var imageData2=image.data.byteArray;
	                // var baseString=String.fromCharCode.apply(null,imageData2);
	                // var tmp=btoa(String.fromCharCode.apply(null, imageData2));
	                // var tmp = new TextDecoder("utf-8").decode(uint8array);
					// var decoder = new TextDecoder('utf8');
					// var b64encoded = btoa(unescape(decoder.decode(imageData2)));	                
					// var b64encoded = _this.b64EncodeUnicode(decoder.decode(imageData2));	
					// var tmp=btoa(b64encoded);  
					// _this.imageData=tmp;              
					// _this.imageData=b64encoded;              
	                // var base64Data=btoa(String.fromCharCode(null,imageData2));
	                // console.log(tmp);
	                 // _this.imageData=base64Data;
	                // var Pic="data:image/png;base64,"+base64Data;

	                // _this.$refs.canvas2.appendChild(Pic);

	                // var base64Data=btoa(String.fromCharCode.apply(null, image.data.byteArray));

	                // console.log(Pic);

	                // var byteArrayData=image.data.bytheArray;
	                // var decoder = new TextDecoder('utf8');
					// var b64encoded = btoa(decoder.decode(byteArrayData));
					// var base64String = btoa(String.fromCharCode.apply(null, new Uint8Array(image.data.byteArray)));
					// console.log(tmp);
					// console.log(b64encoded);
					// var Pic = tmp.replace(/^data:image\/(png|jpg);base64,/, "")					
					// console.log(b64encoded);
	                // this.imageData=image.data.byteArra;y;
	                // 设置元素视口
	                var viewport = cornerstone.getDefaultViewportForImage(
	                  canvas,
	                  image
	                );
	                // 显示图像
	                // cornerstone.displayImage(canvas, image, viewport);
	                // cornerstone.displayImage(canvas, image, viewport);
	                // 激活工具
	                // _this.initCanvasTools();
				      var exampleStudyImageIds= [
				        '/static/000000.dcm',
				        '/static/000001.dcm',
				        '/static/000002.dcm',
				        '/static/000003.dcm',
				        '/static/000004.dcm',
				        '/static/000005.dcm',
				        '/static/000006.dcm',
				        '/static/000007.dcm',
				        '/static/000008.dcm',
				        '/static/000009.dcm',
				        '/static/000010.dcm',
				        '/static/000011.dcm',
				        '/static/000012.dcm',
				        '/static/000013.dcm',
				        '/static/000014.dcm',
				        '/static/000015.dcm',
				        '/static/000016.dcm',
				        '/static/000017.dcm',
				        '/static/000018.dcm',
				        '/static/000019.dcm',
				        '/static/000020.dcm',
				        '/static/000021.dcm'
				      ];	                

				      // let allImageIds = [];
				      // exampleStudyImageIds.forEach(function(imageId) {
				      //   let imageUrl = "wadouri:" + _this.baseUrl + imageId;
				      //   allImageIds.push(imageUrl);
				      // });	

				      // for (var i=0;i<25;i++){
				      // 	let imageUrl = "wadouri:" + _this.baseUrl + '/static2/' + (i).pad(6)+'.dcm';
				      // 	// console.log(imageUrl);
				      // 	allImageIds.push(imageUrl);
				      // }


					// const imageIds = (new Array(Number(23)))
					// 	.fill()
					// 	.map(
					// 		// (_, i) => 'wadouri:'+exampleStudyImageIds[i]
					// 		(_, i) => 'wadouri:'+ _this.baseUrl + '/staticNew/'+(i).pad(6)+'.dcm'
					// 	);


					// const imageIds = (new Array(Number(25)))
					// 	.fill()
					// 	.map(
					// 		(_, i) => allImageIds[i]
					// 	);

					const imageIds=_this.imageIds;

				      let canvasStack = {
				        currentImageIdIndex: 0,
				        imageIds
				        // _this.imageIds
				      };	

				      _this.currentImageIdIndex=0;

				      // console.log(canvasStack);

				      // let brushTool=cornerstoneTools.BrushTool;

				      // var brush=brushTool

				      // console.log(typeof brushTool);
				      // console.log(brushTool);
				      

					cornerstone.displayImage(canvas, image, viewport);
					// cornerstone.displayImage(canvas3, image, viewport);
					// cornerstoneTools.addStackStateManager(canvas, ['stack','crosshairs']);
					// cornerstoneTools.addToolState(canvas, 'stack', canvasStack);	
					// cornerstoneTools.addToolState(canvas, 'stack', canvasStack);	

					// this.initCanvasTools;

					var element=canvas;

				      // cornerstoneTools.addStackStateManager(element, ['stack']);
				      // cornerstoneTools.addToolState(element, 'stack', canvasStack);

				      // Enable Inputs
				      cornerstoneTools.mouseInput.enable(canvas);
				      cornerstoneTools.mouseWheelInput.enable(canvas);
				      // cornerstoneTools.touchInput.enable(canvas);

				      // Set the stack as tool state
				      cornerstoneTools.addStackStateManager(canvas, ["stack"]);
				      cornerstoneTools.addToolState(canvas, "stack", canvasStack);
				      cornerstoneTools.stackScrollWheel.activate(canvas); // Mouse wheel
				      cornerstoneTools.scrollIndicator.enable(canvas); // Position indicator

				      // Mouse
				      cornerstoneTools.wwwc.activate(canvas, 1); // left click
				      cornerstoneTools.pan.activate(canvas, 2); // middle click
				      cornerstoneTools.zoom.activate(canvas, 4); // right click
				      // cornerstoneTools.brush.activate(element, 1);

				      // Touch / Gesture
				      // cornerstoneTools.wwwcTouchDrag.activate(canvas); // - Drag
				      // cornerstoneTools.zoomTouchPinch.activate(canvas); // - Pinch
				      // cornerstoneTools.panMultiTouch.activate(canvas); // - Multi (x2)
			            cornerstoneTools.touchInput.enable(element);
			            cornerstoneTools.panTouchDrag.activate(element);
			            cornerstoneTools.zoomTouchPinch.activate(element);	

			            // console.log(cornerstoneTools.stackImageIndexSynchronizer(element));	

			            var stackToolDataSource = cornerstoneTools.getToolState(canvas, 'stack');	
			            // console.log(stackToolDataSource);      
                 

	              },
	              function(err) {
	                // alert(err);
	                console.log(err);
	              }
	            ).then(() => {
	       //      	const width=260;
	       //      	const height=320;
	       //      	const channel=1;
	            	let element = this.$refs.canvas2;

	            	const canvases=document.getElementsByClassName("cornerstone-canvas");
			        var mimetype = 'image/png';
			        // console.log(canvases);
			        // console.log(canvases[0].toDataURL(mimetype, 1));

			        var Pic = canvases[0].toDataURL(mimetype, 1);
			        Pic = Pic.replace(/^data:image\/(png|jpg);base64,/, "");	 
			        _this.imageData=Pic;       
			            	
				    // let pixelData = new Uint8ClampedArray(width * height * channel);
				    // for (let i = 100; i < 200; i++) {
				    //     for (let j = 100; j < 200; j++) {
				    //         pixelData[i*width + j] = 3;
				    //     }
				    // }
				    // // pixelData[10*width+10]=1;
				    // const toolState = cornerstoneTools.getToolState(element, 'brush');
				    // // console.log(toolState);
				    // if (toolState) {
				    //     toolState.data[0].pixelData = [...pixelData];
				    // } else {
				    //     cornerstoneTools.addToolState(element, 'brush', { pixelData });
				    // }
				    cornerstone.updateImage(element);
				});

	            cornerstone.events.addEventListener(
	              "cornerstoneimageloadprogress",
	              function(event) {
	                const eventData = event.detail;
	                const loadProgress = document.getElementById("loadProgress");
	                loadProgress.textContent = `Dicom Loading: ${
	                  eventData.percentComplete
	                }%`;
	              }
	            );	            				
			} else {
				this.isShow=true;
			}
		},		
		show(){
			const _this = this;
			if (this.isShow === true) {
				this.isShow = false;
				let canvas = this.$refs.canvas2;
				cornerstone.enable(canvas);
				const imageUrl = _this.baseUrl + _this.exampleStudyImageIds[0];
				let imageId = "wadouri:" + imageUrl;
				// console.log(imageId);

				const canvas2 = document.getElementById("canvas2");

				// cornerstone.loadImage(imageId);

	            // cornerstone.loadAndCacheImage(imageId).then(
	            cornerstone.loadImage(imageId).then(
	              function(image) {
	                // console.log(image);
	                // 设置元素视口
	                var viewport = cornerstone.getDefaultViewportForImage(
	                  canvas,
	                  image
	                );
	                // 显示图像
	                // cornerstone.displayImage(canvas, image, viewport);
	                // cornerstone.displayImage(canvas, image, viewport);
	                // 激活工具
	                // _this.initCanvasTools();
				      var exampleStudyImageIds= [
				        '/static/000000.dcm',
				        '/static/000001.dcm',
				        '/static/000002.dcm',
				        '/static/000003.dcm',
				        '/static/000004.dcm',
				        '/static/000005.dcm',
				        '/static/000006.dcm',
				        '/static/000007.dcm',
				        '/static/000008.dcm',
				        '/static/000009.dcm',
				        '/static/000010.dcm',
				        '/static/000011.dcm',
				        '/static/000012.dcm',
				        '/static/000013.dcm',
				        '/static/000014.dcm',
				        '/static/000015.dcm',
				        '/static/000016.dcm',
				        '/static/000017.dcm',
				        '/static/000018.dcm',
				        '/static/000019.dcm',
				        '/static/000020.dcm',
				        '/static/000021.dcm'
				      ];	                

				      // let allImageIds = [];
				      // exampleStudyImageIds.forEach(function(imageId) {
				      //   let imageUrl = "wadouri:" + _this.baseUrl + imageId;
				      //   allImageIds.push(imageUrl);
				      // });	

				      // for (var i=0;i<25;i++){
				      // 	let imageUrl = "wadouri:" + _this.baseUrl + '/static2/' + (i).pad(6)+'.dcm';
				      // 	// console.log(imageUrl);
				      // 	allImageIds.push(imageUrl);
				      // }


					const imageIds = (new Array(Number(23)))
						.fill()
						.map(
							// (_, i) => 'wadouri:'+exampleStudyImageIds[i]
							(_, i) => 'wadouri:'+ _this.baseUrl + '/staticNew/'+(i).pad(6)+'.dcm'
						);


					// const imageIds = (new Array(Number(25)))
					// 	.fill()
					// 	.map(
					// 		(_, i) => allImageIds[i]
					// 	);

				      let canvasStack = {
				        currentImageIdIndex: 0,
				        imageIds
				      };	

				      // console.log(canvasStack);

				      // let brushTool=cornerstoneTools.BrushTool;

				      // var brush=brushTool

				      // console.log(typeof brushTool);
				      // console.log(brushTool);
				      

					cornerstone.displayImage(canvas, image);
					// cornerstoneTools.addStackStateManager(canvas, ['stack','crosshairs']);
					// cornerstoneTools.addToolState(canvas, 'stack', canvasStack);	
					// cornerstoneTools.addToolState(canvas, 'stack', canvasStack);	

					// this.initCanvasTools;

					var element=canvas;

				      // cornerstoneTools.addStackStateManager(element, ['stack']);
				      // cornerstoneTools.addToolState(element, 'stack', canvasStack);

				      // Enable Inputs
				      cornerstoneTools.mouseInput.enable(element);
				      cornerstoneTools.mouseWheelInput.enable(element);
				      // cornerstoneTools.touchInput.enable(canvas);

				      // Set the stack as tool state
				      // cornerstoneTools.addStackStateManager(canvas, ["stack"]);
				      // cornerstoneTools.addToolState(canvas, "stack", canvasStack);
				      // cornerstoneTools.stackScrollWheel.activate(canvas); // Mouse wheel
				      // cornerstoneTools.scrollIndicator.enable(canvas); // Position indicator

				      // Mouse
				      cornerstoneTools.wwwc.activate(canvas, 1); // left click
				      cornerstoneTools.pan.activate(element, 2); // middle click
				      cornerstoneTools.zoom.activate(element, 4); // right click
				      // cornerstoneTools.brush.activate(element, 1);

				      // Touch / Gesture
				      cornerstoneTools.wwwcTouchDrag.activate(element); // - Drag
				      cornerstoneTools.zoomTouchPinch.activate(element); // - Pinch
				      cornerstoneTools.panMultiTouch.activate(element); // - Multi (x2)
			            cornerstoneTools.touchInput.enable(element);
			            cornerstoneTools.panTouchDrag.activate(element);
			            cornerstoneTools.zoomTouchPinch.activate(element);	

// 			            const canvases=document.getElementsByClassName("cornerstone-canvas");

// 			            var mimetype = 'image/png';
// 			            console.log(canvases);
// ;			            console.log(canvases[0].toDataURL(mimetype, 1));

// 			            var Pic = canvases[0].toDataURL(mimetype, 1);
// 			            Pic = Pic.replace(/^data:image\/(png|jpg);base64,/, "")

// 					    // $.ajax({
// 					    //     type: 'POST',
// 					    //     url: 'http://192.168.0.2:5000/uploadImage2',
// 					    //     data: '{ "imageData" : "' + Pic + '" }',
// 					    //     contentType: 'application/json; charset=utf-8',
// 					    //     dataType: 'json',
// 					    //     success: function (msg) {
// 					    //         alert("Done, Picture Uploaded.");
// 					    //     }
// 					    // });

// 					    axios({
// 					    	method: 'POST',
// 					    	url: 'http://192.168.0.2:5000/uploadImage4',
// 					    	data: {
// 					    		imageData: Pic,
// 					    	},
// 					    	contentType: 'application/json; charset=utf-8',
// 					    	dataType: 'json',
// 					    	// useCredentails: true,
// 					    }).then(response=>{
// 					    	console.log(response);
// 					    }
// 					    );

			            // console.log(element.toDataURL(mimetype, 1));

			          // const canvas = document.querySelector('#cornerstoneViewport canvas');			      

				      // var Pic = canvas.toDataURL("image/png");
				      // cornerstoneTools.saveAs(canvases[0],'test2.png');
    				  // Pic = Pic.replace(/^data:image\/(png|jpg);base64,/, "")

    				  // console.log(Pic);
					// cornerstoneTools.addTool(cornerstoneTools[`StackScrollMouseWheelTool`]);
					// cornerstoneTools.addTool(cornerstoneTools[`ZoomMouseWheelTool`]);
					// cornerstoneTools.addTool(cornerstoneTools[`PanTool`]);
					// cornerstoneTools.addTool(cornerstoneTools[`DoubleTapFitToWindowTool`]);
					// cornerstoneTools.addTool(cornerstoneTools[`DragProbeTool`]);
					// cornerstoneTools.addTool(cornerstoneTools[`ScaleOverlayTool`]);
					// cornerstoneTools.addTool(cornerstoneTools[`WwwcTool`]);
					// cornerstoneTools.addTool(cornerstoneTools[`BrushTool`]);
					// cornerstoneTools.addTool(cornerstoneTools[`ArrowAnnotateTool`]);
					// const mouseButtonMask = 1;
					// cornerstoneTools.setToolActive('StackScrollMouseWheel', { mouseButtonMask });
					// // cornerstoneTools.setToolActive('ZoomMouseWheel', { mouseButtonMask });
					// cornerstoneTools.setToolActive('Pan', { mouseButtonMask });
					// cornerstoneTools.setToolActive('DoubleTapFitToWindow', { mouseButtonMask });
					// cornerstoneTools.setToolActive('ScaleOverlay', { mouseButtonMask });
					// cornerstoneTools.setToolActive('ScaleOverlay', { mouseButtonMask });
					// cornerstoneTools.setToolActive('Wwwc', { mouseButtonMask });
					// cornerstoneTools.setToolActive('Brush', { mouseButtonMask });
					// cornerstoneTools.setToolActive('ArrowAnnotate', { mouseButtonMask });=3;

					// const LengthTool = cornerstoneTools.LengthTool;
					// const BrushTool = cornerstoneTools.BrushTool;
					// // console.log(BrushTool);

					// const toolState = cornerstoneTools.getToolState(canvas, 'Brush');
					// console.log(toolState);

					// cornerstoneTools.addTool(LengthTool);

					// cornerstoneTools.addToolState(canvas, 'Brush', canvasStack);

					// cornerstoneTools.getToolState(canvas, "BrushTool");
					// cornerstoneTools.getToolState(canvas);

					// const enabledElement = document.getElementById('canvas')
					// const toolType = 'stack'
					// const toolType = 'Brush';
					// const toolData = cornerstoneTools.getToolState(canvas, toolType);
					// console.log(toolData);

					// let toolStateManager = cornerstoneTools.getElementToolStateManager(canvas);
					// console.log(toolStateManager.toolState);

					// cornerstoneTools.getToolState(canvas, 'stack');

					// let tmp2=toolStateManager.getImageIdSpecificToolState(canvas,'Brush');	
					// console.log(tmp2);					

					// cornerstoneTools.brush.activate(element, 1);
					// console.log(cornerstoneTools.store.modules.brush.state.data);

					// cornerstoneTools.store.modules.brush.state.drawColorId=3;
					// console.log(cornerstoneTools.store.modules.brush);
					// cornerstoneTools.drawBrushPixels();
					// cornerstone.drawBrushOnCanvas();
					// console.log(cornerstoneTools.drawBrushPixels);
					// console.log(cornerstoneTools.BrushTool);

					// var tmp=cornerstoneTools.getToolState(canvas, "rectangleRoi");
					// console.log(tmp);

					// var segData;
					// var evt;

					// cornerstoneTools.renderSegmentation(evt,0,segData);

					// cornerstoneTools.clearToolState();

					// cornerstoneTools.drawBrushPixels([100,100]);
					// console.log(BrushTool);
					// cornerstoneTools.setToolActive('DragProbe', { mouseButtonMask });

					// cornerstoneTools.BrushTool._paint([100,100])
					// console.log(cornerstoneTools.BrushTool);

					// const StackScrollTool = cornerstoneTools.stackScrollTool;

					// const mouseButtonMask = 1;
					// cornerstoneTools.setToolActive(StackScrollTool, { mouseButtonMask });
					// cornerstoneTools.setToolActive('StackScrollMouseWheel', { mouseButtonMask });

					// const CrosshairsTool = new cornerstoneTools.crosshairsTool();

					 // cornerstoneTools.addTool(canvas, CrosshairsTool);

					 // const StackScrollMouseWheelTool = new cornerstoneTools.stackScrollMouseWheelTool();
					 // cornerstoneTools.addTool(canvas, ['stackScrollMouseWheel']);
					 // cornerstoneTools.setToolActive(canvas, 'stackScrollMouseWheel', {mouseButtonMask: 4});

					// const PanTool = cornerstoneTools.PanTool;
					// cornerstoneTools.addTool(PanTool)
					// cornerstoneTools.setToolActive('Pan', { mouseButtonMask: 1 })

					// const ScaleOverlayTool = cornerstoneTools.ScaleOverlayTool;
					// cornerstoneTools.addTool(ScaleOverlayTool)
					// cornerstoneTools.setToolActive('ScaleOverlay', { mouseButtonMask: 1 })

					// const mouseButtonMask = 1;	
					// cornerstoneTools.setToolActive('StackScroll', { mouseButtonMask: 1 });	 
					// cornerstoneTools.setToolActive('StackScrollMouseWheel', { mouseButtonMask: 1 });     	

					// const DragProbeTool = cornerstoneTools.DragProbeTool;	   

					// cornerstoneTools.addTool(DragProbeTool)
					// cornerstoneTools.setToolActive('DragProbe', { mouseButtonMask: 1 })                   

	              },
	              function(err) {
	                // alert(err);
	                console.log(err);
	              }
	            ).then(() => {
	            	const width=260;
	            	const height=320;
	            	const channel=1;
	            	let element = this.$refs.canvas2;
				    let pixelData = new Uint8ClampedArray(width * height * channel);
				    for (let i = 100; i < 200; i++) {
				        for (let j = 100; j < 200; j++) {
				            pixelData[i*width + j] = 3;
				        }
				    }
				    // pixelData[10*width+10]=1;
				    const toolState = cornerstoneTools.getToolState(element, 'brush');
				    // console.log(toolState);
				    if (toolState) {
				        toolState.data[0].pixelData = [...pixelData];
				    } else {
				        cornerstoneTools.addToolState(element, 'brush', { pixelData });
				    }
				    cornerstone.updateImage(element);
				});

	            cornerstone.events.addEventListener(
	              "cornerstoneimageloadprogress",
	              function(event) {
	                const eventData = event.detail;
	                const loadProgress = document.getElementById("loadProgress");
	                loadProgress.textContent = `Dicom Loading: ${
	                  eventData.percentComplete
	                }%`;
	              }
	            );	            				
			} else {
				this.isShow=true;
			}
		},
	    initCanvasTools() {
	    	const _this = this;
	      let _self = this;
	      let canvas = this.$refs.canvas2;
	      this.isInitLoad = false;

	      // 为 canvasStack 找到 imageIds
	      let allImageIds = [];
	      this.exampleStudyImageIds.forEach(function(imageId) {
	        let imageUrl = "wadouri:" + _self.baseUrl + imageId;
	        allImageIds.push(imageUrl);
	      });

				      var exampleStudyImageIds= [
				        '/static/000000.dcm',
				        '/static/000001.dcm',
				        '/static/000002.dcm',
				        '/static/000003.dcm',
				        '/static/000004.dcm',
				        '/static/000005.dcm',
				        '/static/000006.dcm',
				        '/static/000007.dcm',
				        '/static/000008.dcm',
				        '/static/000009.dcm',
				        '/static/000010.dcm',
				        '/static/000011.dcm',
				        '/static/000012.dcm',
				        '/static/000013.dcm',
				        '/static/000014.dcm',
				        '/static/000015.dcm',
				        '/static/000016.dcm',
				        '/static/000017.dcm',
				        '/static/000018.dcm',
				        '/static/000019.dcm',
				        '/static/000020.dcm',
				        '/static/000021.dcm'
				      ];	                

				      // let allImageIds = [];	     
				      
					const imageIds = (new Array(Number(23)))
						.fill()
						.map(
							// (_, i) => 'wadouri:'+exampleStudyImageIds[i]
							(_, i) => 'wadouri:'+ _this.baseUrl + '/staticNew/'+(i).pad(6)+'.dcm'
						);				       

	      // Create canvasStack
	      let canvasStack = {
	        currentImageIdIndex: 0,
	        imageIds
	      };

	      let element = canvas;

	      // cornerstoneTools.addStackStateManager(element, ['stack']);
	      // cornerstoneTools.addToolState(element, 'stack', canvasStack);

	      // // Enable Inputs
	      // cornerstoneTools.mouseInput.enable(canvas);
	      // cornerstoneTools.mouseWheelInput.enable(canvas);
	      // cornerstoneTools.touchInput.enable(canvas);

	      // // Set the stack as tool state
	      // cornerstoneTools.addStackStateManager(canvas, ["stack"]);
	      // cornerstoneTools.addToolState(canvas, "stack", canvasStack);
	      // cornerstoneTools.stackScrollWheel.activate(canvas); // Mouse wheel
	      // cornerstoneTools.scrollIndicator.enable(canvas); // Position indicator

	      // // Mouse
	      // cornerstoneTools.wwwc.activate(canvas, 1); // left click
	      // cornerstoneTools.pan.activate(canvas, 2); // middle click
	      // cornerstoneTools.zoom.activate(canvas, 4); // right click

	      // // Touch / Gesture
	      // cornerstoneTools.wwwcTouchDrag.activate(canvas); // - Drag
	      // cornerstoneTools.zoomTouchPinch.activate(canvas); // - Pinch
	      // cornerstoneTools.panMultiTouch.activate(canvas); // - Multi (x2)
	    },	
	    listenForWindowResize() {
	      this.$nextTick(function() {
	        window.addEventListener(
	          "resize",
	          this.debounce(this.onWindowResize, 100)
	        );
	      });
	    },
	    onWindowResize() {
	      cornerstone.resize(this.$refs.canvas, true);
	    },
	    /*
	       * Utility Methods
	       *
	       */
	    debounce(func, wait, immediate) {
	      var timeout;
	      return function() {
	        var context = this;
	        var args = arguments;
	        var later = function() {
	          timeout = null;
	          if (!immediate) func.apply(context, args);
	        };
	        var callNow = immediate && !timeout;
	        clearTimeout(timeout);
	        timeout = setTimeout(later, wait);
	        if (callNow) func.apply(context, args);
	      };
	    }	    	
	},
	mounted(){
		this.show();
		this.reset();
	}
};

</script>

<!-- <style scoped>

</style> -->

<style lang="scss">
	.dropbox {
		outline: 2px dashed grey;
		outline-offset: -10px;
		background: lightcyan;
		color: dimgray;
		padding: 10px 10px;
		min-height: 200px;
		position: relative;
		cursor: pointer;
	}

	.input-file {
		opacity: 0;
		width: 100%;
		height: 200px;
		position: absolute;
		cursor: pointer;
	}

	.dropbox:hover{
		background: lightblue;
	}

	.dropbox p {
		font-size: 1.2em;
		text-aligh: center;
		padding: 50px 0;
	}
</style>