<template>
	<div>
		<v-toolbar flat height=60>
			<!-- <v-spacer></v-spacer> -->
<!-- 			<v-btn outline fab small color="white" @click="skiptrack('prev')">
				<v-icon>skip_previous</v-icon>
			</v-btn>
			<v-btn outline fab small color="white" @click="skiptrack('next')">
				<v-icon>skip_next</v-icon>
			</v-btn> -->
			<v-btn icon small>
				<v-icon>control_point</v-icon>
			</v-btn>
			<v-btn icon small>
				<v-icon>keyboard_arrow_left</v-icon>
			</v-btn>
			<v-btn icon small>
				<v-icon>keyboard_arrow_right</v-icon>
			</v-btn>	
			<v-btn icon small>
				<v-icon>attachment</v-icon>
			</v-btn>
			<v-btn icon small>
				<v-icon>create_new_folder</v-icon>
			</v-btn>
			<v-btn icon small>
				<v-icon>folder</v-icon>
			</v-btn>
			<v-btn icon small>
				<v-icon>show_chart</v-icon>
			</v-btn>
			<v-btn icon small>
				<v-icon>insert_photo</v-icon>
			</v-btn>
			<v-btn icon small>
				<v-icon>border_color</v-icon>
			</v-btn>														
			<v-spacer></v-spacer>			
		</v-toolbar>
	</div>
</template>

<script>
	export default {
		name: 'ImageControlBar',
		props: {

		},
		methods: {
			skiptrack(direction){
				this.$emit('skiptrack', direction)
			}
		}
	}
</script>