<template>
	<v-container>
		<v-layout row wrap>
			<!-- <v-flex row xs12 sm6 md6 lg12> -->
				<v-card>
						<img src="../data/1.jpg" width ='700'>
				</v-card>
				<v-spacer></v-spacer>
				<v-card>
						<img src="../data/2.jpg" width ='700'>
				</v-card>
				<v-spacer></v-spacer>
				<v-card>
						<img src="../data/3.jpg" width ='700'>
				</v-card>
				<v-spacer></v-spacer>
				<v-card>
						<img src="../data/4.jpg" width ='700'>
				</v-card>		
			<!-- </v-flex>							 -->
		</v-layout>
	</v-container>
</template>

<script>
	export default {
		name:'ImageDisplay',
	}
</script>