<template>
	<v-container fluid>
		<v-layout row>
			<v-flex md3>
				<div style="height:400px;width:400px" id="r1" ref="canvas2" class="renderer"></div>	
			</v-flex>			
			<v-flex md3>
				<div style="height:400px;width:400px" id="r0" ref="canvas" class="renderer"></div>	
			</v-flex>
			<v-flex md3>
				<div id="my-gui-container"></div>
			</v-flex>
		</v-layout>
		<v-layout row>
			<v-flex md3>
				<div style="height:400px;width:400px" id="r2" ref="canvas3" class="renderer"></div>	
			</v-flex>
			<v-flex md3>
				<div style="height:400px;width:400px" id="r3" ref="canvas4" class="renderer"></div>	
			</v-flex>
		</v-layout>		
	</v-container>
</template>

<script>
	import ShadersDataUniform from 'ami.js/src/shaders/shaders.data.uniform';
	import ShadersDataVertex from 'ami.js/src/shaders/shaders.data.vertex';
	import ShadersDataFragment from 'ami.js/src/shaders/shaders.data.fragment';		
	export default {
		name: "IrsPanel",
		data() {
			return {
				canvas: null,
				context: null,
				isDrawing: false,
				startX: 0,
				startY: 0,
				points: [],
			}
		},	
		mounted(){
			const filenames = [
				'000000.dcm',
				'000001.dcm',
				'000002.dcm',
				'000003.dcm',
				'000004.dcm',
				'000005.dcm',
				'000006.dcm',
				'000007.dcm',
				'000008.dcm',
				'000009.dcm',
				'000010.dcm',
				'000011.dcm',
				'000012.dcm',
				'000013.dcm',
				'000014.dcm',
				'000015.dcm',
				'000016.dcm',
				'000017.dcm',
				'000018.dcm',
				'000019.dcm',
				'000020.dcm',
				'000021.dcm',
				'000022.dcm',
				'000023.dcm',
				'000024.dcm',
				'000025.dcm',
				'000026.dcm',
				'000027.dcm',
				'000028.dcm',
				'000029.dcm',
				'000030.dcm',
				'000031.dcm',
				'000032.dcm',
				'000033.dcm',
				'000034.dcm',
				'000035.dcm',
				'000036.dcm',
				'000037.dcm',
				'000038.dcm',
				'000039.dcm',
				'000040.dcm',
				'000041.dcm',
				'000042.dcm',
				'000043.dcm',
				'000044.dcm',
				'000045.dcm',
				'000046.dcm',
				'000047.dcm',
				'000048.dcm',
				'000049.dcm',
				'000050.dcm',
				'000051.dcm',
				'000052.dcm',
				'000053.dcm',
				'000054.dcm',
				'000055.dcm',
				'000056.dcm',
				'000057.dcm',
				'000058.dcm',
				'000059.dcm',
				'000060.dcm',
				'000061.dcm',
				'000062.dcm',
				'000063.dcm',
				'000064.dcm',
				'000065.dcm',
				'000066.dcm',
				'000067.dcm',
				'000068.dcm',
				'000069.dcm',
				'000070.dcm',
				'000071.dcm',
				'000072.dcm',
				'000073.dcm',
				'000074.dcm',
				'000075.dcm',
				'000076.dcm',
				'000077.dcm',
				'000078.dcm',
				'000079.dcm',
				'000080.dcm',
				'000081.dcm',
				'000082.dcm',
				'000083.dcm',
				'000084.dcm',
				'000085.dcm',
				'000086.dcm',
				'000087.dcm',
				'000088.dcm',
				'000089.dcm',
				'000090.dcm',
				'000091.dcm',
				'000092.dcm',
				'000093.dcm',
				'000094.dcm',
				'000095.dcm',
				'000096.dcm',
				'000097.dcm',
				'000098.dcm',
				'000099.dcm',
				'000100.dcm',
				'000101.dcm',
				'000102.dcm',
				'000103.dcm',
				'000104.dcm',
				'000105.dcm',
				'000106.dcm',
				'000107.dcm',
				'000108.dcm',
				'000109.dcm',
				'000110.dcm',
				'000111.dcm',
				'000112.dcm',
				'000113.dcm',
				'000114.dcm',
				'000115.dcm',
				'000116.dcm',
				'000117.dcm',
				'000118.dcm',
				'000119.dcm',
				'000120.dcm',
				'000121.dcm',
				'000122.dcm',
				'000123.dcm',
				'000124.dcm',
				'000125.dcm',
				'000126.dcm',
				'000127.dcm',
				'000128.dcm',
				'000129.dcm',
				'000130.dcm',
				'000131.dcm',
				'000132.dcm',
				'000133.dcm',
			];		
			// const filenames2 = [
			// 	'mask.nii.gz'
			// ];				
			const files = filenames.map(filename => {
				return `http://localhost:8080/static/${filename}`;
			});

			files.push(
				'http://localhost:8080/static/mask.nii.gz'
			);			

			// const files2 = filenames2.map(filename => {
			// 	return `http://localhost:8080/static/${filename}`;
			// });			
			const colors = {
				red: 0xff0000,
				blue: 0x0000ff,
				darkGrey: 0x353535,
			};	
			let stats;
			let ready = false;

			let redContourHelper = null;
			let redTextureTarget = null;
			let redContourScene = null;		

			let meshesLoaded = 0;

			const r0 = {
			  domId: 'r0',
			  domElement: null,
			  renderer: null,
			  color: 0x212121,
			  targetID: 0,
			  camera: null,
			  controls: null,
			  scene: null,
			  light: null,
			};	

			const r1 = {
			  domId: 'r1',
			  domElement: null,
			  renderer: null,
			  color: 0x121212,
			  sliceOrientation: 'axial',
			  sliceColor: 0xff1744,
			  targetID: 1,
			  camera: null,
			  controls: null,
			  scene: null,
			  light: null,
			  stackHelper: null,
			  localizerHelper: null,
			  localizerScene: null,
			};

			const r2 = {
			  domId: 'r2',
			  domElement: null,
			  renderer: null,
			  color: 0x121212,
			  sliceOrientation: 'sagittal',
			  sliceColor: 0xffea00,
			  targetID: 2,
			  camera: null,
			  controls: null,
			  scene: null,
			  light: null,
			  stackHelper: null,
			  localizerHelper: null,
			  localizerScene: null,
			};

			const r3 = {
			  domId: 'r3',
			  domElement: null,
			  renderer: null,
			  color: 0x121212,
			  sliceOrientation: 'coronal',
			  sliceColor: 0x76ff03,
			  targetID: 3,
			  camera: null,
			  controls: null,
			  scene: null,
			  light: null,
			  stackHelper: null,
			  localizerHelper: null,
			  localizerScene: null,
			};

			let dataInfo = [
			  [
			    'adi1',
			    {
			      location: 'https://rawgit.com/FNNDSC/data/master/fsm/lh.orig',
			      // location: '',
			      label: 'Left',
			      loaded: false,
			      material: null,
			      materialFront: null,
			      materialBack: null,
			      mesh: null,
			      meshFront: null,
			      meshBack: null,
			      color: 0xe91e63,
			      opacity: 0.8,
			    },
			  ],
			  // [
			  //   'adi2',
			  //   {
			  //     location: 'https://rawgit.com/FNNDSC/data/master/fsm/rh.orig',
			  //     label: 'Right',
			  //     loaded: false,
			  //     material: null,
			  //     materialFront: null,
			  //     materialBack: null,
			  //     mesh: null,
			  //     meshFront: null,
			  //     meshBack: null,
			  //     color: 0x03a9f4,
			  //     opacity: 1,
			  //   },
			  // ],
			];

			let data = new Map(dataInfo);

			let sceneClip = new THREE.Scene();
			let clipPlane1 = new THREE.Plane(new THREE.Vector3(0, 0, 0), 0);
			let clipPlane2 = new THREE.Plane(new THREE.Vector3(0, 0, 0), 0);
			let clipPlane3 = new THREE.Plane(new THREE.Vector3(0, 0, 0), 0);

			function initRenderer3D(renderObj) {
			  // renderer
			  renderObj.domElement = document.getElementById(renderObj.domId);
			  renderObj.renderer = new THREE.WebGLRenderer({
			    antialias: true,
			  });
			  renderObj.renderer.setSize(renderObj.domElement.clientWidth, renderObj.domElement.clientHeight);
			  renderObj.renderer.setClearColor(renderObj.color, 1);
			  renderObj.renderer.domElement.id = renderObj.targetID;
			  renderObj.domElement.appendChild(renderObj.renderer.domElement);

			  // camera
			  renderObj.camera = new THREE.PerspectiveCamera(
			    45,
			    renderObj.domElement.clientWidth / renderObj.domElement.clientHeight,
			    0.1,
			    100000
			  );
			  renderObj.camera.position.x = 250;
			  renderObj.camera.position.y = 250;
			  renderObj.camera.position.z = 250;

			  // controls
			  renderObj.controls = new AMI.TrackballControl(renderObj.camera, renderObj.domElement);
			  renderObj.controls.rotateSpeed = 5.5;
			  renderObj.controls.zoomSpeed = 1.2;
			  renderObj.controls.panSpeed = 0.8;
			  renderObj.controls.staticMoving = true;
			  renderObj.controls.dynamicDampingFactor = 0.3;

			  // scene
			  renderObj.scene = new THREE.Scene();

			  // light
			  renderObj.light = new THREE.DirectionalLight(0xffffff, 1);
			  renderObj.light.position.copy(renderObj.camera.position);
			  renderObj.scene.add(renderObj.light);

			  // stats
			  stats = new Stats();
			  renderObj.domElement.appendChild(stats.domElement);
			}		
			
			function initRenderer2D(rendererObj) {
			  // renderer
			  rendererObj.domElement = document.getElementById(rendererObj.domId);
			  rendererObj.renderer = new THREE.WebGLRenderer({
			    antialias: true,
			  });
			  rendererObj.renderer.autoClear = false;
			  rendererObj.renderer.localClippingEnabled = true;
			  rendererObj.renderer.setSize(
			    rendererObj.domElement.clientWidth,
			    rendererObj.domElement.clientHeight
			  );
			  rendererObj.renderer.setClearColor(0x121212, 1);
			  rendererObj.renderer.domElement.id = rendererObj.targetID;
			  rendererObj.domElement.appendChild(rendererObj.renderer.domElement);

			  // camera
			  rendererObj.camera = new AMI.OrthographicCamera(
			    rendererObj.domElement.clientWidth / -2,
			    rendererObj.domElement.clientWidth / 2,
			    rendererObj.domElement.clientHeight / 2,
			    rendererObj.domElement.clientHeight / -2,
			    1,
			    1000
			  );

			  // controls
			  // rendererObj.controls = new AMI.OrthographicControls(rendererObj.camera, rendererObj.domElement);
			  rendererObj.controls = new AMI.TrackballOrthoControl(rendererObj.camera, rendererObj.domElement);
			  rendererObj.controls.staticMoving = true;
			  rendererObj.controls.noRotate = true;
			  rendererObj.camera.controls = rendererObj.controls;

			  // scene
			  rendererObj.scene = new THREE.Scene();
			}	
			
			function initHelpersStack(rendererObj, stack) {
			  rendererObj.stackHelper = new AMI.StackHelper(stack);
			  rendererObj.stackHelper.bbox.visible = false;
			  rendererObj.stackHelper.borderColor = rendererObj.sliceColor;
			  rendererObj.stackHelper.slice.canvasWidth = rendererObj.domElement.clientWidth;
			  rendererObj.stackHelper.slice.canvasHeight = rendererObj.domElement.clientHeight;

			  // set camera
			  let worldbb = stack.worldBoundingBox();
			  let lpsDims = new THREE.Vector3(
			    (worldbb[1] - worldbb[0]) / 2,
			    (worldbb[3] - worldbb[2]) / 2,
			    (worldbb[5] - worldbb[4]) / 2
			  );

			  // box: {halfDimensions, center}
			  let box = {
			    center: stack.worldCenter().clone(),
			    halfDimensions: new THREE.Vector3(lpsDims.x + 10, lpsDims.y + 10, lpsDims.z + 10),
			  };

			  // init and zoom
			  let canvas = {
			    width: rendererObj.domElement.clientWidth,
			    height: rendererObj.domElement.clientHeight,
			  };

			  rendererObj.camera.directions = [stack.xCosine, stack.yCosine, stack.zCosine];
			  rendererObj.camera.box = box;
			  rendererObj.camera.canvas = canvas;
			  rendererObj.camera.orientation = rendererObj.sliceOrientation;
			  rendererObj.camera.update();
			  rendererObj.camera.fitBox(2, 1);

			  rendererObj.stackHelper.orientation = rendererObj.camera.stackOrientation;
			  rendererObj.stackHelper.index = Math.floor(rendererObj.stackHelper.orientationMaxIndex / 2);
			  rendererObj.scene.add(rendererObj.stackHelper);
			}

			function initHelpersLocalizer(rendererObj, stack, referencePlane, localizers) {
			  rendererObj.localizerHelper = new AMI.LocalizerHelper(
			    stack,
			    rendererObj.stackHelper.slice.geometry,
			    referencePlane
			  );

			  for (let i = 0; i < localizers.length; i++) {
			    rendererObj.localizerHelper['plane' + (i + 1)] = localizers[i].plane;
			    rendererObj.localizerHelper['color' + (i + 1)] = localizers[i].color;
			  }

			  rendererObj.localizerHelper.canvasWidth = rendererObj.domElement.clientWidth;
			  rendererObj.localizerHelper.canvasHeight = rendererObj.domElement.clientHeight;

			  rendererObj.localizerScene = new THREE.Scene();
			  rendererObj.localizerScene.add(rendererObj.localizerHelper);
			}		
			
			function render2() {
			  // we are ready when both meshes have been loaded
			  if (ready) {
			    // render
			    r0.controls.update();
			    r1.controls.update();
			    r2.controls.update();
			    r3.controls.update();

			    r0.light.position.copy(r0.camera.position);
			    r0.renderer.render(r0.scene, r0.camera);

			    // r1
			    r1.renderer.clear();
			    r1.renderer.render(r1.scene, r1.camera);
			    // mesh
			    r1.renderer.clearDepth();
			    data.forEach(function(object, key) {
			      object.materialFront.clippingPlanes = [clipPlane1];
			      object.materialBack.clippingPlanes = [clipPlane1];
			      // r1.renderer.render(object.scene, r1.camera, redTextureTarget, true);
			      // r1.renderer.clearDepth();
			      // redContourHelper.contourWidth = object.selected ? 3 : 2;
			      // redContourHelper.contourOpacity = object.selected ? 1 : 0.8;
			      // r1.renderer.render(redContourScene, r1.camera);
			      // r1.renderer.clearDepth();
			    });
			    r1.renderer.render(sceneClip, r1.camera);
			    // localizer
			    r1.renderer.clearDepth();
			    r1.renderer.render(r1.localizerScene, r1.camera);

			    // r2
			    r2.renderer.clear();
			    r2.renderer.render(r2.scene, r2.camera);
			    // mesh
			    r2.renderer.clearDepth();
			    data.forEach(function(object, key) {
			      object.materialFront.clippingPlanes = [clipPlane2];
			      object.materialBack.clippingPlanes = [clipPlane2];
			    });
			    r2.renderer.render(sceneClip, r2.camera);
			    // localizer
			    r2.renderer.clearDepth();
			    r2.renderer.render(r2.localizerScene, r2.camera);

			    // r3
			    r3.renderer.clear();
			    r3.renderer.render(r3.scene, r3.camera);
			    // mesh
			    r3.renderer.clearDepth();
			    data.forEach(function(object, key) {
			      object.materialFront.clippingPlanes = [clipPlane3];
			      object.materialBack.clippingPlanes = [clipPlane3];
			    });
			    r3.renderer.render(sceneClip, r3.camera);
			    // localizer
			    r3.renderer.clearDepth();
			    r3.renderer.render(r3.localizerScene, r3.camera);
			  }

			  stats.update();
			}	

			function render() {
			  // we are ready when both meshes have been loaded
			  if (ready) {
			    // render
			    r0.controls.update();
			    r1.controls.update();
			    r2.controls.update();
			    r3.controls.update();

			    r0.light.position.copy(r0.camera.position);
			    r0.renderer.render(r0.scene, r0.camera);

			    // r1
			    r1.renderer.clear();
			    r1.renderer.render(r1.scene, r1.camera);
			    // mesh
			    r1.renderer.clearDepth();
			    // data.forEach(function(object, key) {
			    //   object.materialFrontclippingPlanes. = [clipPlane1];
			    //   object.materialBack.clippingPlanes = [clipPlane1];
			    //   // r1.renderer.render(object.scene, r1.camera, redTextureTarget, true);
			    //   // r1.renderer.clearDepth();
			    //   // redContourHelper.contourWidth = object.selected ? 3 : 2;
			    //   // redContourHelper.contourOpacity = object.selected ? 1 : 0.8;
			    //   // r1.renderer.render(redContourScene, r1.camera);
			    //   // r1.renderer.clearDepth();
			    // });
			    r1.renderer.render(sceneClip, r1.camera);
			    // localizer
			    r1.renderer.clearDepth();
			    r1.renderer.render(r1.localizerScene, r1.camera);

			    // r2
			    r2.renderer.clear();
			    r2.renderer.render(r2.scene, r2.camera);
			    // mesh
			    r2.renderer.clearDepth();
			    // data.forEach(function(object, key) {
			    //   object.materialFront.clippingPlanes = [clipPlane2];
			    //   object.materialBack.clippingPlanes = [clipPlane2];
			    // });
			    r2.renderer.render(sceneClip, r2.camera);
			    // localizer
			    r2.renderer.clearDepth();
			    r2.renderer.render(r2.localizerScene, r2.camera);

			    // r3
			    r3.renderer.clear();
			    r3.renderer.render(r3.scene, r3.camera);
			    // mesh
			    r3.renderer.clearDepth();
			    // data.forEach(function(object, key) {
			    //   object.materialFront.clippingPlanes = [clipPlane3];
			    //   object.materialBack.clippingPlanes = [clipPlane3];
			    // });
			    r3.renderer.render(sceneClip, r3.camera);
			    // localizer
			    r3.renderer.clearDepth();
			    r3.renderer.render(r3.localizerScene, r3.camera);
			  }

			  stats.update();
			}				
			
			function init() {
			  /**
			   * Called on each animation frame
			   */
			  function animate() {
			    render();

			    // request new frame
			    requestAnimationFrame(function() {
			      animate();
			    });
			  }

			  // renderers
			  initRenderer3D(r0);
			  initRenderer2D(r1);
			  initRenderer2D(r2);
			  initRenderer2D(r3);

			  // start rendering loop
			  animate();
			}

			function updateLocalizer(refObj, targetLocalizersHelpers) {
				let refHelper = refObj.stackHelper;
				let localizerHelper = refObj.localizerHelper;
				let plane = refHelper.slice.cartesianEquation();
				localizerHelper.referencePlane = plane;

				// bit of a hack... works fine for this application
				for (let i = 0; i < targetLocalizersHelpers.length; i++) {
				  for (let j = 0; j < 3; j++) {
				    let targetPlane = targetLocalizersHelpers[i]['plane' + (j + 1)];
				    if (
				      targetPlane &&
				      plane.x.toFixed(6) === targetPlane.x.toFixed(6) &&
				      plane.y.toFixed(6) === targetPlane.y.toFixed(6) &&
				      plane.z.toFixed(6) === targetPlane.z.toFixed(6)
				    ) {
				      targetLocalizersHelpers[i]['plane' + (j + 1)] = plane;
				    }
				  }
				}

				// update the geometry will create a new mesh
				localizerHelper.geometry = refHelper.slice.geometry;
			}			

			function updateClipPlane(refObj, clipPlane) {
				const stackHelper = refObj.stackHelper;
				const camera = refObj.camera;
				let vertices = stackHelper.slice.geometry.vertices;
				let p1 = new THREE.Vector3(vertices[0].x, vertices[0].y, vertices[0].z).applyMatrix4(
				  stackHelper._stack.ijk2LPS
				);
				let p2 = new THREE.Vector3(vertices[1].x, vertices[1].y, vertices[1].z).applyMatrix4(
				  stackHelper._stack.ijk2LPS
				);
				let p3 = new THREE.Vector3(vertices[2].x, vertices[2].y, vertices[2].z).applyMatrix4(
				  stackHelper._stack.ijk2LPS
				);

				clipPlane.setFromCoplanarPoints(p1, p2, p3);

				let cameraDirection = new THREE.Vector3(1, 1, 1);
				cameraDirection.applyQuaternion(camera.quaternion);

				if (cameraDirection.dot(clipPlane.normal) > 0) {
				  clipPlane.negate();
				}
			}


			function onYellowChanged() {
				updateLocalizer(r2, [r1.localizerHelper, r3.localizerHelper]);
				updateClipPlane(r2, clipPlane2);
			}	
			
			function onRedChanged() {
				updateLocalizer(r1, [r2.localizerHelper, r3.localizerHelper]);
				updateClipPlane(r1, clipPlane1);

				if (redContourHelper) {
				  redContourHelper.geometry = r1.stackHelper.slice.geometry;
				}
			}			

			function onGreenChanged() {
				updateLocalizer(r3, [r1.localizerHelper, r2.localizerHelper]);
				updateClipPlane(r3, clipPlane3);
			}				

			function onDoubleClick(event) {
				const canvas = event.target.parentElement;
				const id = event.target.id;
				const mouse = {
				  x: ((event.clientX - canvas.offsetLeft) / canvas.clientWidth) * 2 - 1,
				  y: -((event.clientY - canvas.offsetTop) / canvas.clientHeight) * 2 + 1,
				};
				//
				let camera = null;
				let stackHelper = null;
				let scene = null;
				switch (id) {
				  case '0':
				    camera = r0.camera;
				    stackHelper = r1.stackHelper;
				    scene = r0.scene;
				    break;
				  case '1':
				    camera = r1.camera;
				    stackHelper = r1.stackHelper;
				    scene = r1.scene;
				    break;
				  case '2':
				    camera = r2.camera;
				    stackHelper = r2.stackHelper;
				    scene = r2.scene;
				    break;
				  case '3':
				    camera = r3.camera;
				    stackHelper = r3.stackHelper;
				    scene = r3.scene;
				    break;
				}

				const raycaster = new THREE.Raycaster();
				raycaster.setFromCamera(mouse, camera);

				const intersects = raycaster.intersectObjects(scene.children, true);
				if (intersects.length > 0) {
				  let ijk = CoreUtils.worldToData(stackHelper.stack.lps2IJK, intersects[0].point);

				  r1.stackHelper.index = ijk.getComponent((r1.stackHelper.orientation + 2) % 3);
				  r2.stackHelper.index = ijk.getComponent((r2.stackHelper.orientation + 2) % 3);
				  r3.stackHelper.index = ijk.getComponent((r3.stackHelper.orientation + 2) % 3);

				  onGreenChanged();
				  onRedChanged();
				  onYellowChanged();
				}
			}		
			
			function onClick(event) {
				const canvas = event.target.parentElement;
				const id = event.target.id;
				const mouse = {
				  x: ((event.clientX - canvas.offsetLeft) / canvas.clientWidth) * 2 - 1,
				  y: -((event.clientY - canvas.offsetTop) / canvas.clientHeight) * 2 + 1,
				};
				//
				let camera = null;
				let stackHelper = null;
				let scene = null;
				switch (id) {
				  case '0':
				    camera = r0.camera;
				    stackHelper = r1.stackHelper;
				    scene = r0.scene;
				    break;
				  case '1':
				    camera = r1.camera;
				    stackHelper = r1.stackHelper;
				    scene = r1.scene;
				    break;
				  case '2':
				    camera = r2.camera;
				    stackHelper = r2.stackHelper;
				    scene = r2.scene;
				    break;
				  case '3':
				    camera = r3.camera;
				    stackHelper = r3.stackHelper;
				    scene = r3.scene;
				    break;
				}	
				const raycaster = new THREE.Raycaster();
				raycaster.setFromCamera(mouse, camera);

				const intersects = raycaster.intersectObjects(scene.children, true);
				if (intersects.length > 0) {
				  if (intersects[0].object && intersects[0].object.objRef) {
				    const refObject = intersects[0].object.objRef;
				    refObject.selected = !refObject.selected;

				    let color = refObject.color;
				    if (refObject.selected) {
				      color = 0xccff00;
				    }

				    // update materials colors
				    refObject.material.color.setHex(color);
				    refObject.materialFront.color.setHex(color);
				    refObject.materialBack.color.setHex(color);
				  }
				}
			}			

			function onScroll(event) {
				const id = event.target.domElement.id;
				let stackHelper = null;
				switch (id) {
				  case 'r1':
				    stackHelper = r1.stackHelper;
				    break;
				  case 'r2':
				    stackHelper = r2.stackHelper;
				    break;
				  case 'r3':
				    stackHelper = r3.stackHelper;
				    break;
				}

				if (event.delta > 0) {
				  if (stackHelper.index >= stackHelper.orientationMaxIndex - 1) {
				    return false;
				  }
				  stackHelper.index += 1;
				} else {
				  if (stackHelper.index <= 0) {
				    return false;
				  }
				  stackHelper.index -= 1;
				}

				onGreenChanged();
				onRedChanged();
				onYellowChanged();
			}		
			
			function windowResize2D(rendererObj) {
				rendererObj.camera.canvas = {
				  width: rendererObj.domElement.clientWidth,
				  height: rendererObj.domElement.clientHeight,
				};
				rendererObj.camera.fitBox(2, 1);
				rendererObj.renderer.setSize(
				  rendererObj.domElement.clientWidth,
				  rendererObj.domElement.clientHeight
				);

				// update info to draw borders properly
				rendererObj.stackHelper.slice.canvasWidth = rendererObj.domElement.clientWidth;
				rendererObj.stackHelper.slice.canvasHeight = rendererObj.domElement.clientHeight;
				rendererObj.localizerHelper.canvasWidth = rendererObj.domElement.clientWidth;
				rendererObj.localizerHelper.canvasHeight = rendererObj.domElement.clientHeight;
			}

			function onWindowResize() {
				// update 3D
				r0.camera.aspect = r0.domElement.clientWidth / r0.domElement.clientHeight;
				r0.camera.updateProjectionMatrix();
				r0.renderer.setSize(r0.domElement.clientWidth, r0.domElement.clientHeight);

				// update 2d
				windowResize2D(r1);
				windowResize2D(r2);
				windowResize2D(r3);
			}	
			
			function loadSTLObject(object) {
				const stlLoader = new THREE.FreeSurferLoader();
				// const stlLoader = new THREE.STLLoader();
				stlLoader.load(object.location, function(geometry) {
				  geometry.computeVertexNormals();
				  // 3D mesh
				  object.material = new THREE.MeshLambertMaterial({
				    opacity: object.opacity,
				    color: object.color,
				    clippingPlanes: [],
				    transparent: true,
				  });
				  object.mesh = new THREE.Mesh(geometry, object.material);
				  object.mesh.objRef = object;
				  const array = r1.stackHelper.stack.lps2IJK.toArray();

				  let RASToLPS = new THREE.Matrix4();
				  const worldCenter = r1.stackHelper.stack.worldCenter();
				  RASToLPS.set(
				    -1,
				    0,
				    0,
				    worldCenter.x,
				    0,
				    -1,
				    0,
				    worldCenter.y,
				    0,
				    0,
				    1,
				    worldCenter.z,
				    0,
				    0,
				    0,
				    1
				  );
				  object.mesh.applyMatrix(RASToLPS);
				  r0.scene.add(object.mesh);

				  object.scene = new THREE.Scene();

				  // front
				  object.materialFront = new THREE.MeshBasicMaterial({
				    color: object.color,
				    side: THREE.FrontSide,
				    depthWrite: true,
				    opacity: 0,
				    transparent: true,
				    clippingPlanes: [],
				  });

				  object.meshFront = new THREE.Mesh(geometry, object.materialFront);
				  object.meshFront.applyMatrix(RASToLPS);
				  object.scene.add(object.meshFront);

				  // back
				  object.materialBack = new THREE.MeshBasicMaterial({
				    color: object.color,
				    side: THREE.BackSide,
				    depthWrite: true,
				    opacity: object.opacity,
				    transparent: true,
				    clippingPlanes: [],
				  });

				  object.meshBack = new THREE.Mesh(geometry, object.materialBack);
				  object.meshBack.applyMatrix(RASToLPS);
				  object.scene.add(object.meshBack);
				  sceneClip.add(object.scene);

				  meshesLoaded++;

				  onGreenChanged();
				  onRedChanged();
				  onYellowChanged();

				  // good to go
				  if (meshesLoaded === data.size) {
				    ready = true;

				    // force 1st render
				    // render();
				    // notify puppeteer to take screenshot
				    // const puppetDiv = document.createElement('div');
				    // puppetDiv.setAttribute('id', 'puppeteer');
				    // document.body.appendChild(puppetDiv);
				  }
				});
			}	

			function loadSTLObject2() {
				const stlLoader = new THREE.FreeSurferLoader();
				// const stlLoader = new THREE.STLLoader();
				// stlLoader.load(object.location, function(geometry) {
				  // geometry.computeVertexNormals();
				  // // 3D mesh
				  // object.material = new THREE.MeshLambertMaterial({
				  //   opacity: object.opacity,
				  //   color: object.color,
				  //   clippingPlanes: [],
				  //   transparent: true,
				  // });
				  // object.mesh = new THREE.Mesh(geometry, object.material);
				  // object.mesh.objRef = object;
				  const array = r1.stackHelper.stack.lps2IJK.toArray();

				  let RASToLPS = new THREE.Matrix4();
				  const worldCenter = r1.stackHelper.stack.worldCenter();
				  RASToLPS.set(
				    -1,
				    0,
				    0,
				    worldCenter.x,
				    0,
				    -1,
				    0,
				    worldCenter.y,
				    0,
				    0,
				    1,
				    worldCenter.z,
				    0,
				    0,
				    0,
				    1
				  );
				  // object.mesh.applyMatrix(RASToLPS);
				  // r0.scene.add(object.mesh);

				  // object.scene = new THREE.Scene();

				  // front
				  // object.materialFront = new THREE.MeshBasicMaterial({
				  //   color: object.color,
				  //   side: THREE.FrontSide,
				  //   depthWrite: true,
				  //   opacity: 0,
				  //   transparent: true,
				  //   clippingPlanes: [],
				  // });

				  // object.meshFront = new THREE.Mesh(geometry, object.materialFront);
				  // object.meshFront.applyMatrix(RASToLPS);
				  // object.scene.add(object.meshFront);

				  // // back
				  // object.materialBack = new THREE.MeshBasicMaterial({
				  //   color: object.color,
				  //   side: THREE.BackSide,
				  //   depthWrite: true,
				  //   opacity: object.opacity,
				  //   transparent: true,
				  //   clippingPlanes: [],
				  // });

				  // object.meshBack = new THREE.Mesh(geometry, object.materialBack);
				  // object.meshBack.applyMatrix(RASToLPS);
				  // object.scene.add(object.meshBack);
				  // sceneClip.add(object.scene);

				  meshesLoaded++;

				  onGreenChanged();
				  onRedChanged();
				  onYellowChanged();

				  // good to go
				  // if (meshesLoaded === data.size) {
				    ready = true;

				    // force 1st render
				    render();
				    // notify puppeteer to take screenshot
				    // const puppetDiv = document.createElement('div');
				    // puppetDiv.setAttribute('id', 'puppeteer');
				    // document.body.appendChild(puppetDiv);
				  // }
				// });
			}					

			function setListeners(){
				// event listeners
				r0.domElement.addEventListener('dblclick', onDoubleClick);
				r1.domElement.addEventListener('dblclick', onDoubleClick);
				r2.domElement.addEventListener('dblclick', onDoubleClick);
				r3.domElement.addEventListener('dblclick', onDoubleClick);
				r0.domElement.addEventListener('click', onClick);
				// event listeners
				r1.controls.addEventListener('OnScroll', onScroll);
				r2.controls.addEventListener('OnScroll', onScroll);
				r3.controls.addEventListener('OnScroll', onScroll);
				window.addEventListener('resize', onWindowResize, false);				
			}	

			function setGui(){
				let gui = new dat.GUI({
					autoPlace: false,
				});

				let customContainer = document.getElementById('my-gui-container');
				customContainer.appendChild(gui.domElement);

				// Red
				let stackFolder1 = gui.addFolder('Axial (Red)');
				let redChanged = stackFolder1
				.add(r1.stackHelper, 'index', 0, r1.stackHelper.orientationMaxIndex)
				.step(1)
				.listen();
				stackFolder1
				.add(r1.stackHelper.slice, 'interpolation', 0, 1)
				.step(1)
				.listen();

				// Yellow
				let stackFolder2 = gui.addFolder('Sagittal (yellow)');
				let yellowChanged = stackFolder2
				.add(r2.stackHelper, 'index', 0, r2.stackHelper.orientationMaxIndex)
				.step(1)
				.listen();
				stackFolder2
				.add(r2.stackHelper.slice, 'interpolation', 0, 1)
				.step(1)
				.listen();

				// Green
				let stackFolder3 = gui.addFolder('Coronal (green)');
				let greenChanged = stackFolder3
				.add(r3.stackHelper, 'index', 0, r3.stackHelper.orientationMaxIndex)
				.step(1)
				.listen();
				stackFolder3
				.add(r3.stackHelper.slice, 'interpolation', 0, 1)
				.step(1)
				.listen();

				yellowChanged.onChange(onYellowChanged);
				redChanged.onChange(onRedChanged);
				greenChanged.onChange(onGreenChanged);				
			}								


			// init threeJS
			init();

			let loader = new AMI.VolumeLoader();
			loader
				.load(files)
				.then(function() {
					// console.log(loader.data);
					// let series = loader.data[0].mergeSeries(loader.data)[0];
					let series = loader.data[0].mergeSeries(loader.data);
					loader.free();
					loader = null;
					// get first stack from series
					let stack = series[0].stack[0];
					stack.prepare();

					let stack2 = series[1].stack[0];
					stack2.prepare();
					stack2.pack();

					let segmentsList=['erase'];
					let segmentsDict={
						erase:{
							color:'#d9d9d9',
							value:0,
						}
					};

					for (let i=0;i<stack2._segmentationSegments.length;i++){
						let label=stack2._segmentationSegments[i].segmentLabel;
						let number=stack2._segmentationSegments[i].segmentNumber;
						segmentsList.push(label);
						segmentsDict[label]={
							color:`rgba(
								${Math.round(stack2._segmentationLUT[number][1]*255)},
								${Math.round(stack2._segmentationLUT[number][2]*255)},
								${Math.round(stack2._segmentationLUT[number][3]*255)},						
							)`,
							value:number,
						};
					}

					let textures2 = [];
				    for (let m = 0; m < stack2._rawData.length; m++) {
				      let tex = new THREE.DataTexture(
				        stack2.rawData[m],
				        stack2.textureSize,
				        stack2.textureSize,
				        stack2.textureType,
				        THREE.UnsignedByteType,
				        THREE.UVMapping,
				        THREE.ClampToEdgeWrapping,
				        THREE.ClampToEdgeWrapping,
				        THREE.NearestFilter,
				        THREE.NearestFilter
				      );
				      tex.needsUpdate = true;
				      tex.flipY = true;
				      textures2.push(tex);
				    }

				    let uniformsLayer1 = ShadersDataUniform.uniforms();
				    uniformsLayer1.uTextureSize.value = stack2.textureSize;
				    uniformsLayer1.uTextureContainer.value = textures2;
				    uniformsLayer1.uWorldToData.value = stack2.lps2IJK;
				    uniformsLayer1.uNumberOfChannels.value = stack2.numberOfChannels;
				    uniformsLayer1.uPixelType.value = stack2.pixelType;
				    uniformsLayer1.uBitsAllocated.value = stack2.bitsAllocated;
				    uniformsLayer1.uPackedPerPixel.value = stack2.packedPerPixel;
				    uniformsLayer1.uWindowCenterWidth.value = [stack2.windowCenter, stack2.windowWidth];
				    uniformsLayer1.uRescaleSlopeIntercept.value = [stack2.rescaleSlope, stack2.rescaleIntercept];
				    uniformsLayer1.uDataDimensions.value = [
				      stack2.dimensionsIJK.x,
				      stack2.dimensionsIJK.y,
				      stack2.dimensionsIJK.z,
				    ];
				    uniformsLayer1.uInterpolation.value = 0;
				    uniformsLayer1.uLowerUpperThreshold.value = [...stack2.minMax];	

				    // console.log(uniformsLayer1);	
				    let fs = new ShadersDataFragment(uniformsLayer1);
				    let vs = new ShadersDataVertex();
				    let materialLayer1 = new THREE.ShaderMaterial({
				      side: THREE.DoubleSide,
				      uniforms: uniformsLayer1,
				      vertexShader: vs.compute(),
				      fragmentShader: fs.compute(),
				    });				 

				    // console.log(materialLayer1);  
				     	
				    // meshLayer1 = new THREE.Mesh(stackHelper.slice.geometry, materialLayer1);
				    // meshLayer1.applyMatrix(stack._ijk2LPS);
				    // sceneLayer1.add(meshLayer1);				    		    

				    // console.log(textures2);						
					
					// console.log(segmentsList);
					// console.log(stack2);

					// center 3d camera/control on the stack
					let centerLPS = stack.worldCenter();
					r0.camera.lookAt(centerLPS.x, centerLPS.y, centerLPS.z);
					r0.camera.updateProjectionMatrix();
					r0.controls.target.set(centerLPS.x, centerLPS.y, centerLPS.z);

					// bouding box
					let boxHelper = new AMI.BoundingBoxHelper(stack);
					r0.scene.add(boxHelper);

					// red slice
					initHelpersStack(r1, stack);
					r0.scene.add(r1.scene);

					redTextureTarget = new THREE.WebGLRenderTarget(
						r1.domElement.clientWidth,
						r1.domElement.clientHeight,
						{
						  minFilter: THREE.LinearFilter,
						  magFilter: THREE.NearestFilter,
						  format: THREE.RGBAFormat,
						}
					);

					redContourHelper = new AMI.ContourHelper(stack, r1.stackHelper.slice.geometry);
					redContourHelper.canvasWidth = redTextureTarget.width;
					redContourHelper.canvasHeight = redTextureTarget.height;
					redContourHelper.textureToFilter = redTextureTarget.texture;
					redContourScene = new THREE.Scene();
					redContourScene.add(redContourHelper);

					// yellow slice
					initHelpersStack(r2, stack);
					r0.scene.add(r2.scene);

					// green slice
					initHelpersStack(r3, stack);
					r0.scene.add(r3.scene);

					// create new mesh with Localizer shaders
					let plane1 = r1.stackHelper.slice.cartesianEquation();
					let plane2 = r2.stackHelper.slice.cartesianEquation();
					let plane3 = r3.stackHelper.slice.cartesianEquation();

					// localizer red slice
					initHelpersLocalizer(r1, stack, plane1, [
						{ plane: plane2, color: new THREE.Color(r2.stackHelper.borderColor) },
						{ plane: plane3, color: new THREE.Color(r3.stackHelper.borderColor) },
					]);

					// localizer yellow slice
					initHelpersLocalizer(r2, stack, plane2, [
						{ plane: plane1, color: new THREE.Color(r1.stackHelper.borderColor) },
						{ plane: plane3, color: new THREE.Color(r3.stackHelper.borderColor) },
					]);

					// localizer green slice
					initHelpersLocalizer(r3, stack, plane3, [
						{ plane: plane1, color: new THREE.Color(r1.stackHelper.borderColor) },
						{ plane: plane2, color: new THREE.Color(r2.stackHelper.borderColor) },
					]);

					setGui();
					setListeners();

					ready = true;
					render();
					
					// data.forEach(function(object, key) {
					// 	loadSTLObject(object);
					// 	// loadSTLObject2();
					// });
					})
					.catch(function(error) {
						window.console.log('oops... something went wrong...');
						window.console.log(error);
					});																							
		},	
		methods: {

		},
	}
</script>

<style scoped>

</style>