<template>
	<v-card height="200" :class="{patientlist}">
		<v-card-title><h4>Patient List</h4></v-card-title>		
		<v-list>
			<v-list-tile
				v-for="(track, index) in patientlist"
				:key="track.name"
				v-show="track.display"
				:class="[{selected:track==selectedTrack},{even:index%2==0}]"
				>
				<v-list-tile-content @click="selectTrack(track)">
					<v-list-tile-title>
						{{track.name}} 
					</v-list-tile-title>
				</v-list-tile-content>
				<v-spacer></v-spacer>
			</v-list-tile>
		</v-list>
	</v-card>
</template>

<script>
	export default {
		name : 'PatientListPanel',
		props: {
			patientlist: Array,
			selectedTrack: Object,
		},
		methods: {
			selectTrack(track){
				this.$emit('selecttrack',track)
			}
		}
	}
</script>

<style scoped>
	.selected {
		background-color: orange !important;
	}
	.even {
		background-color: #505050
	}
	.playlist {
		overflow: auto
	}
</style>