<template>
	<div>
		<v-toolbar flat height=60>
			<v-spacer></v-spacer>
			<v-btn outline fab small color="white" @click="skiptrack('prev')">
				<v-icon>skip_previous</v-icon>
			</v-btn>
			<v-btn outline fab small color="white" @click="skiptrack('next')">
				<v-icon>skip_next</v-icon>
			</v-btn>
			<v-spacer></v-spacer>			
		</v-toolbar>
	</div>
</template>

<script>
	export default {
		name: 'PlayerControlsBars',
		props: {

		},
		methods: {
			skiptrack(direction){
				this.$emit('skiptrack', direction)
			}
		}
	}
</script>