<template>
	<v-container>
		<v-layout>
			<v-flex row>
				<div id="my-gui-container"></div>
				<div style="height:512px;width:512px" id="r0" ref="canvas" class="renderer"></div>	
				<div style="height:512px;width:512px" id="r1" ref="canvas2" class="renderer"></div>	
				<div style="height:512px;width:512px" id="r2" ref="canvas3" class="renderer"></div>	
				<div style="height:512px;width:512px" id="r3" ref="canvas4" class="renderer"></div>	
				
				
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
	// import * as THREE from 'three';
	// import * as AMI from 'ami.js';
	// import CamerasOrthographic from 'ami.js/src/cameras/cameras.orthographic';
	// import ControlsOrthographic from 'ami.js/src/controls/controls.trackballortho';
	// import ControlsTrackball from 'ami.js/src/controls/controls.trackball';
	// import CoreUtils from 'ami.js/src/core/core.utils';
	// import HelpersBoundingBox from 'ami.js/src/helpers/helpers.boundingbox';
	// import HelpersContour from 'ami.js/src/helpers/helpers.contour';
	// import HelpersLocalizer from 'ami.js/src/helpers/helpers.localizer';
	// import HelpersStack from 'ami.js/src/helpers/helpers.stack';
	// import LoadersVolume from 'ami.js/src/loaders/loaders.volume';

	// import ControlsTrackball from 'base/controls/controls.trackball';

	export default {
		name: "CanvasDisplay",
		data() {
			return {
				canvas: null,
				context: null,
				isDrawing: false,
				startX: 0,
				startY: 0,
				points: [],
			}
		},
		mounted(){
			const filenames = [
				'000000.dcm',
				'000001.dcm',
				'000002.dcm',
				'000003.dcm',
				'000004.dcm',
				'000005.dcm',
				'000006.dcm',
				'000007.dcm',
				'000008.dcm',
				'000009.dcm',
				'000010.dcm',
				'000011.dcm',
				'000012.dcm',
				'000013.dcm',
				'000014.dcm',
				'000015.dcm',
				'000016.dcm',
				'000017.dcm',
				'000018.dcm',
				'000019.dcm',
				'000020.dcm',
				'000021.dcm',
				'000022.dcm',
				'000023.dcm',
				'000024.dcm',
				'000025.dcm',
				'000026.dcm',
				'000027.dcm',
				'000028.dcm',
				'000029.dcm',
				'000030.dcm',
				'000031.dcm',
				'000032.dcm',
				'000033.dcm',
				'000034.dcm',
				'000035.dcm',
				'000036.dcm',
				'000037.dcm',
				'000038.dcm',
				'000039.dcm',
				'000040.dcm',
				'000041.dcm',
				'000042.dcm',
				'000043.dcm',
				'000044.dcm',
				'000045.dcm',
				'000046.dcm',
				'000047.dcm',
				'000048.dcm',
				'000049.dcm',
				'000050.dcm',
				'000051.dcm',
				'000052.dcm',
				'000053.dcm',
				'000054.dcm',
				'000055.dcm',
				'000056.dcm',
				'000057.dcm',
				'000058.dcm',
				'000059.dcm',
				'000060.dcm',
				'000061.dcm',
				'000062.dcm',
				'000063.dcm',
				'000064.dcm',
				'000065.dcm',
				'000066.dcm',
				'000067.dcm',
				'000068.dcm',
				'000069.dcm',
				'000070.dcm',
				'000071.dcm',
				'000072.dcm',
				'000073.dcm',
				'000074.dcm',
				'000075.dcm',
				'000076.dcm',
				'000077.dcm',
				'000078.dcm',
				'000079.dcm',
				'000080.dcm',
				'000081.dcm',
				'000082.dcm',
				'000083.dcm',
				'000084.dcm',
				'000085.dcm',
				'000086.dcm',
				'000087.dcm',
				'000088.dcm',
				'000089.dcm',
				'000090.dcm',
				'000091.dcm',
				'000092.dcm',
				'000093.dcm',
				'000094.dcm',
				'000095.dcm',
				'000096.dcm',
				'000097.dcm',
				'000098.dcm',
				'000099.dcm',
				'000100.dcm',
				'000101.dcm',
				'000102.dcm',
				'000103.dcm',
				'000104.dcm',
				'000105.dcm',
				'000106.dcm',
				'000107.dcm',
				'000108.dcm',
				'000109.dcm',
				'000110.dcm',
				'000111.dcm',
				'000112.dcm',
				'000113.dcm',
				'000114.dcm',
				'000115.dcm',
				'000116.dcm',
				'000117.dcm',
				'000118.dcm',
				'000119.dcm',
				'000120.dcm',
				'000121.dcm',
				'000122.dcm',
				'000123.dcm',
				'000124.dcm',
				'000125.dcm',
				'000126.dcm',
				'000127.dcm',
				'000128.dcm',
				'000129.dcm',
				'000130.dcm',
				'000131.dcm',
				'000132.dcm',
				'000133.dcm',
			];

			const files = filenames.map(filename => {
				return `http://localhost:8080/static/${filename}`;
			});

			const colors = {
				red: 0xff0000,
				blue: 0x0000ff,
				darkGrey: 0x353535,
			};

			let stats;
			let ready=false;
			let redContourHelper=null;
			let redTextureTarget=null;
			let redContourScene=null;

			const r0={
				domId: 'r0',
				domElement: null,
				renderer: null,
				color: 0x212121,
				targetID: 0,
				camera: null,
				controls: null,
				scene: null,
				light: null,
			};

			const r1={
				domId:'r1',
				domElement:null,
				renderer:null,
				color:0x121212,
				sliceOrientation: 'axial',
				sliceColor: 0xff1744,
				targetID: 1,
				camera: null,
				controls: null,
				scene: null,
				light: null,
				stackHelper: null,
				localizerHelper: null,
				localizerScene: null,
			};

			const r2={
				domId: 'r2',
				domElement: null,
				renderer: null,
				color: 0x121212,
				sliceOrientation: 'sagittal',
				sliceColor: 0xffea00,
				targetID: 2,
				camera: null,
				controls: null,
				scene: null,
				light: null,
				stackHelper: null,
				localizerHelper: null,
				localizerScene: null,
			};

			const r3={
				domId: 'r3',
				domElement: null,
				renderer: null,
				color: 0x121212,
				sliceOrientation: 'coronal',
				sliceColor: 0x76ff03,
				targetID: 3,
				camera: null,
				controls: null,
				scene: null,
				light: null,
				stackHelper: null,
				localizerHelper: null,
				localizerScene: null,
			}

			let sceneClip = new THREE.Scene();
			let clipPlane1 = new THREE.Plane(new THREE.Vector3(0,0,0),0);
			let clipPlane2 = new THREE.Plane(new THREE.Vector3(0,0,0),0);
			let clipPlane3 = new THREE.Plane(new THREE.Vector3(0,0,0),0);

			function initHealpersStack(renderObj, stack) {
				renderObj.stackHelper = new AMI.StackHelper(stack);
				renderObj.stackHelper.bbox.visible=false;
				renderObj.stackHelper.borderColor=renderObj.sliceColor;
				renderObj.stackHelper.slice.canvasWidth=renderObj.domElement.clientWidth;
				renderObj.stackHelper.slice.canvasHeight=renderObj.domElement.clientHeight;

				let worldbb = stack.worldBoundingBox();
				let lpsDims = new THREE.Vector3(
					(worldbb[1] - worldbb[0]) / 2,
					(worldbb[3] - worldbb[2]) / 2,
					(worldbb[5] - worldbb[4]) / 2,
				);

				let box = {
					center: stack.worldCenter().clone(),
					halfDimensions: new THREE.Vector3(lpsDims.x+10,lpsDims.y+10,lpsDims.z+10),
				};

				let canvas={
					width: renderObj.domElement.clientWidth,
					height: renderObj.domElement.clientHeight,
				};

				renderObj.camera.directions = [stack.xCosine, stack.yCosine, stack.zCosine];
				renderObj.camera.box=box;
				renderObj.camera.canvas=canvas;
				renderObj.camera.orientation=renderObj.sliceOrientation;
				renderObj.camera.update();
				renderObj.camera.fitBox(2,1);

				renderObj.stackHelper.orientation=renderObj.camera.stackOrientation;
				renderObj.stackHelper.index = Math.floor(renderObj.stackHelper.orientationMaxIndex / 2);
				renderObj.scene.add(renderObj.stackHelper);
			}

			function initHelpersLocalizer(rendererObj, stack, referencePlane, localizers) {
				rendererObj.localizerHelper = new AMI.localizerHelper(
					stack,
					rendererObj.stackHelper.slice.geometry,
					referencePlane
				)

				for (let i=0;i<localizer.length;i++){
					rendererObj.localizerHelper['plane'+(i+1)]=localizers[i].plane;
					rendererObj.localizerHelper['color'+(i+1)]=localizers[i].color;
				}

				rendererObj.localizerHelper.canvasWidth=rendererObj.domElement.clientWidth;
				rendererObj.localizerHelper.canvasHeight=rendererObj.domElement.clientHeight;

				rendererObj.localizerScene=new THREE.Scene();
				rendererObj.localizerScene.add(rendererObj.localizerHelper);
			}

			function initRenderer3D(renderObj){
				renderObj.domElement=document.getElementById(renderObj.domId);
				renderObj.renderer = new THREE.WebGLRenderer({
					antialias:true,
				});
				renderObj.renderer.setSize(renderObj.domElement.clientWidth,renderObj.domElement.clientHeight);
				renderObj.renderer.setClearColor(renderObj.color,1);
				renderObj.renderer.domElement.id=renderObj.targetID;
				renderObj.domElement.appendChild(renderObj.renderer.domElement);

				renderObj.camera=new THREE.PerspectiveCamera(
					45,
					renderObj.domElement.clientWidth / renderObj.domElement.clientHeight,
					0.1,
					100000
				);
				renderObj.camera.position.x=250;
				renderObj.camera.position.y=250;
				renderObj.camera.position.z=250;

				// renderObj.controls=new AMI.ControlsTrackball(renderObj.camera,renderObj.domElement);
				// const controls = new AMI.TrackballControl(camera, container);
				renderObj.controls=new AMI.TrackballControl(renderObj.camera,renderObj.domElement);
				renderObj.controls.rotateSpeed=5.5;
				renderObj.controls.zoomSpeed=1.2;
				renderObj.controls.panSpeed=0.8;
				renderObj.controls.staticMoving=true;
				renderObj.controls.dynamicDampingFactor=0.3;

				renderObj.scene=new THREE.Scene();

				renderObj.light=new THREE.DirectionalLight(0xffffff,1);
				renderObj.light.position.copy(renderObj.camera.position);
				renderObj.scene.add(renderObj.light);

				// stats=new Stats();
				// renderObj.domElement.appendChild(stats.domElement);
			}

			function initRenderer2D(rendererObj){
				rendererObj.domElement=document.getElementById(rendererObj.domId);
				rendererObj.renderer=new THREE.WebGLRenderer({
					antialias:true,
				});
				rendererObj.renderer.autoClear=false;
				rendererObj.renderer.localClippingEnabled = true;
				rendererObj.renderer.setSize(
					rendererObj.domElement.clientWidth,
					rendererObj.domElement.clientHeight
				);
				rendererObj.renderer.setClearColor(0x121212,1);
				rendererObj.renderer.domElement.id=rendererObj.targetID;
				rendererObj.domElement.appendChild(rendererObj.renderer.domElement);

				rendererObj.camera=new AMI.OrthographicCamera(
					rendererObj.domElement.clientWidth / -2,
					rendererObj.domElement.clientWidth / 2,
					rendererObj.domElement.clientHeight / 2,
					rendererObj.domElement.clientHeight / -2,
					1,
					1000
				);

				// rendererObj.controls=new AMI.OrthographicControl(rendererObj.camera,rendererObj.domElement);
				rendererObj.controls= new AMI.TrackballOrthoControl(rendererObj.camera,rendererObj.domElement);
				rendererObj.controls.staticMoving=true;
				rendererObj.controls.noRotate=true;
				rendererObj.camera.controls=rendererObj.controls;

				rendererObj.scene=new THREE.Scene();
			}

			function render() {
				// ready=true;
				if (ready) {
					r0.controls.update();
					r1.controls.update();
					r2.controls.update();
					r3.controls.update();

					r0.light.position.copy(r0.camera.position);
					r0.renderer.render(r0.scene, r0.camera);

					r1.renderer.clear();
					r1.renderer.render(r1.scene, r1.camera);

					r1.renderer.clearDepth();
					data.forEach(function(object,key){
						object.materialFront.clippingPlanes = [clipPlane1];
						object.maetiralBack.clippingPlanes = [clipPlane1];
						r1.renderer.render(object.scene,r1.camera,redTextureTarget,true);
						r1.renderer.clearDepth();
						redContourHelper.contourWidth = object.selected ? 3:2;
						redContourHelper.contourOpacity = object.selected ? 1:0.8;
						r1.renderer.render(redContourScene,r1.camera);
						r1.renderer.clearDepth();
					});

					r1.renderer.clearDepth();
					r1.renderer.render(r1.localizerScene, r1.camera);

					r2.renderer.clear();
					r2.renderer.render(r2.scene,r2.camera);

					r2.renderer.clearDepth();
					data.forEach(function(object,key){
						object.materialFront.clippingPlanes = [clipPlane2];
						object.maetiralBack.clippingPlanes = [clipPlane2];
					});
					r2.renderer.render(sceneClip,r2.camera);

					r2.renderer.clearDepth();
					r2.renderer.render(r2.localizerScene,r2.camera);

					r3.renderer.clear();
					r3.renderer.render(r3.scene,r3.camera);

					r3.renderer.clearDepth();
					data.forEach(function(object,key){
						object.materialFront.clippingPlanes = [clipPlane3];
						object.maetiralBack.clippingPlanes = [clipPlane3];
					});
					r3.renderer.render(sceneClip, r3.camera);

					r3.renderer.clearDepth();
					r3.renderer.render(r3.localizerScene,r3.camera);
				}

				// stats.update();
			}

			function init(){
				function animate(){
					render();
					requestAnimationFrame(function(){
						animate();
					});
				}

				initRenderer3D(r0);
				initRenderer2D(r1);
				initRenderer2D(r2);
				initRenderer2D(r3);

				animate();
			}

			init();

			// let container = this.$refs.canvas;	
			// let loader = new LoadersVolume();
			let loader = new AMI.VolumeLoader();
			// let loader = new AMI.VolumeLoader(container);
			// let loader = new AMI.VolumeLoader(r0.domElement);
			loader
				.load(files)
				.then(function(){
					let series = loader.data[0].mergeSeries(loader.data)[0];
					loader.free();
					loader=null;
					let stack=series.stack[0];
					stack.prepare();

					let centerLPS = stack.worldCenter();
					r0.camera.lookAt(centerLPS.x, centerLPS.y, centerLPS.z);
					r0.camera.updateProjectionMatrix();
					r0.controls.target.set(centerLPS.x,centerLPS.y,centerLPS.z);

					let boxHelper = new AMI.BoundingBoxHelper(stack);
					r0.scene.add(boxHelper);

					initHealpersStack(r1, stack);
					r0.scene.add(r1.scene);

					redTextureTarget = new THREE.WebGLRenderTarget(
						r1.domElement.clientWidth,
						r1.domElement.clientHeight,
						{
							minFilter: THREE.LinearFilter,
							magFilter: THREE.NearestFilter,
							format: THREE.RGBAFormat
						}
					);

					// redContourHelper = new AMI.ContourHeler(stack, r1.stackHelper.slice.geometry);
				 //    redContourHelper.canvasWidth = redTextureTarget.width;
				 //    redContourHelper.canvasHeight = redTextureTarget.height;
				 //    redContourHelper.textureToFilter = redTextureTarget.texture;
				 //    redContourScene = new THREE.Scene();
				 //    redContourScene.add(redContourHelper);				

				 //      initHelpersStack(r2, stack);
				 //      r0.scene.add(r2.scene);

				 //      initHelpersStack(r3, stack);
				 //      r0.scene.add(r3.scene);
				 //      let plane1 = r1.stackHelper.slice.cartesianEquation();
				 //      let plane2 = r2.stackHelper.slice.cartesianEquation();
				 //      let plane3 = r3.stackHelper.slice.cartesianEquation();
				 //      initHelpersLocalizer(r1, stack, plane1, [
				 //        { plane: plane2, color: new THREE.Color(r2.stackHelper.borderColor) },
				 //        { plane: plane3, color: new THREE.Color(r3.stackHelper.borderColor) },
				 //      ]);

				 //      initHelpersLocalizer(r2, stack, plane2, [
				 //        { plane: plane1, color: new THREE.Color(r1.stackHelper.borderColor) },
				 //        { plane: plane3, color: new THREE.Color(r3.stackHelper.borderColor) },
				 //      ]);

				 //      initHelpersLocalizer(r3, stack, plane3, [
				 //        { plane: plane1, color: new THREE.Color(r1.stackHelper.borderColor) },
				 //        { plane: plane2, color: new THREE.Color(r2.stackHelper.borderColor) },
				 //      ]);				    	

				})


			// const container = document.getElementById('canvas');
			// console.log(container);
			// let container = this.$refs.canvas;	
			// let container2 = this.$refs.canvas2;	
			// let container3 = this.$refs.canvas3;	
			// let container4 = this.$refs.canvas4;			
			// const renderer = new THREE.WebGLRenderer({
			// 	antialias: true,
			// });

			// renderer.setSize(container.offsetWidth, container.offsetHeight);
			// renderer.setClearColor(colors.darkGrey, 1);
			// renderer.setPixelRatio(window.devicePixelRatio);
			// container.appendChild(renderer.domElement);

			// const scene = new THREE.Scene();

			// const camera = new AMI.OrthographicCamera(
			// 	container.clientWidth / -2,
			// 	container.clientWidth / 2,
			// 	container.clientHeight / 2,
			// 	container.clientHeight / -2,
			// 	0.1,
			// 	10000
			// );

			// const controls= new AMI.TrackballOrthoControl(camera, container);
			// controls.staticMoving = true;
			// controls.noRotate = true;
			// camera.controls = controls;

			// const onWindowResize = () => {
			//   camera.canvas = {
			//     width: container.offsetWidth,
			//     height: container.offsetHeight,
			//   };
			//   camera.fitBox(2);

			//   renderer.setSize(container.offsetWidth, container.offsetHeight);
			// };
			// window.addEventListener('resize', onWindowResize, false);			

			// const loader = new AMI.VolumeLoader(container);
			// loader
			//   .load(files)
			//   .then(() => {
			//   	// console.log(loader.data[0]);
			//     const series = loader.data[0].mergeSeries(loader.data);
			//     const stack = series[0].stack[0];
			//     loader.free();

			//     const stackHelper = new AMI.StackHelper(stack);
			//     stackHelper.bbox.visible = false;
			//     stackHelper.border.color = colors.red;
			//     scene.add(stackHelper);

			//     gui(stackHelper);

			//     const centerLPS = stackHelper.stack.worldCenter();
			//     camera.lookAt(centerLPS.x, centerLPS.y, centerLPS.z);
			//     camera.updateProjectionMatrix();
			//     controls.target.set(centerLPS.x, centerLPS.y, centerLPS.z);			    

			//     // center camera and interactor to center of bouding box
			//     // for nicer experience
			//     // set camera
			//     const worldbb = stack.worldBoundingBox();
			//     const lpsDims = new THREE.Vector3(
			//       worldbb[1] - worldbb[0],
			//       worldbb[3] - worldbb[2],
			//       worldbb[5] - worldbb[4]
			//     );

			//     const box = {
			//       center: stack.worldCenter().clone(),
			//       halfDimensions: new THREE.Vector3(lpsDims.x + 10, lpsDims.y + 10, lpsDims.z + 10),
			//       // halfDimensions: new THREE.Vector3(lpsDims.x, lpsDims.y, lpsDims.z),
			//     };

			//     // init and zoom
			//     const canvas = {
			//       width: container.clientWidth,
			//       height: container.clientHeight,
			//     };

			//     camera.directions = [stack.xCosine, stack.yCosine, stack.zCosine];
			//     camera.box = box;
			//     camera.canvas = canvas;
			//     camera.update();
			//     camera.fitBox(2);
			//   })
			//   .catch(error => {
			//     window.console.log('oops... something went wrong...');
			//     window.console.log(error);
			//   });

			// const animate = () => {
			//   controls.update();
			//   renderer.render(scene, camera);

			//   requestAnimationFrame(function() {
			//     animate();
			//   });
			// };

			// animate();

			// const gui = stackHelper => {
			//   const gui = new dat.GUI({
			//     autoPlace: false,
			//   });

			//   const customContainer = document.getElementById('my-gui-container');
			//   customContainer.appendChild(gui.domElement);
			//   const camUtils = {
			//     invertRows: false,
			//     invertColumns: false,
			//     rotate45: false,
			//     rotate: 0,
			//     orientation: 'default',
			//     convention: 'radio',
			//   };

			//   // camera
			//   const cameraFolder = gui.addFolder('Camera');
			//   const invertRows = cameraFolder.add(camUtils, 'invertRows');
			//   invertRows.onChange(() => {
			//     camera.invertRows();
			//   });

			//   const invertColumns = cameraFolder.add(camUtils, 'invertColumns');
			//   invertColumns.onChange(() => {
			//     camera.invertColumns();
			//   });

			//   const rotate45 = cameraFolder.add(camUtils, 'rotate45');
			//   rotate45.onChange(() => {
			//     camera.rotate();
			//   });

			//   cameraFolder
			//     .add(camera, 'angle', 0, 360)
			//     .step(1)
			//     .listen();

			//   const orientationUpdate = cameraFolder.add(camUtils, 'orientation', [
			//     'default',
			//     'axial',
			//     'coronal',
			//     'sagittal',
			//   ]);
			//   orientationUpdate.onChange(value => {
			//     camera.orientation = value;
			//     camera.update();
			//     camera.fitBox(2);
			//     stackHelper.orientation = camera.stackOrientation;
			//   });

			//   const conventionUpdate = cameraFolder.add(camUtils, 'convention', ['radio', 'neuro']);
			//   conventionUpdate.onChange(value => {
			//     camera.convention = value;
			//     camera.update();
			//     camera.fitBox(2);
			//   });

			//   cameraFolder.open();

			//   const stackFolder = gui.addFolder('Stack');
			//   stackFolder
			//     // .add(stackHelper, 'index', 0, stackHelper.stack.dimensionsIJK.z - 1)
			//     .add(stackHelper, 'index', 0, 600)
			//     .step(1)
			//     .listen();
			//   stackFolder
			//     .add(stackHelper.slice, 'interpolation', 0, 1)
			//     .step(1)
			//     .listen();		
			// }
		},
		methods:{
			mousedown(e){
				var vm=this
				var rect = vm.canvas.getBoundingClientRect();
				var x=e.clientX - rect.left;
				var y=e.clientY - rect.top;

				vm.isDrawing=true;
				vm.startX=x;
				vm.startY=y;
				vm.points.push({
					x:x,
					y:y
				});
			},
			mousemove(e){
				var vm=this
				var rect=vm.canvas.getBoundingClientRect();
				var x=e.clientX - rect.left;
				var y=e.clientY - rect.top;

				if (vm.isDrawing){
					vm.context.beginPath();
					vm.context.moveTo(vm.startX, vm.startY);
					vm.context.lineTo(x,y);
					vm.context.lineWidth=1;
					vm.context.lineCap = 'round';
					vm.context.strokeStyle="rgba(255,0,0,1)";
					vm.context.stroke();

					vm.startX=x;
					vm.startY=y;

					vm.points.push({
						x: x,
						y: y
					});
				}
			},
			mouseup(e){
				var vm=this
				vm.isDrawing=false;
				if (vm.points.length>0){
					localStorage['points'] = JSON.stringify(vm.points);
				}
			},
			loadImage(vm){
				var img=new Image();
				img.onload=function(){
					vm.context.drawImage(img,0,0);
				}			
				img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";	
			},
			resetCanvas(){
				var vm=this
				vm.canvas.width=vm.canvas.width;
				vm.points.length=0;	

				var img=new Image();
				img.onload=function(){
					vm.context.drawImage(img,0,0,900,700);
				}			
				img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";		

				// const toolType = 'stack'
				// const toolData = cornerstoneTools.getToolState(vm.canvas, toolType)
				// console.log(toolData)					
			},
			saveImage(){
				var vm=this
				var dataURL = vm.canvas.toDataURL();
				var img=vm.$refs.img;
				img.src=dataURL;
			},
			zoomIn(){
				var vm=this
				var img=new Image();
				img.onload=function(){
					vm.context.drawImage(img,0,0,1800,1400);
				}			
				img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";	
			},
			zoomOut(){
				var vm=this
				var img=new Image();
				img.onload=function(){
					vm.context.drawImage(img,0,0,900,700);
				}			
				img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";	
			},
			// loadImage(url) {
			//   return new Promise(r => { let i = new Image(); i.onload = (() => r(i)); i.src = url; });
			// },
			replay(){
				var vm=this
				vm.canvas.width=vm.canvas.width;

				var img=new Image();
				img.onload=function(){
					vm.context.drawImage(img,0,0,900,700);
				}			
				img.src="https://healthcare-in-europe.com/media/story_section_text/1588/image-01-radiology-diederich-lung-cancer-lungcact-c-wikimedia-commons-james-heilman-md_hires.png";		

				if (vm.points.length===0){
					if (localStorage["points"] !== undefined) {
						vm.points=JSON.parse(localStorage["points"]);
					}
				}

				var point=1;
				setInterval(function(){
					drawNextPoint(point);
					point +=1;
				},10);

				function drawNextPoint(index){
					if (index >= vm.points.length) {
						return;
					}

					var startX=vm.points[index-1].x;
					var startY=vm.points[index-1].y;

					var x=vm.points[index].x;
					var y=vm.points[index].y;

					// if ((x-startX)^2 + (y-startY)^2>10) {
						vm.context.beginPath();
						vm.context.moveTo(startX,startY);
						vm.context.lineTo(x,y);
						vm.context.lineWidth=1;
						vm.context.lineCap='round';
						vm.context.strokeStyle='rgba(255,0,0,1)';
						vm.context.stroke();						
					// } 


				}
			}
		}
	}

</script>

<style scoped>
	canvas {
		border: 1px solid red;
		cursor: crosshair;
	}
	body {
		padding: 2px;
	}
</style>