<template>
	<v-container fluid>
		<v-toolbar prominent extended
		height="60px"
		weidth="800px"
		>
        <v-btn icon>
          <v-icon small>home</v-icon>
        </v-btn>  
        <v-btn icon >
          <v-icon small>event</v-icon>
        </v-btn>     
        <v-btn icon >
          <v-icon small>info</v-icon>
        </v-btn> 
        <v-btn icon>
          <v-icon small>home</v-icon>
        </v-btn>  
        <v-btn icon >
          <v-icon small>event</v-icon>
        </v-btn>     
        <v-btn icon >
          <v-icon small>info</v-icon>
        </v-btn> 
        <v-btn icon>
          <v-icon small>home</v-icon>
        </v-btn>  
        <v-btn icon >
          <v-icon small>event</v-icon>
        </v-btn>     
        <v-btn icon >
          <v-icon small>info</v-icon>
        </v-btn>                 
		</v-toolbar>
		<v-spacer></v-spacer>
		<v-layout row justify-start>
			<v-card 
				class="mx-auto"
				:width=400
				:height=800
			>
				  <v-data-table
				    :headers="headers"
				    :items="desserts"
				    :items-per-page="5"
				    class="elevation-1"
				  >
			        <template slot="items" slot-scope="props">
				        <td class="text-xs-right">test1</td>
				        <td class="text-xs-right">test2</td>
			      	</template>
				  </v-data-table>
				<v-spacer></v-spacer>  
				<v-btn small color="primary">Automatic Segmentation</v-btn>

								
			</v-card>		
			<v-card 
				class="mx-auto"
				:width=700
				:height=800
			>					
				<v-layout row>
					<div style="height:350px;width:350px" id="r1_seg"></div>
					<v-slider
						v-model="slider1"
						class="align-left"
						vertical
						:max=140
						:min=0
						@change="sliderChanged($event)"
						@input="sliderInput1($event)"
						hide-details
					></v-slider>
					<div style="height:350px;width:350px" id="r3_seg"></div>
				</v-layout>
				<v-layout row>
					<div style="height:350px;width:350px" id="r3d_seg"></div>
					<v-slider
					v-model="slider"
					vertical
					class="align-center"
					:max=500
					:min=0
					@change="sliderChanged($event)"
					@input="sliderInput($event)"
					hide-details
				></v-slider>					
					
					
					<div style="height:350px;width:350px" id="r2_seg"></div>
					<v-slider
						v-model="slider2"
						class="align-center"
						vertical
						:max=600
						:min=0
						@input="sliderInput2($event)"
						hide-details
					></v-slider>					
				</v-layout>
			
			</v-card>
		</v-layout>
	</v-container>
</template>
<script>
	import CamerasOrthographic from 'ami.js/src/cameras/cameras.orthographic';
	import ControlsOrthographic from 'ami.js/src/controls/controls.trackballortho';
	import HelpersLut from 'ami.js/src/helpers/helpers.lut';
	import HelpersStack from 'ami.js/src/helpers/helpers.stack';
	import LoadersVolume from 'ami.js/src/loaders/loaders.volume';

	import ShadersLayerUniform from 'ami.js/src/shaders/shaders.layer.uniform';
	import ShadersLayerVertex from 'ami.js/src/shaders/shaders.layer.vertex';
	import ShadersLayerFragment from 'ami.js/src/shaders/shaders.layer.fragment';
	import ShadersDataUniform from 'ami.js/src/shaders/shaders.data.uniform';
	import ShadersDataVertex from 'ami.js/src/shaders/shaders.data.vertex';
	import ShadersDataFragment from 'ami.js/src/shaders/shaders.data.fragment';	

	// let files = filenames.map(function(v) {
	// 	// return 'https://cdn.rawgit.com/FNNDSC/data/master/dicom/rsna_2/PET/' + v;
	// 	// return `http://localhost:8080/static/${v}`;
	// 	return 'http://localhost:8080/static/'+v;
	// });

	// console.log(files);

	let files = [
		'http://localhost:8080/static/image2.nii.gz',
		'http://localhost:8080/static/mask.nii.gz',		
		// 'http://localhost:8080/static/mask_Lung_L.nii.gz',		
		// 'http://192.168.1.114:8080/static/image.nii.gz',
		// 'http://192.168.1.114:8080/static/mask.nii.gz',
		// 'http://localhost:8080/static/rt_struct.dcm',
		// 'http://localhost:8080/static/mask_Lung_L.nii.gz',
		// 'http://localhost:8080/static/mask_Brainstem.nii.gz',
	];

	let threeD = document.getElementById('r3d_seg');
	let r1 = document.getElementById('r1_seg');
	let r2 = document.getElementById('r2_seg');

	let localizerHelper;
	let localizerScene;

	let r1_localizerHelper;
	let r1_localizerScene;

	let r2_localizerHelper;
	let r2_localizerScene;		

	let stackHelper;
	let stackHelper2;
	let stack;
	let stack2;

	let r1_stackHelper;
	let r1_stackHelper2;

	let r2_stackHelper;
	let r2_stackHelper2;	

	let controls;
	let renderer;
	let r1_renderer;
	let r2_renderer;

	let sceneLayer0;
	let sceneLayer1;

	let r1_sceneLayer0;
	let r1_sceneLayer1;
	let r1_sceneLayerMix;

	let r2_sceneLayer0;
	let r2_sceneLayer1;
	let r2_sceneLayerMix;	

	let r1_camera;
	let r1_control;
	let r2_camera;
	let r2_control;	

	let lutLayer0;
	let stack3;

	let rawData;

	let rawData2;

	let ctrlDown = false;

			let drag = {
			  start: {
			    x: null,
			    y: null,
			  },
			};

    let plane1;
    let plane2; 
    let plane3; 

	// var extend = require("util")._extend;
	// var clone = require('clone');

	export default {
		name: "LabelPanel",
		data() {
			return {
				cvalue: false,
		        drawer: true,
		        items: [
		          { title: 'Dashboard', icon: 'mdi-view-dashboard' },
		          { title: 'Photos', icon: 'mdi-image' },
		          { title: 'About', icon: 'mdi-help-box' },
		        ],
		        color: 'primary',
		        colors: [
		          'primary',
		          'blue',
		          'success',
		          'red',
		          'teal',
		        ],
		        right: true,
		        miniVariant: false,
		        expandOnHover: false,
		        background: false,	
		        width: 550,
		        height: 600,	
			      checkboxes: ['Opt 1', 'Opt 2', 'Opt 3', 'Opt 4','opt 5','opt 6'],
			      checkbox: [],	
			    min:1,
			    max:300,
			    slider:40,
			    slider1:41,
			    slider2:42,

		        headers: [
		          {
		            text: 'OAR',
		            align: 'left',
		            sortable: false,
		            value: 'name',
		          },
		          { text: 'Plotted', value: 'checked' },
		          { text: 'weight', value: 'fat' },
		          // { text: 'Carbs (g)', value: 'carbs' },
		          // { text: 'Protein (g)', value: 'protein' },
		          // { text: 'Iron (%)', value: 'iron' },
		        ],
		        desserts: [
		          {
		            name: 'Left Lung',
		            calories: 159,
		            fat: 6.0,
		            carbs: 24,
		            protein: 4.0,
		            iron: '1%',
		          },
		          {
		            name: 'Right Lung',
		            calories: 237,
		            fat: 9.0,
		            carbs: 37,
		            protein: 4.3,
		            iron: '1%',
		          },
		          {
		            name: 'Heart',
		            calories: 262,
		            fat: 16.0,
		            carbs: 23,
		            protein: 6.0,
		            iron: '7%',
		          },
		          {
		            name: 'SpinalCord',
		            calories: 305,
		            fat: 3.7,
		            carbs: 67,
		            protein: 4.3,
		            iron: '8%',
		          },
		          {
		            name: 'Esophagus',
		            calories: 356,
		            fat: 16.0,
		            carbs: 49,
		            protein: 3.9,
		            iron: '16%',
		          },
		        ],			    

			}
		},
	    computed: {
	      bg () {
	        return this.background ? 'https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg' : undefined
	      },
	    },		
		methods:{
			// render(){
			// 	controls.update();
			// 	renderer.setRenderTarget(sceneLayer0TextureTarget);
			// 	renderer.render(sceneLayer0,camera);
			// 	renderer.setRenderTarget(null);
			// 	renderer.setRenderTarget(sceneLayer1TextureTarget);
			// 	renderer.render(sceneLayer1,camera);
			// 	renderer.setRenderTarget(null);
			// 	renderer.render(sceneLayerMix,camera);
			// },
			sliderInput(val){
				// console.log(val);
				if (stackHelper) {
					stackHelper.index = val;
					stackHelper2.index = val;

			    	let plane = stackHelper.slice.cartesianEquation();
			    	localizerHelper.referencePlane=plane;
					for (let j = 0; j < 3; j++) {
						let targetPlane = r1_localizerHelper['plane' + (j + 1)];
						if (
						  targetPlane &&
						  plane.x.toFixed(6) === targetPlane.x.toFixed(6) &&
						  plane.y.toFixed(6) === targetPlane.y.toFixed(6) &&
						  plane.z.toFixed(6) === targetPlane.z.toFixed(6)
						) {
						  r1_localizerHelper['plane' + (j + 1)] = plane;
						}
					}
					for (let j = 0; j < 3; j++) {
						let targetPlane = r2_localizerHelper['plane' + (j + 1)];
						if (
						  targetPlane &&
						  plane.x.toFixed(6) === targetPlane.x.toFixed(6) &&
						  plane.y.toFixed(6) === targetPlane.y.toFixed(6) &&
						  plane.z.toFixed(6) === targetPlane.z.toFixed(6)
						) {
						  r2_localizerHelper['plane' + (j + 1)] = plane;
						}
					}					    	
			    	r1_localizerHelper.geometry=r1_stackHelper.slice.geometry;	

				}

				
			},
			sliderInput1(val){
				// console.log(val);
				if (r1_stackHelper) {
					r1_stackHelper.index = val;
					r1_stackHelper2.index = val;
			    	let plane = r1_stackHelper.slice.cartesianEquation();
			    	r1_localizerHelper.referencePlane=plane;
					for (let j = 0; j < 3; j++) {
						let targetPlane = localizerHelper['plane' + (j + 1)];
						if (
						  targetPlane &&
						  plane.x.toFixed(6) === targetPlane.x.toFixed(6) &&
						  plane.y.toFixed(6) === targetPlane.y.toFixed(6) &&
						  plane.z.toFixed(6) === targetPlane.z.toFixed(6)
						) {
						  localizerHelper['plane' + (j + 1)] = plane;
						}
					}
					for (let j = 0; j < 3; j++) {
						let targetPlane = r2_localizerHelper['plane' + (j + 1)];
						if (
						  targetPlane &&
						  plane.x.toFixed(6) === targetPlane.x.toFixed(6) &&
						  plane.y.toFixed(6) === targetPlane.y.toFixed(6) &&
						  plane.z.toFixed(6) === targetPlane.z.toFixed(6)
						) {
						  r2_localizerHelper['plane' + (j + 1)] = plane;
						}
					}					    	
			    	r1_localizerHelper.geometry=r1_stackHelper.slice.geometry;			
				}
					
			},
			sliderInput2(val){
				// console.log(val);
				if (r2_stackHelper){
					r2_stackHelper.index = val;
					r2_stackHelper2.index = val;
			    	let plane = r2_stackHelper.slice.cartesianEquation();
			    	r2_localizerHelper.referencePlane=plane;
					for (let j = 0; j < 3; j++) {
						let targetPlane = localizerHelper['plane' + (j + 1)];
						if (
						  targetPlane &&
						  plane.x.toFixed(6) === targetPlane.x.toFixed(6) &&
						  plane.y.toFixed(6) === targetPlane.y.toFixed(6) &&
						  plane.z.toFixed(6) === targetPlane.z.toFixed(6)
						) {
						  localizerHelper['plane' + (j + 1)] = plane;
						}
					}
					for (let j = 0; j < 3; j++) {
						let targetPlane = r1_localizerHelper['plane' + (j + 1)];
						if (
						  targetPlane &&
						  plane.x.toFixed(6) === targetPlane.x.toFixed(6) &&
						  plane.y.toFixed(6) === targetPlane.y.toFixed(6) &&
						  plane.z.toFixed(6) === targetPlane.z.toFixed(6)
						) {
						  r1_localizerHelper['plane' + (j + 1)] = plane;
						}
					}
			    	r2_localizerHelper.geometry=r2_stackHelper.slice.geometry;						
				}
			
			},						
			sliderChanged(val){
				// console.log(val);
				// stackHelper.index = val;
			},
			valueChanged(val){
				console.log(val);
				console.log(index);
		       // console.log(val, i, this.checkbox)
		        // if (val === null || val.length === 0) { // Custom checks in this
		        //   console.log('Unchecked')
		        // } else {
		        //   console.log('Checked')
		        // }				
    			// console.log(newValue);
      			// this.title = 'VALUE: ' + (newValue ? 'TRUE' : 'FALSE');	
      			// if (newValue==true) {
      			if (val !== null) {
      			// if (val === null || val.length === 0) {
      			// 	return
      			// } else {
					// const value = 1;
					// console.log(stack._rawData[0].length);
					// stack3=stack;

					// stack3 = clone(stack);    

					// rawData = Object.assign({}, stack._rawData[0]);



					// rawData=stack._rawData[0];

					rawData = stack._rawData[0].slice(0);

					// console.log(Math.min(rawData));
					// console.log(rawData);
					// var tmp=Math.max(rawData);
					// console.log(tmp);

					// let buffer = Buffer.from(rawData);
					// var array = Array.from(rawData)
					// console.log(array);
					// console.log( buffer.readUInt32BE(0) );

					stack3=stack;

					// stack3 = extend({}, stack);

					// let stack3 = Object.assign({}, stack);
					// var stack3 = Object.create(stack);
					// var stack3 = JSON.parse(JSON.stringify(stack));
					// let stack3 = { ... stack };
					// console.log(stack);
					// console.log(stack3);

					// console.log(stack._rawData[0]);
					// console.log(rawData);

					for(let i = 0; i < stack3._rawData[0].length; i+=1){
					   if (stack3._rawData[0][i] == index) {
					   	stack3._rawData[0][i]=0;
					   } 
					}	   
					sceneLayer1.remove(stackHelper);
					stackHelper = new AMI.StackHelper(stack3);
					stackHelper.bbox.visible=false;
					stackHelper.border.visible=false;
					stackHelper.slice.interpolation=false;
					stackHelper.index = stackHelper2.index;

				    // let lutLayer0 = new HelpersLut(
				    //   'r3d',
				    //   'default',
				    //   'linear',
				    //   [[0, 0, 0, 0], [1, 1, 1, 1]],
				    //   [[0, 1], [1, 1]]
				    // );			    
				    lutLayer0.luts = HelpersLut.presetLuts();
				    lutLayer0.lut = 'spectrum';
				    // lutLayer0.lut = 'default';
				    stackHelper.slice.lut = 1;
				    stackHelper.slice.lutTexture = lutLayer0.texture;

				    stackHelper.slice.lutTexture.flipY = true;
				    sceneLayer1.add(stackHelper);				   				
      			} else {
					// let stack3 = Object.assign({}, stack);
					// var stack3 = JSON.parse(JSON.stringify(stack));
					stack3=stack;
					// stack3._rawData[0]=rawData;
					stack3._rawData[0]=rawData2.slice(0);

					// for(let i = 0; i < stack3._rawData[0].length; i+=1){
					//    if (stack3._rawData[0][i] > 3) {
					//    	stack3._rawData[0][i]=0;
					//    } 
					// }	   
					sceneLayer1.remove(stackHelper);
					stackHelper = new AMI.StackHelper(stack3);
					stackHelper.bbox.visible=false;
					stackHelper.border.visible=false;
					stackHelper.slice.interpolation=false;
					stackHelper.index = stackHelper2.index;

				    // let lutLayer0 = new HelpersLut(
				    //   'r3d',
				    //   'default',
				    //   'linear',
				    //   [[0, 0, 0, 0], [1, 1, 1, 1]],
				    //   [[0, 1], [1, 1]]
				    // );			    
				    lutLayer0.luts = HelpersLut.presetLuts();
				    lutLayer0.lut = 'spectrum';
				    // lutLayer0.lut = 'default';
				    stackHelper.slice.lut = 1;
				    stackHelper.slice.lutTexture = lutLayer0.texture;

				    stackHelper.slice.lutTexture.flipY = true;
				    sceneLayer1.add(stackHelper);
      			}
      			// this.render();	      					
			}
		},
		mounted(){
			// function onCheckboxChange(newValue, oldValue){
   //  			console.log(arguments);
   //    			// this.title = 'VALUE: ' + (newValue ? 'TRUE' : 'FALSE');	
   //    			if (newValue) {
			// 		const value = 1;
			// 		for(let i = 0; i < stack._rawData[0].length; i+=1){
			// 		   if (stack._rawData[0][i] > 2) {
			// 		   	stack._rawData[0][i]=0;
			// 		   } 
			// 		}	      				
   //    			}
   //    			this.render();	      					
			// }

			function render(){
				controls.update();
				r1_control.update();
				r2_control.update();
				renderer.setRenderTarget(sceneLayer0TextureTarget);
				renderer.render(sceneLayer0,camera);
				renderer.setRenderTarget(null);
				renderer.setRenderTarget(sceneLayer1TextureTarget);
				renderer.render(sceneLayer1,camera);
				renderer.setRenderTarget(null);
				renderer.render(sceneLayerMix,camera);

				r1_renderer.setRenderTarget(r1_sceneLayer0TextureTarget);
				r1_renderer.render(r1_sceneLayer0,r1_camera);
				r1_renderer.setRenderTarget(null);
				r1_renderer.setRenderTarget(r1_sceneLayer1TextureTarget);
				r1_renderer.render(r1_sceneLayer1,r1_camera);
				r1_renderer.setRenderTarget(null);
				r1_renderer.render(r1_sceneLayerMix,r1_camera);	

				r2_renderer.setRenderTarget(r2_sceneLayer0TextureTarget);
				r2_renderer.render(r2_sceneLayer0,r2_camera);
				r2_renderer.setRenderTarget(null);
				r2_renderer.setRenderTarget(r2_sceneLayer1TextureTarget);
				r2_renderer.render(r2_sceneLayer1,r2_camera);
				r2_renderer.setRenderTarget(null);
				r2_renderer.render(r2_sceneLayerMix,r2_camera);								
			}

			function animate(){
				render();
				requestAnimationFrame(function(){
					animate();
				});
			}
			threeD=document.getElementById('r3d_seg');
			let renderer = new THREE.WebGLRenderer({
				antialias: true,
				alpha: true,
			});
			renderer.setSize(threeD.clientWidth, threeD.clientHeight);
			renderer.setClearColor(0x607d8b, 1);			
			// renderer.setClearColor(0xFF0000, 1);			
			// console.log(threeD);
			threeD.appendChild(renderer.domElement);
			sceneLayer0 = new THREE.Scene();
			sceneLayer1 = new THREE.Scene();
			let	sceneLayerMix = new THREE.Scene();	
			let sceneLayer0TextureTarget = new THREE.WebGLRenderTarget(threeD.clientWidth,threeD.clientHeight,{
				minFilter : THREE.LinearFilter,
				maxFilter: THREE.NearestFiller,
				format: THREE.RGBAFormat
			});		
			// console.log(sceneLayer0TextureTarget);
			let sceneLayer1TextureTarget = new THREE.WebGLRenderTarget(threeD.clientWidth,threeD.clientHeight,{
				minFilter : THREE.LinearFilter,
				maxFilter: THREE.NearestFiller,
				format: THREE.RGBAFormat,
			});		
			let camera = new CamerasOrthographic(
				threeD.clientWidth / -2,
				threeD.clientWidth / 2,
				threeD.clientHeight / 2,
				threeD.clientHeight / -2,
				0.1,
				10000
			);	
			let controls = new ControlsOrthographic(camera, threeD);
			controls.staticMoving = true;
			controls.noRotate = true;
			camera.controls=controls;




			r1=document.getElementById('r1_seg');
			r1_renderer = new THREE.WebGLRenderer({
				antialias: true,
				alpha: true,
			});			
			r1_renderer.setSize(r1.clientWidth, r1.clientHeight);
			r1_renderer.setClearColor(0x607d8b, 1);			
			r1.appendChild(r1_renderer.domElement);

			r1_sceneLayer0 = new THREE.Scene();
			r1_sceneLayer1 = new THREE.Scene();		
			let	r1_sceneLayerMix = new THREE.Scene();		
			let r1_sceneLayer0TextureTarget = new THREE.WebGLRenderTarget(r1.clientWidth,r1.clientHeight,{
				minFilter : THREE.LinearFilter,
				maxFilter: THREE.NearestFiller,
				format: THREE.RGBAFormat
			});		
			// console.log(sceneLayer0TextureTarget);
			let r1_sceneLayer1TextureTarget = new THREE.WebGLRenderTarget(r1.clientWidth,r1.clientHeight,{
				minFilter : THREE.LinearFilter,
				maxFilter: THREE.NearestFiller,
				format: THREE.RGBAFormat,
			});		


			// r1_camera = new AMI.OrthographicCamera(
			r1_camera = new CamerasOrthographic(
				r1.clientWidth / -2,
				r1.clientWidth / 2,
				r1.clientHeight / 2,
				r1.clientHeight / -2,
				1,
				1000	
			);					

			// r1_control = new AMI.TrackballOrthoControl(r1_camera, r1);
			// r1_control.stackMoving = true;
			// r1_control.noRotate = true;
			// r1_camera.controls = r1_control;

			let r1_control = new ControlsOrthographic(r1_camera, r1);
			r1_control.staticMoving = true;
			r1_control.noRotate = true;
			r1_camera.controls=r1_control;		


			r2=document.getElementById('r2_seg');
			r2_renderer = new THREE.WebGLRenderer({
				antialias: true,
				alpha: true,
			});			
			r2_renderer.setSize(r2.clientWidth, r2.clientHeight);
			r2_renderer.setClearColor(0x607d8b, 1);			
			r2.appendChild(r2_renderer.domElement);

			r2_sceneLayer0 = new THREE.Scene();
			r2_sceneLayer1 = new THREE.Scene();		
			let	r2_sceneLayerMix = new THREE.Scene();		
			let r2_sceneLayer0TextureTarget = new THREE.WebGLRenderTarget(r2.clientWidth,r2.clientHeight,{
				minFilter : THREE.LinearFilter,
				maxFilter: THREE.NearestFiller,
				format: THREE.RGBAFormat
			});		
			// console.log(sceneLayer0TextureTarget);
			let r2_sceneLayer1TextureTarget = new THREE.WebGLRenderTarget(r2.clientWidth,r2.clientHeight,{
				minFilter : THREE.LinearFilter,
				maxFilter: THREE.NearestFiller,
				format: THREE.RGBAFormat,
			});		


			// r1_camera = new AMI.OrthographicCamera(
			r2_camera = new CamerasOrthographic(
				r2.clientWidth / -2,
				r2.clientWidth / 2,
				r2.clientHeight / 2,
				r2.clientHeight / -2,
				1,
				1000	
			);					

			let r2_control = new ControlsOrthographic(r2_camera, r2);
			r2_control.staticMoving = true;
			r2_control.noRotate = true;
			r2_camera.controls=r2_control;					

			animate();			
			// console.log(camera);	

			let loader = new AMI.VolumeLoader();
			loader.load(files)
				.then(function(){
					let mergedSeries = loader.data[0].mergeSeries(loader.data);
					// console.log(mergedSeries.length);
					// console.log(mergedSeries);
					loader.free();
					loader=null;
					stack = mergedSeries[0].stack[0];
					stack.prepare();
					stack.pack();
					// console.log(stack);
					// console.log(stack._dimensionsIJK);
					stack2 = mergedSeries[1].stack[0];
					stack2.prepare();
					stack2.pack();
					// console.log(stack);
					// for (let m=0;m<stack.frame.length;m++){
					// 	stack.frame[m].pixelData.fill(1000,0,10000);
					// }
					// console.log(stack);


					// console.log(stack);
					// console.log(stack2);

					stackHelper = new AMI.StackHelper(stack);
					stackHelper.bbox.visible=false;
					stackHelper.border.visible=false;
					stackHelper.slice.interpolation=false;

					stackHelper2 = new AMI.StackHelper(stack2);
					stackHelper2.bbox.visible=false;
					stackHelper2.border.visible=false;					

					rawData2 = stack._rawData[0].slice(0);


					r1_stackHelper = new AMI.StackHelper(stack);
					r1_stackHelper.bbox.visible=false;
					r1_stackHelper.border.visible=false;
					r1_stackHelper.slice.interpolation=false;		

					r1_stackHelper2 = new AMI.StackHelper(stack2);
					r1_stackHelper2.bbox.visible=false;
					r1_stackHelper2.border.visible=false;
					r1_stackHelper2.slice.interpolation=false;	

					r2_stackHelper = new AMI.StackHelper(stack);
					r2_stackHelper.bbox.visible=false;
					r2_stackHelper.border.visible=false;
					r2_stackHelper.slice.interpolation=false;

					r2_stackHelper2 = new AMI.StackHelper(stack2);
					r2_stackHelper2.bbox.visible=false;
					r2_stackHelper2.border.visible=false;
					r2_stackHelper2.slice.interpolation=false;	

					// console.log(stackHelper);		
					// console.log(stackHelper.slice.geometry.vertices);								
					// console.log(r1_stackHelper);	

					// console.log(stackHelper._orientationMaxIndex);										
					// stackHelper.index = Math.floor(stackHelper.orientationMaxIndex / 2);
					// stackHelper2.index = Math.floor(stackHelper2.orientationMaxIndex / 2);
					// r1_stackHelper.index = Math.floor(r1_stackHelper.orientationMaxIndex / 2);
					// r1_stackHelper2.index = Math.floor(r1_stackHelper2.orientationMaxIndex / 2);
					// r2_stackHelper.index = Math.floor(r2_stackHelper.orientationMaxIndex / 2);
					// r2_stackHelper2.index = Math.floor(r2_stackHelper2.orientationMaxIndex / 2);

					// stackHelper.index=250;
					// stackHelper2.index=250;
					// r1_stackHelper.index=70;
					// r1_stackHelper2.index=70;
					// r2_stackHelper.index=250;
					// r2_stackHelper2.index=250;

					// let newArr=[];

					// console.log(rawData2);

					// while(rawData2.length) newArr.push(rawData2.splice(512,512));

					// console.log(newArr);

					// for(let i = 0; i < stack._rawData[0].length; i+=1){
					//    // if (stack3._rawData[0][i] == index) {
					//    // 	stack3._rawData[0][i]=0;
					//    stack._rawData[0][i] +=10;
					//  } 

					// }

				    // lutLayer0 = new HelpersLut(
				    //   'r3d',
				    //   'default',
				    //   'linear',
				    //   [[0, 0, 0, 0], [1, 1, 1, 1]],
				    //   [[0, 1], [1, 1]]
				    // );		
				    // lutLayer0.luts = HelpersLut.presetLuts();	
				    // lutLayer0.lut = 'gold';		
				    // stackHelper.slice.lutTexture = lutLayer0.texture;

				    // console.log(stackHelper.slice);
				    // console.log(stackHelper);
				    // console.log(lutLayer0);

					// stackHelper.slice.lut=2;

					// stackHelper.index = Math.floor(stackHelper.orientationMaxIndex / 2);
					// stackHelper.index = stackHelper.orientationMaxIndex / 2;
				

					// stackHelper2.slice.lutTexture = lutLayer0.texture;

					// stackHelper2.index = Math.floor(stackHelper.orientationMaxIndex / 2);					
					// console.log(stackHelper);
					// console.log(stackHelper2);
					// console.log(stackHelper.index);
					// console.log(stackHelper.orientationMaxIndex/2);
					// console.log(stackHelper2.orientationMaxIndex/2);
					// sceneLayer0.add(stackHelper);
					// sceneLayer1.add(stackHelper2);


					// console.log(stack._rawData);

					// var textures2 = [];
					// var tex = new THREE.DataTexture(
					// 	stack.rawData[0],
					// 	stack.textureSize,
					// 	stack.textureSize,
					// 	stack.textureType,
					// 	THREE.UnsignedByteType,
					// 	THREE.UVMapping,
					// 	THREE.ClampToEdgeWrapping,
					// 	THREE.ClampToEdgeWrapping,
					// 	THREE.NearestFilter,
					// 	THREE.NearestFilter						
					// );
					// tex.needsUpdate = true;
					// tex.flipY = true;
					// textures2.push(tex);
					// // console.log(textures2);

					// // create material && mesh then add it to sceneLayer1
					// let uniformsLayer1 = ShadersDataUniform.uniforms();
					// uniformsLayer1.uTextureSize.value = stack.textureSize;
					// uniformsLayer1.uTextureContainer.value = textures2;
					// uniformsLayer1.uWorldToData.value = stack.lps2IJK;
					// uniformsLayer1.uNumberOfChannels.value = stack.numberOfChannels;
					// uniformsLayer1.uPixelType.value = stack.pixelType;
					// uniformsLayer1.uBitsAllocated.value = stack.bitsAllocated;
					// uniformsLayer1.uWindowCenterWidth.value =
					// [stack.windowCenter, stack.windowWidth];
					// uniformsLayer1.uRescaleSlopeIntercept.value =
					// [stack.rescaleSlope, stack.rescaleIntercept];
					// uniformsLayer1.uDataDimensions.value = [stack.dimensionsIJK.x,
					//                                       stack.dimensionsIJK.y,
					//                                       stack.dimensionsIJK.z];
					// uniformsLayer1.uInterpolation.value = 0;



					// generate shaders on-demand!
					// var fs = new ShadersDataFragment(uniformsLayer1);
					// var vs = new ShadersDataVertex();
					// let materialLayer1 = new THREE.ShaderMaterial(
					// {side: THREE.DoubleSide,
					// uniforms: uniformsLayer1,
					// vertexShader: vs.compute(),
					// fragmentShader: fs.compute(),
					// });

					// // add mesh in this scene with right shaders...
					// let meshLayer1 = new THREE.Mesh(stackHelper.slice.geometry, materialLayer1);
					// // go the LPS space
					// meshLayer1.applyMatrix(stack._ijk2LPS);
					// sceneLayer0.add(meshLayer1);
					// stackHelper.slice.lut="hot";

				    lutLayer0 = new HelpersLut(
				      'r3d_seg',
				      'default',
				      'linear',
				      [[0, 0, 0, 0], [1, 1, 1, 1]],
				      [[0, 1], [1, 1]]
				    );			    
				    lutLayer0.luts = HelpersLut.presetLuts();
				    lutLayer0.lut = 'spectrum';
				    // lutLayer0.lut = 'default';
				    stackHelper.slice.lut = 1;
				    stackHelper.slice.lutTexture = lutLayer0.texture;
				    // stackHelper.slice.interpolation = 1;

				    // stackHelper.slice.lutTexture.flipY = true;

					// stackHelper.uniforms.uTextureLUT = lutLayer0.texture

				    r1_stackHelper.slice.lut = 1;
				    r1_stackHelper.slice.lutTexture = lutLayer0.texture;
				    r2_stackHelper.slice.lut = 1;
				    r2_stackHelper.slice.lutTexture = lutLayer0.texture;

					// stackHelper2 = new AMI.StackHelper(stack2);
					// stackHelper2.bbox.visible=false;
					// stackHelper2.border.visible=false;
					// stackHelper2.slice.interpolation=true;					

					// sceneLayer0.add(stackHelper2);

				    let textures2 = [];
				    for (let m = 0; m < stack._rawData.length; m++) {
				      let tex = new THREE.DataTexture(
				        stack.rawData[m],
				        stack.textureSize,
				        stack.textureSize,
				        stack.textureType,
				        THREE.UnsignedByteType,
				        THREE.UVMapping,
				        THREE.ClampToEdgeWrapping,
				        THREE.ClampToEdgeWrapping,
				        THREE.NearestFilter,
				        THREE.NearestFilter
				      );
				      tex.needsUpdate = true;
				      tex.flipY = true;
				      textures2.push(tex);
				    }

				    // console.log(stack2);

				    // create material && mesh then add it to sceneLayer1
				    let uniformsLayer1 = ShadersDataUniform.uniforms();
				    uniformsLayer1.uTextureSize.value = stack.textureSize;
				    uniformsLayer1.uTextureContainer.value = textures2;
				    uniformsLayer1.uWorldToData.value = stack.lps2IJK;
				    uniformsLayer1.uNumberOfChannels.value = stack.numberOfChannels;
				    uniformsLayer1.uPixelType.value = stack.pixelType;
				    uniformsLayer1.uPackedPerPixel.value = stack.packedPerPixel;
				    uniformsLayer1.uBitsAllocated.value = stack.bitsAllocated;
				    uniformsLayer1.uWindowCenterWidth.value = [stack.windowCenter, stack.windowWidth];
				    uniformsLayer1.uRescaleSlopeIntercept.value = [stack.rescaleSlope, stack.rescaleIntercept];
				    uniformsLayer1.uDataDimensions.value = [
				      stack.dimensionsIJK.x,
				      stack.dimensionsIJK.y,
				      stack.dimensionsIJK.z,
				    ];
				    uniformsLayer1.uInterpolation.value = 0;
				    uniformsLayer1.uLowerUpperThreshold.value = [...stack.minMax];

				    // generate shaders on-demand!
				    let fs = new ShadersDataFragment(uniformsLayer1);
				    let vs = new ShadersDataVertex();
				    let materialLayer1 = new THREE.ShaderMaterial({
				      side: THREE.DoubleSide,
				      uniforms: uniformsLayer1,
				      vertexShader: vs.compute(),
				      fragmentShader: fs.compute(),
				    });

				    // add mesh in this scene with right shaders...
				    let meshLayer1 = new THREE.Mesh(stackHelper.slice.geometry, materialLayer1);
				    // go the LPS space
				    meshLayer1.applyMatrix(stack._ijk2LPS);
				    // sceneLayer1.add(meshLayer1);		

				    // stackHelper.applyMatrix(stack._ijk2LPS);
				    // sceneLayer1.add(stackHelper);

				    // console.log(meshLayer1);			

					// stack._rawData[0] = rawData2.slice(0);

					// stackHelper2 = new AMI.StackHelper(stack);
					// stackHelper2.bbox.visible=false;
					// stackHelper2.border.visible=false;
					// stackHelper2.slice.interpolation=false;


					// sceneLayer1.add(stackHelper2);

					// stackHelper2._slice._material.uniforms.uInterpolation.value=0;
					// stackHelper._slice._material.uniforms.uInterpolation.value=0;

					// sceneLayer1.add(stackHelper);


					// console.log(stackHelper2);
					// console.log(stackHelper);

				    let worldbb = stack.worldBoundingBox();
				    let lpsDims = new THREE.Vector3(
				      worldbb[1] - worldbb[0],
				      worldbb[3] - worldbb[2],
				      worldbb[5] - worldbb[4]
				    );

				    let box = {
				      center: stack.worldCenter().clone(),
				      halfDimensions: new THREE.Vector3(lpsDims.x + 10, lpsDims.y + 10, lpsDims.z + 10),
				      // halfDimensions: new THREE.Vector3(lpsDims.x, lpsDims.y, lpsDims.z),
				    };			    
					
				    let canvas = {
				      width: threeD.clientWidth,
				      height: threeD.clientHeight,
				    };

				    let centerLPS = stack.worldCenter();
				    camera.lookAt(centerLPS.x, centerLPS.y, centerLPS.z);

				    // stack2.xcosine={x: 1, y: 0, z: 0};
				    // stack2.ycosine={x: -0, y: -1, z: -0};
				    // stack2.zcosine={x: 0, y: 0, z: 1};
				    // camera.directions = [stack2.xCosine, stack2.yCosine, stack2.zCosine];

				    camera.box = box;
				    camera.canvas = canvas;
				    // camera.orientation = 'axial';
				    camera.stackOrientation=1;
				    // console.log(camera);
				    camera.update();
				    camera.fitBox(2,2);	

				    sceneLayer1.add(stackHelper);
				    sceneLayer0.add(stackHelper2);			    


				    r1_camera.lookAt(centerLPS.x, centerLPS.y, centerLPS.z);
				    r1_camera.directions = [stack.xCosine,stack.yCosine,stack.zCosine];
				    r1_camera.box=box;
				    r1_camera.canvas=canvas;
				    // r1_camera.orientation='sagittal';
				    // r1_camera.orientation='coronal';
				    // r1_camera.orientation='axial';
				    r1_camera.stackOrientation=0;
				    r1_camera.update();
				    // stackHelper.orientation=r1_camera.stackOrientation;
				    // stackHelper2.orientation=r1_camera.stackOrientation;
				    r1_camera.fitBox(2,2);
				    // r1_camera.fitBox(2);

				    r2_camera.lookAt(centerLPS.x, centerLPS.y, centerLPS.z);
				    r2_camera.directions = [stack.xCosine,stack.yCosine,stack.zCosine];
				    r2_camera.box=box;
				    r2_camera.canvas=canvas;
				    r2_camera.stackOrientation=2;
				    r2_camera.update();
				    r2_camera.fitBox(2,2);				    

				    stackHelper.orientation=camera.stackOrientation;
				    stackHelper2.orientation=camera.stackOrientation;

				    r1_stackHelper.orientation=r1_camera.stackOrientation;
				    r1_stackHelper2.orientation=r1_camera.stackOrientation;	
				    r2_stackHelper.orientation=r2_camera.stackOrientation;
				    r2_stackHelper2.orientation=r2_camera.stackOrientation;					    			    

				    r1_sceneLayer1.add(r1_stackHelper);
				    r1_sceneLayer0.add(r1_stackHelper2);	

				    r2_sceneLayer1.add(r2_stackHelper);
				    r2_sceneLayer0.add(r2_stackHelper2);					    


				    // stackHelper.orientation=camera.stackOrientation;

					// console.log(stackHelper);
					// console.log(stack.rawData);
					// const value = 1;
					// for(let i = 0; i < stack._rawData[0].length; i+=1){
					//    // stack._rawData[0][i] =  (value) & 0x000000FF;
					//    // stack._rawData[0][i+1] = (value >>> 8) & 0x000000FF;
					//    // stack._rawData[0][i+2] = (value >>> 16) & 0x000000FF;
					//    // stack._rawData[0][i+3] = (value >>> 24) & 0x000000FF;
					//    if (stack._rawData[0][i] > 2) {
					//    	stack._rawData[0][i]=0;
					//    } 
					// }					
					// console.log(stackHelper.slice.stack.frame.length);

					// for (let m=0;m<stackHelper.slice.stack.frame.length;m++) {
					// 	// console.log(stackHelper.slice.stack.frame[m].pixelData.length);
					// 	for (let n=0;n<stackHelper.slice.stack.frame[m].pixelData.length;n++) {
					// 		stackHelper.slice.stack.frame[m].pixelData[n]=0;
					// 	} 
					// }

					// sceneLayer0.add(stackHelper);
					// sceneLayer1.add(stackHelper2);					



					// console.log(stackHelper);
					// console.log(stackHelper.stack.frame[0]);


					// console.log(tex);


					// console.log(sceneLayer0TextureTarget);

					// sceneLayer1TextureTarget.texture.flipY = false;
					// sceneLayer0TextureTarget.texture.flipY = true;
					// sceneLayer0TextureTarget.texture.needsUpdate = true;


				    let uniformsLayerMix = ShadersLayerUniform.uniforms();
				    uniformsLayerMix.uTextureBackTest1.value = sceneLayer1TextureTarget.texture;
				    uniformsLayerMix.uTextureBackTest0.value = sceneLayer0TextureTarget.texture;

				    uniformsLayerMix.uOpacity1.value=0.2;	
				    uniformsLayerMix.uOpacity0.value=1;	

				    uniformsLayer1.uLut.value = 1;
				    uniformsLayer1.uTextureLUT.value = lutLayer0.texture;				    

				    let fls = new ShadersLayerFragment(uniformsLayerMix);
				    let vls = new ShadersLayerVertex();
				    let materialLayerMix = new THREE.ShaderMaterial({
				      side: THREE.DoubleSide,
				      uniforms: uniformsLayerMix,
				      vertexShader: vls.compute(),
				      fragmentShader: fls.compute(),
				      transparent: true,
				    });		
				    let meshLayerMix = new THREE.Mesh(stackHelper.slice.geometry, materialLayerMix);
				    meshLayerMix.applyMatrix(stack._ijk2LPS);
				    sceneLayerMix.add(meshLayerMix);


				    uniformsLayerMix = ShadersLayerUniform.uniforms();
				    uniformsLayerMix.uTextureBackTest1.value = r1_sceneLayer1TextureTarget.texture;
				    uniformsLayerMix.uTextureBackTest0.value = r1_sceneLayer0TextureTarget.texture;

				    uniformsLayerMix.uOpacity1.value=0.2;	
				    uniformsLayerMix.uOpacity0.value=1;	

				    uniformsLayer1.uLut.value = 1;
				    uniformsLayer1.uTextureLUT.value = lutLayer0.texture;		    			    
				    fls = new ShadersLayerFragment(uniformsLayerMix);
				    vls = new ShadersLayerVertex();
				    materialLayerMix = new THREE.ShaderMaterial({
				      side: THREE.DoubleSide,
				      uniforms: uniformsLayerMix,
				      vertexShader: vls.compute(),
				      fragmentShader: fls.compute(),
				      transparent: true,
				    });		

				    meshLayerMix = new THREE.Mesh(r1_stackHelper.slice.geometry, materialLayerMix);
				    meshLayerMix.applyMatrix(stack._ijk2LPS);
				    r1_sceneLayerMix.add(meshLayerMix);		

				    uniformsLayerMix = ShadersLayerUniform.uniforms();
				    uniformsLayerMix.uTextureBackTest1.value = r2_sceneLayer1TextureTarget.texture;
				    uniformsLayerMix.uTextureBackTest0.value = r2_sceneLayer0TextureTarget.texture;

				    uniformsLayerMix.uOpacity1.value=0.2;	
				    uniformsLayerMix.uOpacity0.value=1;	

				    uniformsLayer1.uLut.value = 1;
				    uniformsLayer1.uTextureLUT.value = lutLayer0.texture;		    			    
				    fls = new ShadersLayerFragment(uniformsLayerMix);
				    vls = new ShadersLayerVertex();
				    materialLayerMix = new THREE.ShaderMaterial({
				      side: THREE.DoubleSide,
				      uniforms: uniformsLayerMix,
				      vertexShader: vls.compute(),
				      fragmentShader: fls.compute(),
				      transparent: true,
				    });		

				    meshLayerMix = new THREE.Mesh(r2_stackHelper.slice.geometry, materialLayerMix);
				    meshLayerMix.applyMatrix(stack._ijk2LPS);
				    r2_sceneLayerMix.add(meshLayerMix);	

				    // stackHelper.borderColor=0x212121;
				    stackHelper.borderColor=0x00ff00;
				    r1_stackHelper.borderColor=0xff1744;
				    r2_stackHelper.borderColor=0xffea00;


				    plane1 = stackHelper.slice.cartesianEquation();
				    plane2 = r1_stackHelper.slice.cartesianEquation();
				    plane3 = r2_stackHelper.slice.cartesianEquation();

				    // console.log(r1_stackHelper.borderColor);
				    let localizers=[
				        { plane: plane2, color: new THREE.Color(r1_stackHelper.borderColor) },
				        { plane: plane3, color: new THREE.Color(r2_stackHelper.borderColor) },
				    ];
				    localizerHelper = new AMI.LocalizerHelper(
				    	stack,
				    	stackHelper.slice.geometry,
				    	plane1
				    );
					for (let i = 0; i < localizers.length; i++) {
						localizerHelper['plane' + (i + 1)] = localizers[i].plane;
						localizerHelper['color' + (i + 1)] = localizers[i].color;
					}
				    localizerHelper.canvasWidth = renderer.domElement.clientWidth;
				    localizerHelper.canvasHeight = renderer.domElement.clientHeight;
				    localizerScene = new THREE.Scene();
				    localizerScene.add(localizerHelper);
				    renderer.render(localizerScene, camera);

				    localizers=[
				        { plane: plane1, color: new THREE.Color(stackHelper.borderColor) },
				        { plane: plane3, color: new THREE.Color(r2_stackHelper.borderColor) },
				    ];
				    r1_localizerHelper = new AMI.LocalizerHelper(
				    	stack,
				    	r1_stackHelper.slice.geometry,
				    	plane2
				    );
					for (let i = 0; i < localizers.length; i++) {
						r1_localizerHelper['plane' + (i + 1)] = localizers[i].plane;
						r1_localizerHelper['color' + (i + 1)] = localizers[i].color;
					}
				    r1_localizerHelper.canvasWidth = r1_renderer.domElement.clientWidth;
				    r1_localizerHelper.canvasHeight = r1_renderer.domElement.clientHeight;
				    r1_localizerScene = new THREE.Scene();
				    r1_localizerScene.add(r1_localizerHelper);
				    r1_renderer.render(r1_localizerScene, camera);		

				    localizers=[
				        { plane: plane1, color: new THREE.Color(stackHelper.borderColor) },
				        { plane: plane2, color: new THREE.Color(r1_stackHelper.borderColor) },
				    ];
				    r2_localizerHelper = new AMI.LocalizerHelper(
				    	stack,
				    	r2_stackHelper.slice.geometry,
				    	plane3
				    );
					for (let i = 0; i < localizers.length; i++) {
						r2_localizerHelper['plane' + (i + 1)] = localizers[i].plane;
						r2_localizerHelper['color' + (i + 1)] = localizers[i].color;
					}
				    r2_localizerHelper.canvasWidth = r2_renderer.domElement.clientWidth;
				    r2_localizerHelper.canvasHeight = r2_renderer.domElement.clientHeight;
				    r2_localizerScene = new THREE.Scene();
				    r2_localizerScene.add(r2_localizerHelper);
				    r2_renderer.render(r2_localizerScene, camera);		

				    sceneLayerMix.add(localizerScene);
				    r1_sceneLayerMix.add(r1_localizerScene);
				    r2_sceneLayerMix.add(r2_localizerScene);		



					  // worldbb = stack.worldBoundingBox();
					  // lpsDims = new THREE.Vector3(
					  //   worldbb[1] - worldbb[0],
					  //   worldbb[3] - worldbb[2],
					  //   worldbb[5] - worldbb[4]
					  // );


					  // box = {
					  //   center: stack.worldCenter().clone(),
					  //   halfDimensions:
					  //     new THREE.Vector3(lpsDims.x + 10, lpsDims.y + 10, lpsDims.z + 10),
					  // };

					  // canvas = {
					  //     width: threeD.clientWidth,
					  //     height: threeD.clientHeight,
					  //   };
					  // camera.directions = [stack.xCosine, stack.yCosine, stack.zCosine];
					  // console.log(camera.directions);
					  // camera.box = box;
					  // camera.canvas = canvas;
					  // camera.update();
					  // camera.fitBox(2);


				    function updateLayer1() {
				      // update layer1 geometry...
				      if (meshLayer1) {
				        meshLayer1.geometry.dispose();
				        meshLayer1.geometry = stackHelper.slice.geometry;
				        meshLayer1.geometry.verticesNeedUpdate = true;
				      }
				    }		

				    function updateLayerMix() {
				      // update layer1 geometry...
				      // console.log(meshLayerMix);
				      if (meshLayerMix) {
				        sceneLayerMix.remove(meshLayerMix);
				        meshLayerMix.material.dispose();
				        meshLayerMix.material = null;
				        meshLayerMix.geometry.dispose();
				        meshLayerMix.geometry = null;

				        // add mesh in this scene with right shaders...
				        meshLayerMix = new THREE.Mesh(stackHelper.slice.geometry, materialLayerMix);
				        // go the LPS space
				        meshLayerMix.applyMatrix(stackHelper.stack._ijk2LPS);

				        // console.log(meshLayerMix);

				        sceneLayerMix.add(meshLayerMix);
				      }
				    }				    		    				    		    					

				    function onScroll(e){
				    	// console.log(stackHelper.index,stackHelper2.index);
				    	// console.log(stackHelper2.index);
				    	if (e.delta>0) {
				    		stackHelper.index +=1;
				    		stackHelper2.index +=1;

				    	} else {
				    		stackHelper.index -=1;
				    		stackHelper2.index -=1;
				    	}
				    	updateLayer1();
				    	// updateLayerMix();

				    	let plane = stackHelper.slice.cartesianEquation();
				    	localizerHelper.referencePlane=plane;
						for (let j = 0; j < 3; j++) {
							let targetPlane = r1_localizerHelper['plane' + (j + 1)];
							if (
							  targetPlane &&
							  plane.x.toFixed(6) === targetPlane.x.toFixed(6) &&
							  plane.y.toFixed(6) === targetPlane.y.toFixed(6) &&
							  plane.z.toFixed(6) === targetPlane.z.toFixed(6)
							) {
							  r1_localizerHelper['plane' + (j + 1)] = plane;
							}
						}
						for (let j = 0; j < 3; j++) {
							let targetPlane = r2_localizerHelper['plane' + (j + 1)];
							if (
							  targetPlane &&
							  plane.x.toFixed(6) === targetPlane.x.toFixed(6) &&
							  plane.y.toFixed(6) === targetPlane.y.toFixed(6) &&
							  plane.z.toFixed(6) === targetPlane.z.toFixed(6)
							) {
							  r2_localizerHelper['plane' + (j + 1)] = plane;
							}
						}					    	
				    	r1_localizerHelper.geometry=r1_stackHelper.slice.geometry;					    	
				    }

				    function onScroll2(e){
				    	// console.log(r1_stackHelper.index,r1_stackHelper2.index);
				    	// console.log(stackHelper2.index);
				    	if (e.delta>0) {
				    		r1_stackHelper.index +=1;
				    		r1_stackHelper2.index +=1;

				    	} else {
				    		r1_stackHelper.index -=1;
				    		r1_stackHelper2.index -=1;
				    	}
				    	updateLayer1();
				    	// updateLayerMix();

				    	let plane = r1_stackHelper.slice.cartesianEquation();
				    	r1_localizerHelper.referencePlane=plane;
						for (let j = 0; j < 3; j++) {
							let targetPlane = localizerHelper['plane' + (j + 1)];
							if (
							  targetPlane &&
							  plane.x.toFixed(6) === targetPlane.x.toFixed(6) &&
							  plane.y.toFixed(6) === targetPlane.y.toFixed(6) &&
							  plane.z.toFixed(6) === targetPlane.z.toFixed(6)
							) {
							  localizerHelper['plane' + (j + 1)] = plane;
							}
						}
						for (let j = 0; j < 3; j++) {
							let targetPlane = r2_localizerHelper['plane' + (j + 1)];
							if (
							  targetPlane &&
							  plane.x.toFixed(6) === targetPlane.x.toFixed(6) &&
							  plane.y.toFixed(6) === targetPlane.y.toFixed(6) &&
							  plane.z.toFixed(6) === targetPlane.z.toFixed(6)
							) {
							  r2_localizerHelper['plane' + (j + 1)] = plane;
							}
						}					    	
				    	r1_localizerHelper.geometry=r1_stackHelper.slice.geometry;				    	
				    }

				    function onScroll3(e){
				    	// console.log(r2_stackHelper.index,r2_stackHelper2.index);
				    	// console.log(stackHelper2.index);
				    	if (e.delta>0) {
				    		r2_stackHelper.index +=1;
				    		r2_stackHelper2.index +=1;

				    	} else {
				    		r2_stackHelper.index -=1;
				    		r2_stackHelper2.index -=1;
				    	}
				    	updateLayer1();
				    	// updateLayerMix();

				    	let plane = r2_stackHelper.slice.cartesianEquation();
				    	r2_localizerHelper.referencePlane=plane;
						for (let j = 0; j < 3; j++) {
							let targetPlane = localizerHelper['plane' + (j + 1)];
							if (
							  targetPlane &&
							  plane.x.toFixed(6) === targetPlane.x.toFixed(6) &&
							  plane.y.toFixed(6) === targetPlane.y.toFixed(6) &&
							  plane.z.toFixed(6) === targetPlane.z.toFixed(6)
							) {
							  localizerHelper['plane' + (j + 1)] = plane;
							}
						}
						for (let j = 0; j < 3; j++) {
							let targetPlane = r1_localizerHelper['plane' + (j + 1)];
							if (
							  targetPlane &&
							  plane.x.toFixed(6) === targetPlane.x.toFixed(6) &&
							  plane.y.toFixed(6) === targetPlane.y.toFixed(6) &&
							  plane.z.toFixed(6) === targetPlane.z.toFixed(6)
							) {
							  r1_localizerHelper['plane' + (j + 1)] = plane;
							}
						}										    	
				        // for (let i = 0; i < r2_localizerHelper.length; i++) {
				        //   for (let j = 0; j < 3; j++) {
				        //     let targetPlane = r2_localizerHelper[i]['plane' + (j + 1)];
				        //     if (
				        //       targetPlane &&
				        //       plane.x.toFixed(6) === targetPlane.x.toFixed(6) &&
				        //       plane.y.toFixed(6) === targetPlane.y.toFixed(6) &&
				        //       plane.z.toFixed(6) === targetPlane.z.toFixed(6)
				        //     ) {
				        //       r2_localizerHelper[i]['plane' + (j + 1)] = plane;
				        //     }
				        //   }
				        // }


				    	r2_localizerHelper.geometry=r2_stackHelper.slice.geometry;
				    }				    				    

				    function onWindowKeyPressed(event) {
				      ctrlDown = event.ctrlKey;
				      if (!ctrlDown) {
				        drag.start.x = null;
				        drag.start.y = null;
				      }
				    }
				    document.addEventListener('keydown', onWindowKeyPressed, false);
				    document.addEventListener('keyup', onWindowKeyPressed, false);				    

				    function onMouseMove(event) {
				    	// console.log(event);
				      if (ctrlDown) {
				        if (drag.start.x === null) {
				          drag.start.x = event.clientX;
				          drag.start.y = event.clientY;
				        }
				        let threshold = 15;

				        stackHelper2.slice.intensityAuto = false;
				        r1_stackHelper2.slice.intensityAuto = false;
				        r2_stackHelper2.slice.intensityAuto = false;

				        let dynamicRange = stack2.minMax[1] - stack2.minMax[0];
				        dynamicRange /= threeD.clientWidth;

				        if (Math.abs(event.clientX - drag.start.x) > threshold) {
				          // window width
				          stackHelper2.slice.windowWidth += dynamicRange * (event.clientX - drag.start.x);
				          r1_stackHelper2.slice.windowWidth += dynamicRange * (event.clientX - drag.start.x);
				          r2_stackHelper2.slice.windowWidth += dynamicRange * (event.clientX - drag.start.x);
				          drag.start.x = event.clientX;
				        }

				        if (Math.abs(event.clientY - drag.start.y) > threshold) {
				          // window center
				          stackHelper2.slice.windowCenter -= dynamicRange * (event.clientY - drag.start.y);
				          r1_stackHelper2.slice.windowCenter -= dynamicRange * (event.clientY - drag.start.y);
				          r2_stackHelper2.slice.windowCenter -= dynamicRange * (event.clientY - drag.start.y);
				          drag.start.y = event.clientY;
				        }
				      }
				    }
				    document.addEventListener('mousemove', onMouseMove);


				    controls.addEventListener('OnScroll', onScroll);
				    r1_control.addEventListener('OnScroll',onScroll2);
				    r2_control.addEventListener('OnScroll',onScroll3);

				});							
		}
	}

</script>
<style scoped>


</style>