<template>
	<v-container>
		<v-layout>
		  <vue-table
		    :disable-cells="disableCells"
		    :drag-to-fill="dragToFill"
		    :headers="headers"
		    :new-data="newData"
		    :parent-element-scroll="0"
		    :sort-header="sortHeader"
		    :style-wrap-vue-table="styleWrapVueTable"
		    :submenu-tbody="submenuTbody"
		    :submenu-thead="submenuThead"
		    :tbody-data="products"
		    :tbody-index="tbodyIndex"
		    v-on:tbody-input-change="inputChange"
		    v-on:tbody-nav-backspace="deleteCell"
		    v-on:tbody-nav-multiple-backspace="deleteMultipleCell"
		    v-on:tbody-select-change="selectChange"
		    v-on:tbody-submenu-click-change-color="changeColorTbody"
		    v-on:tbody-up-dragtofill="handleUpDragToFill"
		    v-on:thead-submenu-click-change-value="changeValue"
		    v-on:thead-td-sort="sortProduct"
		    >
		 
		    <div slot="header">
		      Specific Header
		    </div>
		 
		  </vue-table>			
		</v-layout>
	</v-container>
</template>

<script>
	export default {
		name: "SpreadSheet",
		data() {
	    	return {
		      dragToFill: true,
		      disableCells: [],
		      sortHeader: true,
		      tbodyIndex: true,
		      styleWrapVueTable: {
		        width: '1200px',
		      },
		      headers: [
		        {
		          headerName: 'A',
		          headerKey: 'a',
		          style: {
		            width: '120px',
		            minWidth: '120px',
		            color: '#000',
		          },
		        },
		        {
		          headerName: 'B',
		          headerKey: 'b',
		          style: {
		            width: '120px',
		            minWidth: '120px',
		            color: '#000',
		          },
		        },
		        {
		          headerName: 'C',
		          headerKey: 'c',
		          style: {
		            width: '120px',
		            minWidth: '120px',
		            color: '#000',
		          },
		        },
		        {
		          headerName: 'D',
		          headerKey: 'd',
		          style: {
		            width: '120px',
		            minWidth: '120px',
		            color: '#000',
		          },
		        },
		        {
		          headerName: 'E',
		          headerKey: 'e',
		          style: {
		            width: '120px',
		            minWidth: '120px',
		            color: '#000',
		          },
		        },
		      ],
		      products: [
		        {
		          a: {
		            type: 'img',
		            value: 'https://via.placeholder.com/350x150',
		            active: false,
		            disabled: false,
		          },
		          b: {
		            type: 'input',
		            value: 'Jane',
		            active: false,
		            style: {
		              color: '#000',
		            },
		          },
		          c: {
		            type: 'input',
		            value: 'Paris',
		            active: false,
		            style: {
		              color: '#000',
		            },
		          },
		          d: {
		            type: 'input',
		            value: 'France',
		            active: false,
		            style: {
		              color: '#000',
		            },
		          },
		          e: {
		            type: 'input',
		            value: 'Boe',
		            active: false,
		            style: {
		              color: '#000',
		            },
		          },
		        },
		      ],
		      newData: {
		        type: 'input',
		        value: '',
		        active: false,
		        style: {
		          color: '#000',
		          background: '#cfffcf',
		        },
		      },
		      disableSortThead: ['a'],
		      submenuThead: [
		        {
		          type: 'button',
		          value: 'change color',
		          function: 'change-color',
		          disabled: ['a', 'b'],
		        },
		      ],
		      submenuTbody: [
		        {
		          type: 'button',
		          value: 'change color',
		          function: 'change-color',
		          disabled: ['a'],
		        },
		      ],
		      selectPosition: {
		        top: 0,
		        left: 0,
		      },
		    };
	  },
	  methods: {
	    handleUpDragToFill(selectedMultipleCell, entry, rowIndex, colIndex) {
	      console.log(selectedMultipleCell, entry, rowIndex, colIndex);
	    },
	    deleteMultipleCell(rowMin, colMin, keyValue) {
	      console.log(rowMin, colMin, keyValue);
	    },
	    replaceData(row, header) {
	      // console.log(row, header)
	    },
	    sortProduct(event, header, colIndex) {
	      // console.log('sort product');
	    },
	    deleteCell(event, actualElement, actualCol, rowIndex, colIndex) {
	      // console.log(event, actualElement, actualCol, rowIndex, colIndex);
	    },
	    inputChange(event, header, rowIndex, colIndex) {
	      // Called when <input /> change
	    },
	    selectChange(event, header, rowIndex, colIndex) {
	      // Called when <select></select> change
	    },
	    changeColor(event, header, rowIndex, colIndex, type, submenuFunction) {
	      if (type === 'input') {
	        this.headers[colIndex].style.color = '#e40000';
	      }
	    },
	    changeColorTbody(event, header, rowIndex, colIndex, type, submenuFunction) {
	      if (type === 'input') {
	        this.products[rowIndex][header].value = 'T-shirt';
	      }
	    },
	  },
	}
</script>