<template>
	<span>
		<v-system-bar window>
			<v-menu offset-y transition="slide-y-transition">
				<v-btn flat small right slot="activator">
					<v-icon>desktop_mac</v-icon> MENU
				</v-btn>
				<v-list>
					<v-list-tile @click="dialog = true">
						<v-list-tile-title>About</v-list-tile-title>
					</v-list-tile>
					<v-dialog v-model="dialog" max-width="300">
						<v-card>
							<v-card-title><h2>IntelliOS Imaging Work Station</h2></v-card-title>
							<v-card-text>Version 1.0.0</v-card-text>
							<v-card-actions>
								<v-spacer></v-spacer>
								<v-btn flat @click="dialog=false">OK</v-btn>
							</v-card-actions>
						</v-card>
					</v-dialog>
				</v-list>
			</v-menu>
			<v-spacer></v-spacer>
			IntelliOS Imaging Work Station
			<v-spacer></v-spacer>
			<v-icon>remove</v-icon>
			<v-icon>check_box_outline_blank</v-icon>
			<v-icon>close</v-icon>
		</v-system-bar>
<!-- 	    <v-toolbar app color="brown darken-4" dark>
	        <v-toolbar-side-icon></v-toolbar-side-icon>
	        <v-toolbar-title>{{appTitle}}</v-toolbar-title>
	        <v-btn flat>Menu</v-btn>
	        <v-spacer></v-spacer>
	        <v-btn flat>SIGN IN</v-btn>
	        <v-btn color="brown lighten-3">JOIN</v-btn>
	    </v-toolbar> -->	
	</span>
</template>

<script>
	export default {
		name : 'TitleBar',
		data () {
			return {
				dialog : false
			}
		},
	}
</script>

<style scoped>

</style>