<template>
  <v-app dark>
    <v-content transition="slide-x-transition">
      <v-container grid-list-lg>
      <v-card
        color="grey lighten-4"
        flat
        height="30px"
        tile
      >      
        <v-toolbar prominent extended>
          <!-- <v-app-bar-nav-icon></v-app-bar-nav-icon> -->
          <!-- <v-toolbar-title>IntelliOS Research Station</v-toolbar-title> -->
            <!-- <v-spacer></v-spacer> -->
            <v-menu 
            offset-y    
            :position-y=60
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  dark
                  text
                  v-on="on"
                  width="50px"
                  height="20px"
                >
                  File
                </v-btn>
              </template>

              <v-list>
<!--                 <v-list-item style="height:10px;min-height:10px" @click="">
                  <v-list-item-title style="font-size:0.8em;height:10px">
                    test
                  </v-list-item-title>
                </v-list-item> -->
                <v-list-item
                  v-for="(item, i) in items"
                  :key="i"
                  @click=""
                >
                  <v-list-item-title class="change-font">{{ item.title }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu> 
            <v-menu 
            offset-y    
            :position-y=60
            >
            <template v-slot:activator="{ on }">
              <v-btn
                dark
                text
                v-on="on"
                height="20px"
              >
                Edit
              </v-btn>
            </template>

            <v-list>
              <v-list-item
                v-for="(item, i) in items_edit"
                :key="i"
                @click=""
              >
                <v-list-item-title class="change-font">{{ item.title }}</v-list-item-title>
              </v-list-item>
            </v-list>
          </v-menu>  
            <v-menu 
            offset-y    
            :position-y=60
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  dark
                  text
                  v-on="on"
                  width="50px"
                  height="20px"
                >
                  View
                </v-btn>
              </template>

              <v-list>
                <v-list-item
                  v-for="(item, i) in items_view"
                  :key="i"
                  @click=""
                >
                  <v-list-item-title class="change-font">{{ item.title }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>  
            <v-menu 
            offset-y    
            :position-y=60
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  dark
                  text
                  v-on="on"
                  height="20px"
                  width="50px"
                >
                  Tools
                </v-btn>
              </template>

              <v-list>
                <v-list-item
                  v-for="(item, i) in items_tools"
                  :key="i"
                  @click=""
                >
                  <v-list-item-title class="change-font">{{ item.title }}</v-list-item-title>
                </v-list-item>
              </v-list>

            </v-menu> 
<!--             <v-spacer></v-spacer> -->
            <v-menu 
            offset-y    
            :position-y=60
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  dark
                  text
                  v-on="on"
                  width="50px"
                  height="20px"
                >
                  Window
                </v-btn>
              </template>

              <v-list>
                <v-list-item
                  v-for="(item, i) in items_window"
                  :key="i"
                  @click=""
                >
                  <v-list-item-title class="change-font">{{ item.title }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>  
<!--             <v-spacer></v-spacer> -->
            <v-menu 
            offset-y    
            :position-y=60
            >
              <template v-slot:activator="{ on }">
                <v-btn
                  dark
                  text
                  v-on="on"
                  height="20px"
                  width="50px"
                >
                  Help
                </v-btn>
              </template>

              <v-list>
                <v-list-item
                  v-for="(item, i) in items_help"
                  :key="i"
                  @click=""
                >
                  <v-list-item-title class="change-font">{{ item.title }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>                                                                 
          <v-spacer></v-spacer>
        <v-btn icon height="20px">
          <v-icon>search</v-icon>
        </v-btn>  
        <v-btn icon height="20px">
          <v-icon>favorite</v-icon>
        </v-btn>     
        <v-btn icon height="20px">
          <v-icon>more_vert</v-icon>
        </v-btn>                     
        </v-toolbar>      
       </v-card> 
       <!-- <v-divider dark></v-divider> -->
        <!-- <title-bar></title-bar> -->
        <v-tabs
          color="black"
          dark
          slider-color="yellow"
          grow
      background-color="blue-grey darken-2"
      class="elevation-2"          
        >
        <v-tab ripple>
          Research Panel
        </v-tab>
        <v-spacer></v-spacer> 
        <v-tab ripple>
          Registration
        </v-tab>
        <v-spacer></v-spacer> 
        <v-tab ripple>
          Segmentation
        </v-tab>                
        <v-spacer></v-spacer>
        <v-tab ripple>
            Beam
        </v-tab> 
        <v-spacer></v-spacer>   
        <v-tab ripple>
            Optimization
        </v-tab>                    
        <v-spacer></v-spacer>   
        <v-tab ripple>
            Dose
        </v-tab>  
<!--         <v-tab ripple>
          Plan View
        </v-tab>  
        <v-tab ripple>
          Dose Calculation
        </v-tab>  
        <v-tab ripple>
          Settings
        </v-tab>   -->   
      <v-tab-item>
        <!-- <cornerstone-canvas></cornerstone-canvas> -->
        <!-- <ami-display2></ami-display2> -->
        <!-- <quad-view></quad-view> -->
        <!-- <qua-panel></qua-panel> -->
        <!-- <label-view></label-view> -->
        <!-- <upload-view></upload-view> -->
        <!-- <draw-editor></draw-editor> -->
        <!-- <irs-panel></irs-panel> -->
        <label-panel></label-panel>

        <!-- <quad-label></quad-label> -->
      </v-tab-item>  
      <v-tab-item>
         <!-- <draw-editor></draw-editor> -->
         <seg-panel></seg-panel>
      </v-tab-item>    
<!--       <v-tab-item>
         <upload-view></upload-view>
      </v-tab-item> -->
<!--         <v-tab-item>
          <v-layout row>
            <v-flex md2>
               <patient-list-panel 
                :patientlist="patientlist"
                :selectedTrack="selectedTrack"
                @selecttrack="selectTrack"
                >  
              </patient-list-panel> 
              <v-spacer></v-spacer>          
              <playlist-panel 
                :playlist="playlist"
                :selectedTrack="selectedTrack"
                @selecttrack="selectTrack"
                >  
              </playlist-panel>
              <player-controls-bars
                @skiptrack="skip"
              >  
              </player-controls-bars>            
            </v-flex>
            <v-flex>
              <image-control-bar></image-control-bar>
              <canvas-display></canvas-display>
              <my-vuetable></my-vuetable>
              <!-- <spread-sheet></spread-sheet> -->
              <!-- <image-display></image-display> -->
            </v-flex>
            <v-flex>
              <!-- <history-panel></history-panel> -->
            </v-flex>
        </v-layout>
      </v-tab-item>           
<!--       <v-tab-item>
        <image-display></image-display>        
      </v-tab-item> -->

<!--       <v-tab-item>
      </v-tab-item>    -->         
      </v-tabs>
        <!-- <spread-sheet></spread-sheet> -->
      </v-container>
      <!-- <router-view></router-view> -->
    </v-content>
  </v-app>
</template>

<script>
  // import TitleBar from './components/TitleBar.vue'
  // import PlaylistPanel from './components/PlaylistPanel.vue'
  // import PlayerControlsBars from './components/PlayerControlsBars'
  // import ImageDisplay from './components/ImageDisplay'
  // import PatientListPanel from './components/PatientListPanel'
  // import ImageControlBar from './components/ImageControlBar'
  // import HistoryPanel from './components/HistoryPanel'
  // import CanvasDisplay from './components/CanvasDisplay'
  // import SpreadSheet from './components/SpreadSheet'
  // import MyVuetable from './components/MyVuetable'
  // import CornerstoneCanvas from './components/CornerstoneCanvas'
  import AmiDisplay from './components/AmiDisplay'
  import AmiDisplay2 from './components/AmiDisplay2'
  import QuadView from './components/QuadView'
  import QuaPanel from './components/QuaPanel'
  import LabelView from './components/LabelView'
  import UploadView from './components/UploadView'
  import DrawEditor from './components/DrawEditor'
  import IrsPanel from './components/IrsPanel'
  import LabelPanel from './components/LabelPanel'
  import QuadLabel from './components/QuadLabel'
  import SegPanel from './components/SegPanel'

  import { Multipane, MultipaneResizer } from 'vue-multipane';


  export default {
    components: {
      // TitleBar,
      // PlaylistPanel,
      // PlayerControlsBars,
      // ImageDisplay,
      // PatientListPanel,
      // ImageControlBar,
      // HistoryPanel,
      // CanvasDisplay,
      // // SpreadSheet,
      // MyVuetable,
      // CornerstoneCanvas,
      AmiDisplay,
      AmiDisplay2,
      QuadView,
      QuaPanel,
      LabelView,
      UploadView,
      DrawEditor,
      IrsPanel,
      LabelPanel,
      QuadLabel,
      SegPanel,
      Multipane,
      MultipaneResizer,
    },
    data() {
      return {
        patientlist : [
          {name:'patient-1', display: true},
          {name:'patient-2', display: true},
        ],
      items: [
        { title: 'Open Nifty' },
        { title: 'Open Dicom' },
        { title: 'Close' },
        { title: 'Exit' },
      ],   
      items_edit: [
        { title: 'Copy' },
        { title: 'Paste' },
        { title: 'Change Window Level' },
      ],
      items_view: [
        { title: 'Show Side Panel' },
        { title: 'Show Status Bar' },
        { title: 'Show Toolbar' },
      ],  
      items_tools: [
        { title: 'Optimization' },
        { title: 'Beam setup' },
      ],        
      items_window: [
        { title: 'Show Quadview Panel' },
        { title: 'Show 3D view window' },
      ],                        
      items_help: [
        { title: 'Visit IntelliOS.AI' },
        { title: 'About IntelliOS' },
      ],              
        playlist : [
          {title: "1.jpg", artist: "patient 1", howl: null, display: true},
          {title: "2.jpg", artist: "patient 1", howl: null, display: true},
          {title: "3.jpg", artist: "patient 1", howl: null, display: true},
          {title: "4.jpg", artist: "patient 1", howl: null, display: true},
          {title: "5.jpg", artist: "patient 1", howl: null, display: true},
          {title: "6.jpg", artist: "patient 1", howl: null, display: true},
          {title: "7.jpg", artist: "patient 1", howl: null, display: true},
          {title: "8.jpg", artist: "patient 1", howl: null, display: true},
          {title: "9.jpg", artist: "patient 1", howl: null, display: true},
          {title: "10.jpg", artist: "patient 1", howl: null, display: true},
          {title: "11.jpg", artist: "patient 1", howl: null, display: true},
          {title: "12.jpg", artist: "patient 1", howl: null, display: true},
          {title: "13.jpg", artist: "patient 1", howl: null, display: true},
          {title: "14.jpg", artist: "patient 1", howl: null, display: true},
          {title: "15.jpg", artist: "patient 1", howl: null, display: true},
          {title: "16.jpg", artist: "patient 1", howl: null, display: true}, 
          {title: "1.jpg", artist: "patient 1", howl: null, display: true},
          {title: "2.jpg", artist: "patient 1", howl: null, display: true},
          {title: "3.jpg", artist: "patient 1", howl: null, display: true},
          {title: "4.jpg", artist: "patient 1", howl: null, display: true},
          {title: "5.jpg", artist: "patient 1", howl: null, display: true},
          {title: "6.jpg", artist: "patient 1", howl: null, display: true},
          {title: "7.jpg", artist: "patient 1", howl: null, display: true},
          {title: "8.jpg", artist: "patient 1", howl: null, display: true},
          {title: "9.jpg", artist: "patient 1", howl: null, display: true},
          {title: "10.jpg", artist: "patient 1", howl: null, display: true},
          {title: "11.jpg", artist: "patient 1", howl: null, display: true},
          {title: "12.jpg", artist: "patient 1", howl: null, display: true},
          {title: "13.jpg", artist: "patient 1", howl: null, display: true},
          {title: "14.jpg", artist: "patient 1", howl: null, display: true},
          {title: "15.jpg", artist: "patient 1", howl: null, display: true},
          {title: "16.jpg", artist: "patient 1", howl: null, display: true},                  
        ],
        selectedTrack: null,
        index : 0, 
      }
    },
    computed:{
      currentTrack(){
        return this.playlist[this.index]
      },
    },
    methods:{
      selectTrack(track){
        this.selectedTrack=track
      },
      skip(direction){
        let index=0
        if (direction==="next"){
          index=this.index+1
          if (index>=this.playlist.length){
            index=0
          }
        } else {
          index=this.index-1
          if (index<0) {
            index=this.playlist.length-1
          }
        }
        this.skipTo(index)
      },
      skipTo(index){
        if (this.currentTrack) {

        }
        this.play(index)
      },
      play(index){
        let selectedTrackIndex = this.playlist.findIndex(track=>track==this.selectedTrack)

        if (typeof index === 'number') {
          index = index 
        } else if (this.selectedtrack) {
          if (this.selectedTrack != this.currentTrack) {

          }
          index = selectedTrackIndex
        } else {
          index = this.index
        }

        this.selectedTrack=this.playlist[index]
        this.index=index
      }
    }
  }
</script>


<style>
  .v-toolbar{
    -webkit-user-select: none;
    -webkit-app-region: drag;   
  }
  .v-btn{
    /*-webkit-user-select: none;*/
    -webkit-app-region: no-drag;   
  }  
  .v-tab{
    /*-webkit-user-select: none;*/
    -webkit-app-region: no-drag;   
  }    
  .v-btn {
    font-size: 0.8em;
  }
/*  .v-list-item-title {
    font-size: 0.8em;
    max-height: 10px;
  }  */
  .v-list-item {
    /*font-size: 0.8em;*/
    /*height: 5px;
    /*max-height:10px;*/
    min-height:30px;
  }
  .change-font {
    /*font-family: "Arial", Helvetica, sans-serif;*/
    font-size: 0.8em;
    /*height: auto;
    /*height: 10px;*/
/*     margin: 5px;
    border-radius: 4px;*/   
  }
/*  .list--dense.fix .list__tile__title {
  height: 20px;
  }*/
  ::-webkit-scrollbar {
    display: none;
}
</style>